﻿
@model SyndicationRegistration

@{
    Layout = "~/Views/Shared/_layoutLandingPages.cshtml";

	BaseModel baseModel = ViewBag.BaseModel as BaseModel;
	
}


@section Header 
{
	<title>@Model.ResellerName Syndication Registration</title>
	<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/assets/script/si.020.date.js"></script>

	<style>
		body {
			margin: 0;
			overflow-x: hidden;
		}

	</style>

	<script>
		var AuthTimer = null;
		var socialPoleCount = 0;
		var haveFacebook = false;
		var facebookPageID = '';
		var pageUrl = '';
		var kendoValidator;
		var submitCount = 0;
		var selectedProducts = [];

		$(function() {
			kendoValidator = $("#formRegistration").kendoValidator().data("kendoValidator");
			SIGlobal.placeHolderSim(this);
			$(".ico-required").attr("title", "Required");
			$("#TimeZoneAbrv").val(Date.today().toLongTimeString());

			$("#Step1Button").click(function() {
				$("#Page1").fadeOut("fast", function() {
					$("#Page2").fadeIn("fast");
				});
			});

			$("#FacebookLoginButton").click(function() {
				//$("#UserDetails").fadeIn("fast");  // uncomment if you want to test with Faceback callback, comment out line below
				OpenAuthWindow("@Html.Raw(Model.FacebookLoginURL)", "facebook");
			});

			var selected = $("#SelectedPackages").val();
			if (selected != "") {
				selectedProducts = selected.split(',');
			}

			$(".productSelect").click(function () {
				$("#Products_validationMessage").hide();
				var chkbx = $(this);
				if (chkbx.data("initvalue") == "True") {
					chkbx.prop("checked", true);
					return;
				}

				if (chkbx.is(':checked')) {
					selectedProducts.push(chkbx.data("id"));
				} else {
					selectedProducts.splice($.inArray(chkbx.data("id"), selectedProducts), 1);
				}

				$("#SelectedPackages").val(selectedProducts.join());
			});
		})

		function BeginSubmit() {
			if (submitCount > 0) return false;
			submitCount++;

			if (selectedProducts.length == 0) {
				$("#Products_validationMessage").show();
				submitCount = 0;
				return false;
			}
		}

		function SaveFailure() {
			SIGlobal.formSaveFailure();
			submitCount = 0;
		}

		function InfoSave(response) {
			submitCount = 0;

			if (response.success) {
				$("#Page2").fadeOut("fast", function() {
					$("#Page3").fadeIn("fast");
				})
			} else
				$("#resultSave").html(response.message);

		}

		function OpenAuthWindow(loginUrl, network) {
			window.open(loginUrl, "Connection Login", "width=600,height=300,toolbar=no,status=no,resizable=no,scrollbars=no,modal=yes");

			if (AuthTimer != null) {
				clearInterval(AuthTimer);
				socialPoleCount = 0;
			}

			AuthTimer = setInterval(function() {
				if (socialPoleCount < 300) {
					socialPoleCount++;

					var stateContext = '@Model.FacebookStateContext';

					$.get("/public/GetSocialAuthCode?stateContext=" + stateContext, function(data) {
						if (data.code != "") {
							clearInterval(AuthTimer);
							$(".image-button").hide();
							kendo.ui.progress($("#Page2"), true);

							$("#accountPicker").load('@Url.Action("FacebookAccounts", "LandingPages", new {area = "LandingPages"})' + '?code=' + data.code + '&accessToken=@(Model.AccessToken)', function() {
								kendo.ui.progress($("#Page2"), false);
							});
						}
					}
					);
				} else {
					clearInterval(AuthTimer);
					socialPoleCount = 0;
					AuthTimer = null;
				}
			}, 1000);
		}

		function LoadAccountFromFB(facebookID, website, network) {
			facebookPageID = facebookID;
			pageUrl = website;
			$("#FacebookPageID").val(facebookID);
			kendo.ui.progress($("#Page2"), true);

			$.get('@Url.Action("GetFacebookAccountDetails", "Admin", new {area = "Admin"})' + '?facebookAccountID=' + facebookID, function(data) {
				kendo.ui.progress($("#Page2"), false);
				if (data.Success == true) {
					$("#AccountName").val(data.Name);
					$("#Address").val(data.StreetAddress1);
					$("#City").val(data.CityName);
					$("#Zipcode").val(data.PostalCode);
					$("#CountryID").data("kendoDropDownList").select(function(ditem) {
						return ditem.Name == data.CountryName;
					});
					$("#StateID").data("kendoDropDownList").select(function(ditem) {
						return ditem.Abbreviation == data.StateAbbreviation;
					});

					$("#Phone").val(data.PhoneNumber);
					$("#WebSiteUrl").val(data.WebsiteURL);

					//$("#FaceBookAccounts").fadeOut("fast", function() {
					$("#UserDetails").fadeIn("fast");
					$('html, body').animate({
						scrollTop: $("#ButtonUserInfo").offset().top
					}, 1000);
					//});
				} else {
					SIGlobal.alertDialog("Facebook Account", data.Message, "e");
				}
			});
		}

		function filterStates() {
			return { countryID: $("#CountryID").val() };
		}

		function showUserInfo() {
			if (kendoValidator.validateInput($("#AccountName")) &&
				kendoValidator.validateInput($("#Address")) &&
				kendoValidator.validateInput($("#City")) &&
				kendoValidator.validateInput($("#StateID")) &&
				kendoValidator.validateInput($("#Zipcode")) &&
				kendoValidator.validateInput($("#Phone")) &&
				kendoValidator.validateInput($("#VerticalMarketID"))) {
				$("#NextUserInfoButton").hide();
				$("#UserInfo").fadeIn("fast");
				$("#NextProductButton").show();
				$('html, body').animate({
					scrollTop: $("#NextProductButton").offset().top
				}, 1000);
			} 
		}

		function showProducts() {
			if (kendoValidator.validate()) {
				$("#NextProductButton").hide();
				$("#Products").fadeIn("fast");
				$("#NextRegisterButton").show();
				$('html, body').animate({
					scrollTop: $("#NextRegisterButton").offset().top
				}, 1000);
			}
		}
		
	</script>
}

<div class="registration-page">
	<div id="ResellerHeader" class="header">
		@Html.Partial(Model.HeaderView)
	</div>

	<div id="Page1" class="page">

		<div id="Marketing" class="marketing">
			@Html.Partial(Model.MarketingView)
			
			<div class="centered" style="padding-bottom: 40px;">
				<button id="Step1Button" class="signup-button" style="margin: 0 auto; display: block;">Connect Now</button>
			</div>
		</div>
	
	</div>
	
	<div id="Page2" class="page" style="display: none;">
		<div class="intro">
			<p>To Get started we will need some basic information about your business. We can get most of what we need from Facebook.</p>
		</div>
		
		<div style="width: 100%; margin-top: 30px;">
			<div id="FaceBookAccounts" style="margin: 10px;">
				<img id="FacebookLoginButton" src="~/assets/images/login-with-facebook.png" class="image-button" />
				<div style="font-size: 12px; width: 500px; margin: 0 auto;" id="accountPicker"></div>
			</div>

		</div>
		
		<div id="UserDetails" class="user-details" style="display: none;">
			@using (Ajax.BeginForm("SaveSyndicationRegistration", "LandingPages", new { area = "LandingPages" },
			                       new AjaxOptions
				                       {
										   OnBegin = "BeginSubmit",
										   OnSuccess = "InfoSave",
					                       OnFailure = "SaveFailure",
										   LoadingElementId = "LoadingIconSave",
										   LoadingElementDuration = 2000
				                       }, new {@id = "formRegistration"}))
			{
				@Html.HiddenFor(m => m.FacebookPageID)
				@Html.HiddenFor(m => m.SelectedPackages)
				@Html.HiddenFor(m => m.ResellerID)
				@Html.HiddenFor(m => m.SyndicatorID)
				@Html.HiddenFor(m => m.PreferedParentAccountID)
				@Html.HiddenFor(m => m.SocialAppID)
				@Html.HiddenFor(m => m.AccessToken)
				@Html.HiddenFor(m => m.TimeZoneAbrv)

				<div id="EntrySection">
					<table style="margin: 0 auto;width: 388px;">
						<tr>
							<td colspan="2">
								@Html.TextBoxFor(m => m.AccountName, new {style = "width: 340px;", placeholder = "Account Name ..."})
								<span class="ico ico-required"></span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
									@(Html.Kendo().DropDownListFor(m => m.CountryID)
									  .DataTextField("Name")
									  .DataValueField("ID")
									  .SelectedIndex(1)
									  .HtmlAttributes(new { style = "width:280px;" })
									  .OptionLabel("Select Country...")
									  .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "countries" })))
										  )
								<span class="ico ico-required"></span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								@Html.TextBoxFor(m => m.Address, new {style = "width: 340px;", placeholder = "Address ..."})
								<span class="ico ico-required"></span>
							</td>
						</tr>
						<tr>
							<td>
								@Html.TextBoxFor(m => m.City, new {style = "width: 120px;", placeholder = "City ..."})
								<span class="ico ico-required"></span>
							</td>
							<td>
								@(Html.Kendo().DropDownListFor(m => m.StateID)
								      .HtmlAttributes(new { style = "width:192px;" })
								      .OptionLabel("Select Country & State/Province...")
								      .DataTextField("Name")
								      .DataValueField("ID")
								      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "states" }).Data("filterStates")).ServerFiltering(true))
								      .Enable(true)
								      .AutoBind(true)
								      .CascadeFrom("CountryID")
									  )
								<span class="ico ico-required"></span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								@Html.TextBoxFor(m => m.Zipcode, new {style = "width: 100px;", placeholder = "Postal Code ..."})
								<span class="ico ico-required"></span>
							</td>
						</tr>
						
						<tr>
							<td colspan="2">
								@Html.TextBoxFor(m => m.Phone, new {style = "width: 340px;", placeholder = "Phone (123)123-1234 ..."})
								<span class="ico ico-required"></span>						
							</td>
						</tr>
						<tr>
							<td colspan="2">
								@Html.TextBoxFor(m => m.WebSiteUrl, new {style = "width: 340px;", placeholder = "Website ..."})
							</td>
						</tr>
						<tr>
							<td colspan="2">
								@(Html.Kendo().DropDownListFor(m => m.VerticalMarketID)
									.DataTextField("Name")
									.DataValueField("ID")
									.HtmlAttributes(new { style = "width:350px;" })
									.OptionLabel("Vertical Market ...")
									.BindTo(Model.VerticalMarkets)
									  )
								<span class="ico ico-required"></span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								@(Html.Kendo().MultiSelectFor(m => m.FranchiseTypeIDs)
									.Placeholder(Model.VerticalMarketID == 1 ? "Franchises ..." : "Interest ...")
								    .DataTextField("Name")
								    .DataValueField("ID")
								    .HtmlAttributes(new { style = "width:350px;" })
								    .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "franchises" })))
								)
							</td>
						</tr>
					</table>
					
					<div id="NextUserInfoButton" style="margin-top: 10px;text-align: center;">
						@Html.Kendo().Button().Name("ButtonUserInfo").Icon("arrowhead-e").Content("Next Infomation about you...").HtmlAttributes( new {type = "button"} ).Events(e => e.Click("showUserInfo"))
					</div>

					<div id="UserInfo" style="display: none;margin-top: 10px;margin-bottom: 10px;">
						<table style="margin: 0 auto;width: 368px;">
							<tr>
								<td colspan="3"><p>We need some basic information about you.</p></td>
							</tr>
							<tr>
								<td colspan="3">
									@Html.TextBoxFor(m => m.FirstName, new {style = "width: 145px;", placeholder = "First Name ..."})
									<span class="ico ico-required"></span>
									&nbsp;
									@Html.TextBoxFor(m => m.LastName, new {style = "width: 150px;", placeholder = "Last Name ..."})
									<span class="ico ico-required"></span>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									@Html.TextBoxFor(m => m.PhonePerson, new {style = "width: 335px;", placeholder = "Phone (123)123-1234 ..."})
									<span class="ico ico-required"></span>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									@Html.TextBoxFor(m => m.Email, new {style = "width: 335px;", placeholder = "Email ..."})
									<span class="ico ico-required"></span>
								</td>
							</tr>
						</table>
					</div>	

					
					<div id="NextProductButton" style="text-align: center; display: none;">
						@Html.Kendo().Button().Name("ButtonProducts").Icon("arrowhead-e").Content("Next Products...").HtmlAttributes( new {type = "button"} ).Events(e => e.Click("showProducts"))
					</div>
					
					<div id="Products" class="products" style="display: none;">
						<p>What products are you interested in?</p>
						<span id="Products_validationMessage" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="display: none;" role="alert">
							<span class="k-icon k-warning"> </span>
							Please select at least one Product.
						</span>
						<div class="list">
							@foreach (RegistrationPackages package in Model.Packages)
							{
								<text>	
									<div><input type="checkbox" class="productSelect" id="package_@package.ID" data-id="@package.ID" @(package.Selected ? "checked=checked": "") data-initvalue="@package.Selected"/><label for="package_@package.ID">@package.Name</label></div>							
								</text>
							}
						</div>
					</div>
					
					<div id="NextRegisterButton" style="margin-top: 20px;text-align: center; display: none;">
						@(Html.Kendo().Button()
								.Name("ButtonRegister")
								.Icon("tick").Content("Final Step Register <span id='LoadingIconSave' style='padding-left: 5px; display: none;'><img src='/assets/style/aristo/images/loading.gif' style='vertical-align: middle;' /></span>")
							  )
						
						<div id="resultSave" class="update-timestamp" ></div>
					</div>
				</div>
	   
			}
			
			
			
		</div>
	</div>
	
	<div id="Page3" class="page" style="display: none;">
		@Html.Partial(Model.WelcomeView)
	</div>

</div>



