﻿@{
	ViewBag.Title = "SOCIALDEALER Syndication Unsubscribe";
	Layout = "~/Views/Shared/_layoutLandingPages.cshtml";
}


@section Header 
{
	<title>SOCIALDEALER Syndication Unsubscribe</title>

}

<div class="landingpage">
	<div class="title-bar">@ViewBag.Message</div>
</div>
