﻿<div bgcolor="#eeeeee" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: gray; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0; text-align: left;">
    <div style="background: #eee; margin: 0; padding: 0;">
        <table class="head-wrap" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                <td class="header container" align="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 840px !important; clear: both !important; margin-left: 10px; padding: 0;">


                    <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 840px; display: block; margin-left: 10px; padding: 15px;">
                    <td class="header container" align="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; padding: 0;">


                        <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; padding: 15px;">
                            <table bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
                                <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                        <img src="[$ResellerLogo$]" class="socLogo" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;"></td>
                                </tr>
                            </table>
                        </div>

                    </td>
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            </tr>
        </table>
        <table class="head-wrap" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9&gt;&#10;&#9;&#9;&lt;td height=">
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9 class=" header="" container="" align="">



                    <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 840px; display: block; margin-left: 0px;">
                        <table bgcolor="#eeeeee" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;" height="9" border="0" cellspacing="0" cellpadding="0">
                            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9">
                                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9">
                                    <img src="http://cdn.socialintegration.com/contentsyndication/sd/ribbonTop.png" style="vertical-align: bottom; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin-left: 25px; height: 9px;"></td>
                            </tr>
                        </table>
                    </div>

                </td>
                <td height="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" class="body-wrap" bgcolor="" style="width: 100%; margin: 0; padding: 0;">
            <tbody style="margin: 0; padding: 0;">
                <tr style="margin: 0; padding: 0;">
                    <td class="container" bgcolor="#FFFFFF" style="display: block !important; width: 840px !important; clear: both !important; margin-left: 10px; padding: 0;">
                        <div class="content" style="width: 100%; display: block; margin-left: 10px; padding: 0 15px 15px;">
                            <table border="0" cellspacing="0" cellpadding="0" style="width: 99%; margin: 0; padding: 0px 0px 0px 0px;">
                                <tbody style="margin: 0; padding: 0;">
                                    <tr style="margin: 0; padding: 0;">
                                        <td style="margin: 0; padding: 0;">
                                            <img class="ribbonBottom" src="http://cdn.socialintegration.com/contentsyndication/sd/ribbonBottom.png" align="left" style="max-width: 100%; margin: 0; padding: 0 25px 0 0; padding-right: 25px;">
                                            <h1 style="font-size: 28px; font-weight: normal; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #333; margin: 0 0 15px; padding: 15px 0 0; margin-bottom: 15px;">Reputation Snapshot</h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="width: 100%; padding: 0px 0px 0px 20px;">
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr style="background-color: #efefef; font-weight: bold; font-size: 20px; border: 1px solid #000; text-align: left;">
                                    <td colspan="7" style="width: 100%;">Reputation Snapshot ([$AccountName$])</td>
                                </tr>
                                <tr style="background-color: white; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">
                                    <td style="width: 15%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Month: </td>
                                    <td style="width: 85%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="6">[$Month$] - [$Year$]</td>
                                </tr>
                                <tr style="background-color: white; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">
                                    <td style="width: 20%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Total Reviews: </td>
                                    <td style="width: 40%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="3">[$TotalReviews$]</td>
                                    <td style="width: 20%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Avg Rating: </td>
                                    <td style="width: 45%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="2">[$AvgRating$]</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">&nbsp;</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month6$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month5$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month4$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month3$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month2$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Avg Rating:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$AvgRating_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$AvgRating_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$AvgRating_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$AvgRating_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$AvgRating_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$AvgRating_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">New Reviews:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewReviews_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewReviews_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewReviews_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewReviews_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewReviews_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewReviews_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Positive:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PositivePercent_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PositivePercent_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PositivePercent_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PositivePercent_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PositivePercent_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PositivePercent_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Negative:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NegativePercent_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NegativePercent_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NegativePercent_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NegativePercent_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NegativePercent_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NegativePercent_Month1$]</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">Review Sources</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">New Reviews</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; background-color: #efefef; font-weight: bold; font-size: 16px; text-align: center; padding-left: 5px;">New Review Rating</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Total</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Positive</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Negative</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Rating</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Google</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$Google_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Yelp</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Yelp_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$Yelp_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Yelp_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Yelp_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Yelp_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Yelp_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Cars.com</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarsDotcom_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$CarsDotcom_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarsDotcom_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarsDotcom_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarsDotcom_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarsDotcom_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Edmunds</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Edmunds_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$Edmunds_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Edmunds_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Edmunds_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Edmunds_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Edmunds_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Yahoo Local</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YahooLocal_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$YahooLocal_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YahooLocal_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YahooLocal_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YahooLocal_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YahooLocal_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Yellow Pages</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YellowPages_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$YellowPages_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YellowPages_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YellowPages_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YellowPages_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$YellowPages_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">DealerRater</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$DealerRater_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$DealerRater_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$DealerRater_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$DealerRater_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$DealerRater_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$DealerRater_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Judy's Book</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$JudysBook_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$JudysBook_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$JudysBook_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$JudysBook_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$JudysBook_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$JudysBook_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Citysearch</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Citysearch_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$Citysearch_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Citysearch_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Citysearch_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Citysearch_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Citysearch_Rating$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Car Dealer Reviews</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarDealerReviews_NewReview$]</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">[$CarDealerReviews_NewReviewRating$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarDealerReviews_Total$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarDealerReviews_PositivePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarDealerReviews_NegativePercent$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$CarDealerReviews_Rating$]</td>
                                </tr>
                            </table>
                            <br />
                        </div>
                    </td>
                    <td height="0" style="margin: 0; padding: 0;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
