﻿<div bgcolor="#eeeeee" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: gray; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0; text-align: left;">
    <div style="background: #eee; margin: 0; padding: 0;">
        <table class="head-wrap" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
                <td class="header container" align="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin-left: 10px; padding: 0;">


                    <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 840px; display: block; margin-left: 10px; padding: 15px;">
                        <table bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
                            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                    <img src="http://cdn.socialintegration.com/resellers/sd/Social-Dealer-logo.png" class="socLogo" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;"></td>
                            </tr>
                        </table>
                    </div>

                </td>
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            </tr>
        </table>
        <table class="head-wrap" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9&gt;&#10;&#9;&#9;&lt;td height=">
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9 class=" header="" container="" align="">


                    <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 840px; display: block; margin-left: 10px;">
                        <table bgcolor="#eeeeee" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;" height="9" border="0" cellspacing="0" cellpadding="0">
                            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9">
                                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9">
                                    <img src="http://cdn.socialintegration.com/contentsyndication/sd/ribbonTop.png" style="vertical-align: bottom; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin-left: 25px; height: 9px;"></td>
                            </tr>
                        </table>
                    </div>

                </td>
                <td height="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" class="body-wrap" bgcolor="" style="width: 100%; height:100%; margin: 0; padding: 0;">
            <tbody style="margin: 0; padding: 0;">
                <tr style="margin: 0; padding: 0;">
                    <td class="container" bgcolor="#FFFFFF" style="display: block !important; width: 840px !important; clear: both !important; margin-left: 10px; padding: 0;">
                        <div class="content" style="width: 100%; display: block; margin-left: 10px; padding: 0 15px 15px;">
                            <table border="0" cellspacing="0" cellpadding="0" style="width: 99%; margin: 0; padding: 0px 0px 0px 0px;">
                                <tbody style="margin: 0; padding: 0;">
                                    <tr style="margin: 0; padding: 0;">
                                        <td style="margin: 0; padding: 0;">
                                            <img class="ribbonBottom" src="http://cdn.socialintegration.com/contentsyndication/sd/ribbonBottom.png" align="left" style="max-width: 100%; margin: 0; padding: 0 25px 0 0; padding-right: 25px;">
                                            <h1 style="font-size: 28px; font-weight: normal; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #333; margin: 0 0 15px; padding: 15px 0 0; margin-bottom: 15px;">Reputation Snapshot</h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                        <div style="width: 100%; padding: 0px 0px 0px 20px;">
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr style="background-color: #efefef; font-weight: bold; font-size: 20px; border: 1px solid #000; text-align: left;">
                                    <td colspan="7" style="width: 100%;">Reputation Snapshot (Castle Chevrolet)</td>
                                </tr>
                                <tr style="background-color: white; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">
                                    <td style="width: 15%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Month: </td>
                                    <td style="width: 85%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="6">June - 2014</td>
                                </tr>
                                <tr style="background-color: white; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">
                                    <td style="width: 20%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Total Reviews: </td>
                                    <td style="width: 40%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="3">734</td>
                                    <td style="width: 20%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Avg Rating: </td>
                                    <td style="width: 45%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="2">3.9</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">&nbsp;</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">January</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">February</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">March</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">April</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">May</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">June</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Avg Rating:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.5</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.3</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.2</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">5.0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">2.3</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.0</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">New Reviews:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">20</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">10</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">5</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">1</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">3</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">1</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Positive:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">85%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">80%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">80%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">100%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">33%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">100%</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Negative:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">15%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">20%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">20%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">67%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">Review Sources</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">New Reviews</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; background-color: #efefef; font-weight: bold; font-size: 16px; text-align: center; padding-left: 5px;">New Review Rating</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Total</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Positive</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Negative</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">Rating</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Google</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">1</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">4.0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">350</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">90%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">10%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.5</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Yelp</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">19</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">63%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">37%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">3.5</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Cars.com</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">22</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">77%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">23%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.1</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Edmunds</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">19</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">93%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">7%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.5</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Yahoo Local</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">19</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">3.5</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Yellow Pages</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">DealerRater</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">292</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">95%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">5%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">4.7</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Judy's Book</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Citysearch</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">3</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">100%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">5.0</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Car Dealer Reviews</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="border-style: solid; border-width: 1px 2px 1px 1px; border-color: #666666 #000000 #666666 #666666; width: 13%; font-weight: normal; font-size: 15px; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0%</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">0</td>
                                </tr>
                            </table> 
                            <br />                                                       
                        </div>
                    </td>                    
                </tr>
            </tbody>
        </table>         
               
    </div>
    
</div>
