﻿<tr style="margin: 0 auto;padding: 0;">
    <td style="max-width: 50px !important;clear: both !important;margin: 0 auto;padding: 0;">&nbsp;</td>
    <td style="max-width: 100% !important;clear: both !important;margin: 0 auto;padding: 0; background-color: rgb(236, 238, 243);">
        <div style="font-size: 12px; padding: 0px 0px 0px 0px; font-weight: bold; width: 100%">
            <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: normal;float: left;">[$CommentCreatedDate$]</div>
            <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: bold;float: left;">[$CommentAuthor$]</div>    
            <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: normal;float: left;">[$CommentDescription$]</div>    
            <div style="float:none"></div>
        </div>
    </td>
</tr>