﻿@{
    ViewBag.PageTitle = "Approval History";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

    BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}
@section Header
{
    <script src="~/Areas/DashBoard/Views/Dashboard/Approvals.min.js"></script>
    <script>
        gridSelector = "#ApprovalHistoryGrid";
    </script>
}

<script type="text/x-kendo-template" id="description-template">
    <div>#=description#</div>
    #if (imageUrl != "") {#
    <a href="javascript:ShowImage('#=imageUrl#');">View Image</a>
    #}#
    #if (link != "") {#
    <div>
        <a href='#=link#
        ' target='_blank'>#=link#</a>
    </div>
    #}#
</script>

<script type="text/x-kendo-template" id="action-history-template">
    #if ((status == "Approved" || status == "Auto Approved")) {#
        @*#if(allowUnApprove){#
            <div class='k-button unapprove-post' style='width:100%;'>
                <span class='n-ico ico-selected' title='UnApprove' data-id='#=ID#'></span> UnApprove
            </div>
        #}#*@
        #if(allowDeny){#
            <div class='k-button reject-post' style='margin-top:3px; width:100%;'>
                <span class='n-ico ico-exclamation' title='Deny' data-id='#=ID#'></span> &nbsp;Deny
            </div>
        #}#
    #} else if (status == "Rejected") {#
        #if(allowApprove){#
            <div class='k-button approve-post' style='width:100%;'>
                <span class='n-ico ico-selected' title='Approve' data-id='#=ID#'></span> Approve
            </div>
        #}#
        @*#if(allowUnDeny){#
            <div class='k-button unreject-post' style='margin-top:3px; width:100%;'>
                <span class='n-ico ico-exclamation' title='Deny' data-id='#=ID#'></span> &nbsp;UnDeny
            </div>
        #}#*@
    #}#

    #if (allowEdit) {#
        <div class='k-button edit-post' style='margin-top:3px; width:100%;'>
            <span class='n-ico ico-edit' title='Edit' data-id='#=ID#'></span> &nbsp;Edit
        </div>
    #}#
</script>
<div class="notificaton-manage">

    <div class="header">
        <span class="section"> <span class="n-ico ico-history"></span> APPROVAL HISTORY </span>

        <span style="margin-left: 20px;" id="saveResults"></span>
        <div style="display: inline-block; float: right;">

        </div>
    </div>
    <div class="fcl"></div>
    <div id="window" style="background-color: #EFEFEF;"></div>
    <div class="notification-grid">
        @(Html.Kendo()
              .Grid<NotificationsApprovalHistory>()
              .Name("ApprovalHistoryGrid")
              .Columns(columns =>
              {
                  columns.Bound(c => c.Status).Title("Status").HtmlAttributes(new { @class = "centered-column" }).Width(80);
                  columns.Bound(c => c.AlertDateLocal).Title("Sched For").ClientTemplate("<div>#=AlertDateLocalText#</div><div class='timezone'>#=TimeZone#</div>").HtmlAttributes(new { @class = "date" }).Width(90);
                  columns.Bound(c => c.ActedOnDateLocal).Title("Acted On").ClientTemplate("<div>#=ActedOnDateLocalText#</div><div class='timezone'>#=TimeZone#</div>").HtmlAttributes(new { @class = "date" }).Width(90);
                  columns.Bound(c => c.NetworkName).Title("Net").ClientTemplate("<a href='#=SocialNetworkURL#' target='_blank'><span class='ico-#=NetworkName# n-ico' title='#=NetworkName#'/></a>").HtmlAttributes(new { @class = "centered-column" }).Width(40);
                  columns.Bound(c => c.LocationName).Title("Location").ClientTemplate("<div class='location'>#=LocationName#</div><div>#=ScreenName#</div>").Width(170);
                  columns.Bound(c => c.SyndicatorName).Title("Syndicator").HtmlAttributes(new { @class = "centered-column" }).Width(120);
                  columns.Bound(c => c.Description).Title("Description").ClientTemplate("#=getDescription(ImageUrl, Link, Description)#");

                  columns.Template(@<text></text>).Title("Actions").ClientTemplate("#=getActionsHistory(Status, ID, AllowApprove,AllowDeny,AllowEdit,AllowUnApprove,AllowUnDeny )#").Width(125).HtmlAttributes(new { @class = "centered-column" });
              })
              .DataSource(ds => ds.Ajax()
                                  .Events(events => events.Error("SIGlobal.gridErrorHandler"))
                                  .Read(read => read.Action("NotificationApprovalHistoryGrid", "Dashboard").Data("getFilters"))
                                  .Model(model => model.Id(a => a.ID))
                                  .PageSize(100)
                                .ServerOperation(true))
              .Sortable()
              .Resizable(r => r.Columns(true))
               .Scrollable(s => s.Enabled(true).Height(620))
                .Pageable(p =>
                {
                    p.Enabled(true);
                    p.Refresh(true);
                    p.Numeric(true);
                    //p.PreviousNext(false);
                    p.PageSizes(new int[] { 50, 100, 200, 250 });
                    p.Messages(m => m.Display("Showing {0}-{1} from {2} Approvals").Empty("No Approvals found.").ItemsPerPage("Approvals per page"));

                })
              .Events(e =>
              {
                  e.DataBound("approvalsBound");
              })
              .ToolBar(toolbar =>
              {
                  toolbar.Template(@<text>

                    <div id="FilterView" class='approval-filter'>
                        @(Html.Kendo()
                            .DropDownList()
                            .Name("TimeFrame")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new List<SelectListItem>()
                                   {
                                       new SelectListItem()
                                       {
                                           Text = "Last 7 Days",
                                           Value = "7"
                                       },
                                       new SelectListItem()
                                       {
                                           Text = "Last 14 Days",
                                           Value = "14"
                                       },
                                       new SelectListItem()
                                       {
                                           Text = "Last 30 Days",
                                           Value = "30",
                                           Selected = true
                                       },
                                       new SelectListItem()
                                       {
                                           Text = "Last 45 Days",
                                           Value = "45"
                                       },
                                       new SelectListItem()
                                       {
                                           Text = "Last 60 Days",
                                           Value = "60"
                                       }
                                   })
                            .Events(e => e.Change("ApplyFilter"))
                        )
                        &nbsp;
                        @(Html.Kendo()
                            .DropDownList()
                            .Name("StatusFilter")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new List<SelectListItem>()
                                   {
                                       new SelectListItem()
                                       {
                                           Text = "All Status",
                                           Value = "All",
                                           Selected = true
                                       },
                                       new SelectListItem()
                                       {
                                           Text = "Approved",
                                           Value = "Approved"
									   },
                                       new SelectListItem()
									   {
										   Text = "Auto-Approved",
										   Value = "Auto-Approved"
									   },
									   new SelectListItem()
									   {
										   Text = "Rejected",
										   Value = "Rejected"
									   },
								   })
                             .Events(e => e.Change("ApplyFilter"))
                        )
                        &nbsp;
                        @(Html.Kendo()
                            .DropDownList()
                            .Name("NetworkFilter")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new List<SelectListItem>()
								   {
									   new SelectListItem()
									   {
										   Text = "All Networks",
										   Value = "0",
										   Selected = true
									   },
									   new SelectListItem()
									   {
										   Text = "Facebook",
										   Value = "1"
									   },
									   new SelectListItem()
									   {
										   Text = "Twitter",
										   Value = "3"
									   },
									   new SelectListItem()
									   {
										   Text = "Google+",
										   Value = "2"
									   },
								   })
                            .Events(e => e.Change("ApplyFilter"))
                        )
                    </div>

                </text>);
              })
        )

    </div>

    <div id="ReviseWindow" style="background-color: #FBFBFB;"></div>
</div>
