﻿@using SI.Services.Dashboard.Models
@using SI.WEB.Portal.Models
@{
	ViewBag.PageTitle = "Approvals";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

    BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}
@section Header
{
	<script src="~/Areas/DashBoard/Views/Dashboard/Approvals.min.js"></script>
}

<script type="text/x-kendo-template" id="description-template">
	<div>#=description#</div>
	#if (imageUrl != "") {#
		<a href="javascript:ShowImage('#=imageUrl#');">View Image</a>
	#}#
	#if (link != "") {#
		<div><a href='#=link#' target='_blank'>#=link#</a></div>
	#}#
</script>

<script type="text/x-kendo-template" id="action-template">
	#if (status != "Pre-Approved") {#
		<div class='k-button approve-post' style='width:100%;'><span class='n-ico ico-selected' title='Approve' data-id='#=ID#'></span> Approve</div>
	#}#
	<div class='k-button reject-post' style='margin-top:3px; width:100%;'><span class='n-ico ico-exclamation' title='Deny' data-id='#=ID#'></span> &nbsp;Deny</div>
	#if (allowChanges){#
		<div class='k-button edit-post' style='margin-top:3px; width:100%;'><span class='n-ico ico-edit' title='Edit' data-id='#=ID#'></span> &nbsp;Edit</div>
	#}#
</script>
<div class="notificaton-manage">

    @if (baseModel.UserInfo.EffectiveUser.CanSyndicationHelpPage)
    {
        <div>
            <p><a href="~/Social/SyndicationHelp">Learn more about Lexus Content Syndication</a></p>
            <br />
        </div>

    }

	<div class="header">
		<span class="section">
			<span class="n-ico ico-complete"></span> APPROVALs
		</span>
		<span><a href='@Url.RouteUrl("SocialDealerPostActivity")'>View History</a></span>
		<span style="margin-left: 20px;" id="saveResults"></span>
		<div style="display: inline-block; float: right;">
			<div class="k-button" id="AutoApproveAll"><span class="n-ico ico-accept"></span> Auto-Approve All Pending</div>&nbsp;&nbsp;
			<div class="k-button" id="ApproveAllPending"><span class="n-ico ico-eml-send"></span> Approve All Pending</div>
		</div>
	</div>
	<div class="fcl"></div>
	<div id="window" style="background-color: #EFEFEF;"></div>
	<div class="notification-grid">
		@(Html.Kendo().Grid<NotificationsApprovals>()
		      .Name("ApprovalNotificationGrid")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.Status).Title("Type").HtmlAttributes(new { @class = "centered-column" });
                      columns.Bound(c => c.AlertDateLocal).Title("Sched For").ClientTemplate("<div>#=AlertDateLocalText#</div><div class='timezone'>#=TimeZone#</div>").HtmlAttributes(new { @class = "date" }).Width(90);
				      columns.Bound(c => c.NetworkName).Title("Net").ClientTemplate("<a href='#=SocialNetworkURL#' target='_blank'><span class='ico-#=NetworkName# n-ico' title='#=NetworkName#'/></a>").HtmlAttributes(new { @class = "centered-column" }).Width(35);
				      columns.Bound(c => c.LocationName).Title("Location").ClientTemplate("<div class='location'>#=LocationName#</div><div>#=ScreenName#</div>").Width(200);
				      columns.Bound(c => c.SyndicatorName).Title("Syndicator").HtmlAttributes(new { @class = "centered-column" });
				      columns.Bound(c => c.Description).Title("Description").ClientTemplate("#=getDescription(ImageUrl, Link, Description)#");
					  
				      columns.Template(@<text></text>).Title("Actions").ClientTemplate("#=getActions(Status, ID, AllowChanges)#").Width(110).HtmlAttributes(new { @class = "centered-column" });

			      })
		      .DataSource(ds => ds.Ajax()
		                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
		                          .Read(read => read.Action("NotificationApprovalsGrid", "Dashboard"))
		                          .Model(model => model.Id(a => a.ID))
		                          .ServerOperation(false))
		      .Sortable()
			  //.Selectable(s => s.Mode(GridSelectionMode.Single).Type(GridSelectionType.Cell))
		      .Resizable(r => r.Columns(true))
		      .Scrollable(s => s.Enabled(false))
		      .Events(e =>
			      {
				      e.DataBound("approvalsBound");
			      }))
		
		

	</div>
	
	<div id="ReviseWindow" style="background-color: #FBFBFB;"></div>
</div>
