﻿@model Overview


@{
	ViewBag.PageTitle = "Dashboard - Overview";
	Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
	
	double avgOverAll = Model.reputationOverview.ReviewsAllTime.AverageRating*4;

	int[] legendPos = new int[] {0, 52, 67, 81, 96, 111, 126, 142, 156, 171, 187, 202, 218, 234, 250, 266, 282};

	string customerSatification = "N/A";

	bool isMacOS = Request.UserAgent.Contains("Mac") && !Request.UserAgent.Contains("iPad");
	double fontSize = 15.0;
	if (isMacOS)
	{
		fontSize = 14.0;
	}
}

@if (Model.reputationOverview.CustomerSatisfaction > 0)
{
	customerSatification = string.Format("{0}%", Model.reputationOverview.CustomerSatisfaction);
}


@section Header
{
	<link href="~/assets/script/jrating/jRating.jquery.css" rel="stylesheet" />
	<script src="~/assets/script/jrating/jRating.jquery.min.js"></script>
}

<script>
	$(function() {
		$(".rating-avg-score").jRating({
			isDisabled: true
		});
		$(".rating-avg-score-small").jRating({
			isDisabled: true, type: "small"
		});
		
		@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputation)
		{
			<text>
				$(".reputation-filter-links").click(function () {
					var filter = $(this).data("filter");
					$("#filterParameters").val(filter);
					$("#ReviewStreamForm").submit();
				});
			</text>
		}
		
		if (navigator.appVersion.indexOf("Mac") != -1 && navigator.appVersion.indexOf("iPad") == -1) {
			var top = $(".pie-legends").css("top");
			var offset = parseInt('@(Model.reputationOverview.ReviewsBySite.Count())');
			$(".pie-legends").css("top", (parseInt(top) + offset) + 'px');
			$(".rating-row").css("height", "14px");
			$(".percent").css("margin-bottom", "2px");
		}
		
		//TODO disable links for freeium
	})
</script>

<div class="dealer-dashboard">
	<div class="locations-section">
		<div class="ddlabel">Locations:</div>
		<div class="locations">@Model.reputationOverview.NumberOfDealers.ToString("n0")</div>
	</div>
	
	<div class="reputation">
		<div class="section-title">Reputation Overview</div>
		<div class="sat-score">
			<div class="title">Customer Satisfaction Score</div>
			<div class="score-value">@customerSatification</div>
		</div>
		<div>
			<div class="small-ddlabel">Average Review Score:</div>
			<div class="avg-review-score" title="@Model.reputationOverview.ReviewsAllTime.AverageRating">
				<div class="rating-avg-score" data-average="@avgOverAll" data-id="1"></div>
			</div>
		</div>
		<div class="review-details">
			<div class="subsection-title">Reviews</div>
			<div class="details">
				<div class="review-row">
					<span class="ddlabel">All Time</span>
					<div class="reputation-filter-links counts" data-filter='@Model.reputationOverview.ReviewsAllTime.NumberOfReviewsFilter'>@Model.reputationOverview.ReviewsAllTime.NumberOfReviews.ToString("n0")</div>
				</div>
				<div class="review-row">
					<span class="ddlabel">Last Month</span>
					<div class="reputation-filter-links counts" data-filter='@Model.reputationOverview.ReviewsLast30.NumberOfReviewsFilter'>@Model.reputationOverview.ReviewsLast30.NumberOfReviews.ToString("n0")</div>
				</div>
				<div class="review-row">
					<span class="ddlabel">Last 7 days</span>
					<div class="reputation-filter-links counts" data-filter='@Model.reputationOverview.ReviewsLast7.NumberOfReviewsFilter'>@Model.reputationOverview.ReviewsLast7.NumberOfReviews.ToString("n0")</div>
				</div>
				<div class="review-chart">
					@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputation)
					{
						@(Html.Kendo().Chart()
						      .Name("Reviews")
						      .Theme("flat")
						      .HtmlAttributes(new {style = "width: 150px; height: 110px;"})
						      .Legend(false)
						      .PlotArea(p => p.Border(b => b.Width(0)))
						      .AxisDefaults(d => d.MajorGridLines(m => m.Visible(false)).MajorGridLines(mr => mr.Visible(false)).Labels(false).Line(l => l.Visible(false)))
						      .ChartArea(chart => chart.Border(b => b.Width(0)).Background("transparent"))
						      .SeriesDefaults(seriesDefaults => seriesDefaults.Bar().Stack(true))
						      .Series(series =>
							      {
								      series.Bar(new int[] {Model.reputationOverview.totalAllTimePercentNeg, Model.reputationOverview.totalLast30PercentNeg, Model.reputationOverview.totalLast7PercentNeg}).Name("Negative").Labels(l => l.Position(ChartBarLabelsPosition.Center).Visible(false).Format("{0}%").Color("#222").Font("0.8em verdana")).Color("#ff6368");
								      series.Bar(new int[] {Model.reputationOverview.totalAllTimePercentPos, Model.reputationOverview.totalLast30PercentPos, Model.reputationOverview.totalLast7PercentPos}).Name("Positive").Labels(l => l.Position(ChartBarLabelsPosition.Center).Visible(false).Format("{0}%").Color("#222").Font("0.8em verdana")).Color("#6edf53");
							      })
						      .ValueAxis(axis => axis.Numeric().Max(100))
						      .CategoryAxis(axis => axis.Categories("All Time", "Last Month", "Last 7 Days"))
						      .Tooltip(tooltip => tooltip.Visible(true).Template("#=category# - #= series.name #: #= value #").Opacity(0.8))	
							  )
					}
				</div>
				<div class="percent-legends">
					@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputation)
					{
						<div>@(Model.reputationOverview.totalAllTimePercentNeg)% | @(Model.reputationOverview.totalAllTimePercentPos)%</div>
						<div class="percent">@(Model.reputationOverview.totalLast30PercentNeg)% | @(Model.reputationOverview.totalLast30PercentPos)%</div>
						<div class="percent">@(Model.reputationOverview.totalLast7PercentNeg)% | @(Model.reputationOverview.totalLast7PercentPos)%</div>
					}
				</div>
			</div>

		</div>

		@if (Model.reputationOverview.ReviewsAllTime.NumberOfReviews > 0)
		{
			<div class="reviews-per-site">
				<div class="pie">
					@(Html.Kendo().Chart()
					      .Name("ReviewsPerSiteChart")
					      .Title(t => t.Align(ChartTextAlignment.Left).Text("Reviews by Site").Font("bold 1.2em PlanerRegular").Margin(0, 0, 0, 25).Padding(0))
					      .HtmlAttributes(new {style = "width:305px; height:400px;"})
					      .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Bottom).Offset(-50, -20).Labels(l => l.Template("#=text# (#=value#)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")))
					      .Theme("flat")
					      .Series(series => series.Pie(Model.reputationOverview.ReviewsBySite).Labels(labels => labels.Visible(false)))
					      .PlotArea(p => p.Margin(0))
					      .ChartArea(c => c.Background("transparent"))
					      .Tooltip(tooltip => tooltip.Visible(true).Template("#= category # #=value#").Color("#222").Padding(0).Opacity(0.8))
						  )
				</div>
				<div class="pie-legends" style="top: -@legendPos[Model.reputationOverview.ReviewsBySite.Count()]px;">
					<table>
						<tr>
							<td style="padding-top: 4px;">
								@foreach (SiteReviewCounts review in Model.reputationOverview.ReviewsBySite)
								{
									<div class="rating-row">
										<div class="reputation-filter-links counts-sm" title="@review.SiteName" data-filter='@review.SiteFilter'>@review.AverageRating.ToString("n1")</div>
										<div class="avg-review-score">
											<div class="rating-avg-score-small" data-average="@(review.AverageRating*4)" data-id="1"></div>
										</div>
									</div>
								}
							</td>
							<td>
								@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputation)
								{
									@(Html.Kendo().Chart()
									      .Name("ReviewsPerSiteNegPos")
									      .Theme("flat")
									      .HtmlAttributes(new {style = "width: 90px;"})
									      .Legend(false)
									      .PlotArea(p => p.Border(b => b.Width(0)).Margin(0))
									      .AxisDefaults(d => d.MajorGridLines(m => m.Visible(false)).MajorGridLines(mr => mr.Visible(false)).Labels(false).Line(l => l.Visible(false)))
									      .ChartArea(chart => chart.Border(b => b.Width(0)).Background("transparent").Height((int) Math.Round(Model.reputationOverview.ReviewsBySite.Count()*fontSize) + 10).Margin(0))
									      .SeriesDefaults(seriesDefaults => seriesDefaults.Bar().Stack(true).Spacing(.2).Gap(.5))
									      .Series(series =>
										      {
											      series.Bar(Model.reputationOverview.ReviewsBySite.Select(r => r.PercentNegative).ToArray()).Name("Negative").Labels(l => l.Position(ChartBarLabelsPosition.Center).Visible(false).Font("0.7em verdana").Format("{0}%").Color("#222")).Color("#ff6368");
											      series.Bar(Model.reputationOverview.ReviewsBySite.Select(r => r.PercentPositive).ToArray()).Name("Positive").Labels(l => l.Position(ChartBarLabelsPosition.Center).Visible(false).Font("0.7em verdana").Format("{0}%").Color("#222")).Color("#6edf53");
										      })
									      .ValueAxis(axis => axis.Numeric().Max(100))
									      .CategoryAxis(axis => axis.Categories(Model.reputationOverview.ReviewsBySite.Select(r => r.SiteName).ToArray()))
									      .Tooltip(tooltip => tooltip.Visible(true).Template("#=category# - #= series.name #: #= value #").Opacity(0.8))																	 
										  )
								}
							</td>
							<td style="padding-top: 3px;">
								@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputation)
								{
									foreach (SiteReviewCounts review in Model.reputationOverview.ReviewsBySite)
									{
										<div class="percent"  title="@review.SiteName">
											@if (review.PercentNegative > 0 || review.PercentPositive > 0)
											{
												<text>
													@(review.PercentNegative)%|@(review.PercentPositive)%
												</text>
											}
											else
											{
												<text>&nbsp;</text>
											}
										</div>
									}
								}
							</td>
						</tr>
					</table>
				</div>
			</div>

        }
  else
  {
			<div>No Reviews</div>
  }
	</div>
	
	<div class="divider"></div>
	
	<div class="social">
		<div class="section-title">Social Overview</div>
		<div class="header-section">
			<div class="header">All Time</div>
			<div class="header">30 Days</div>
			<div class="header">7 Days</div>
		</div>
		<div class="subsection-title header-section">
			<span style="font-size: 1.3em;">Total Audience</span>
			<div class="header">@((Model.socialOverview.FacebookPageLikes_AllTime + Model.socialOverview.GooglePlusPlusOneCount_AllTime + Model.socialOverview.TwitterFollowersCount_AllTime).ToString("n0"))</div>
			<div class="header">@((Model.socialOverview.FacebookPageLikes_30days + Model.socialOverview.GooglePlusPlusOneCount_30days + Model.socialOverview.TwitterFollowersCount_30days).ToString("n0"))</div>
			<div class="header">@((Model.socialOverview.FacebookPageLikes_7days + Model.socialOverview.GooglePlusPlusOneCount_7days + Model.socialOverview.TwitterFollowersCount_7days).ToString("n0"))</div>
		</div>
		<div class="pie">
			@(Html.Kendo().Chart()
                  .Name("SocialPerNetChart")
                  .Title(t => t.Visible(false))
                  .HtmlAttributes(new { style = "width:300px; height:140px;" })
                  .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Right))
                  .Theme("flat")
                  .Series(series => series.Pie(new dynamic[]
				      {
					      new {category = "Facebook", value = Model.socialOverview.FacebookPageLikes_AllTime},
					      new {category = "Twitter", value = Model.socialOverview.TwitterFollowersCount_AllTime},
					      new {category = "Google+", value = Model.socialOverview.GooglePlusPlusOneCount_AllTime},
                          //new {category = "YouTube", value = 25},
                          //new {category = "Blogger", value = 25},
						
				      }).Labels(labels => labels.Visible(false))
                  )
                  .PlotArea(p => p.Margin(0))
                  .ChartArea(c => c.Background("transparent").Margin(0))
                  .Tooltip(tooltip => tooltip.Visible(true).Template("#= category # #=value#").Color("#222").Padding(0).Opacity(0.8))
                  )
		</div>
		@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewSocial)
  {
			<div class="network-row">
				<div class="title">
					<span class="facebook-icon n-icon"></span>
					<div class="network-title">Facebook</div>
					<div class="right-label">3 month snapshot</div>
				</div>
				<div class="network-list">
					<div class="list">
						<div class="list-title">Post</div>
						<div class="counts"><a href='@Url.RouteUrl("DashboardSocialLocations")'>@Model.socialOverview.Facebook.PostTweetCount.ToString("n0")</a></div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("FaceBookPost")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					<div class="list">
						<div class="list-title">Comments</div>
						<div class="counts"><a href='@Url.RouteUrl("DashboardSocialLocations")'>@Model.socialOverview.Facebook.Comments.ToString("n0")</a></div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("FaceBookComments")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					<div class="list">
						<div class="list-title">Likes</div>
						<div class="counts"><a href='@Url.RouteUrl("DashboardSocialLocations")'>@Model.socialOverview.Facebook.Likes.ToString("n0")</a></div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("FaceBookLikes")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					<div class="list">
						<div class="list-title">Shares</div>
						<div class="counts">@Model.socialOverview.Facebook.SharesReTweets.ToString("n0")</div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("FaceBookShares")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
				</div>

			
			</div>

			<div class="network-row">
				<div class="title">
					<span class="twitter-icon n-icon"></span>
					<div class="network-title">Twitter</div>
				
				</div>
				<div class="network-list">
					<div class="list">
						<div class="list-title">Tweets</div>
						<div class="counts">@Model.socialOverview.Twitter.PostTweetCount.ToString("n0")</div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
						      .Name("TwitterTweets")
						      .Theme("flat")
						      .Type(SparklineType.Column)
						      .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
						      .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					@*<div class="list">
						<div class="list-title">@@Mentions</div>
						<div class="counts">@Model.socialOverview.Twitter.Mentions.ToString("n0")</div>
						<div class="spark-line">
							@(Html.Kendo().Sparkline()
						      .Name("TwitterMentions")
						      .Theme("flat")
						      .Type(SparklineType.Column)
						      .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
						      .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )
						</div>
					</div>*@
					<div class="list">
						<div class="list-title">Re-Tweets</div>
						<div class="counts">@Model.socialOverview.Twitter.SharesReTweets.ToString("n0")</div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
						      .Name("TwitterReTweets")
						      .Theme("flat")
						      .Type(SparklineType.Column)
						      .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
						      .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					@*<div class="list">
						<div class="list-title">Messages</div>
						<div class="counts">@Model.socialOverview.Twitter.Messages.ToString("n0")</div>
						<div class="spark-line">
							@(Html.Kendo().Sparkline()
						      .Name("TwitterMessages")
						      .Theme("flat")
						      .Type(SparklineType.Column)
						      .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
						      .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )
						</div>
					</div>*@
				</div>

			
			</div>

			<div class="network-row">
				<div class="title">
					<span class="google-icon n-icon"></span>
					<div class="network-title">Google+</div>
				
				</div>
				<div class="network-list">
					<div class="list">
						<div class="list-title">Post</div>
						<div class="counts">@Model.socialOverview.GooglePlus.PostTweetCount.ToString("n0")</div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("GooglePost")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					<div class="list">
						<div class="list-title">Comments</div>
						<div class="counts">@Model.socialOverview.GooglePlus.Comments.ToString("n0")</div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("GoogleComments")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					<div class="list">
						<div class="list-title">Plusoners</div>
						<div class="counts"><a href='@Url.RouteUrl("DashboardSocialLocations")'>@Model.socialOverview.GooglePlus.Likes.ToString("n0")</a></div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("FaceBookLikes")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
					<div class="list">
						<div class="list-title">ReShares</div>
						<div class="counts">@Model.socialOverview.GooglePlus.SharesReTweets.ToString("n0")</div>
						<div class="spark-line">
							@*@(Html.Kendo().Sparkline()
							  .Name("GoogleShares")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )*@
						</div>
					</div>
				
				</div>

			
			</div>
      @*
			<div class="network-row">
				<div class="title">
					<span class="blogger-icon n-icon"></span>
					<div class="network-title">Blogger</div>
				
				</div>
				<div class="network-list">
					<div class="list">
						<div class="list-title">Post</div>
						<div class="counts">@Model.socialOverview.Blogger.PostTweetCount.ToString("n0")</div>
						<div class="spark-line">
							@(Html.Kendo().Sparkline()
							  .Name("BloggerPost")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )
						</div>
					</div>
					<div class="list">
						<div class="list-title">Comments</div>
						<div class="counts">@Model.socialOverview.Blogger.Comments.ToString("n0")</div>
						<div class="spark-line">
							@(Html.Kendo().Sparkline()
							  .Name("BloggerComments")
							  .Theme("flat")
							  .Type(SparklineType.Column)
							  .Tooltip(tooltip => tooltip.Format("{0}").Background("transparent").Color("#222").Border(b => b.Width(0)))
							  .Data(new double[] { 8, 10, 3, 6, 4, 2, 8 })
							  )
						</div>
					</div>
				</div>
			
			</div>
        *@
  }
	</div>
</div>
<form id="ReviewStreamForm" action="@Url.RouteUrl("ReputationReviewStreamFilter")" method="POST">
	<input id="filterParameters" name="filterParameters" type="hidden" value="" />
</form>
