﻿@using SI.Services.Dashboard.Models
@{
	ViewBag.PageTitle = "Notifications";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

@section Header
{
	<script src="~/Areas/DashBoard/Views/Dashboard/NotificationManage.min.js"></script>
}

<script type="text/x-kendo-template" id="completed-template">
	#if (!completed) {#
		<span class='n-ico ico-complete' title='Mark Completed'></span>
	#} else {#
		#=kendo.toString(completedDate, "M/d/yyyy h:mm tt")#
	#}#
</script>


<div class="notificaton-manage">
@*	<div class="header">
		<span class="section"><span class="n-ico ico-todo-list"></span> TO DOs</span><span><label for="ShowCompletedToDos">Show Completed</label><input id="ShowCompletedToDos" type="checkbox"/></span>
	</div>
	<div class="notification-grid">
		@(Html.Kendo().Grid<NotificationsToDo>()
		      .Name("ToDoNotificationGrid")
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.Type).ClientTemplate("<img src='#=ActionImage#' title='#=Type#'/>").Title("Type").Width(80).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.LocationName).Title("Location").Width(200).HtmlAttributes(new { @class = "location" });
				      columns.Bound(c => c.Description);
				      columns.Bound(c => c.ToDoDateLocal).Format("{0:M/d/yyyy h:mm tt}").Title("Date").HtmlAttributes(new { @class = "date" }).Width(90);
				      columns.Bound(c => c.Completed).Title("Completed").ClientTemplate("#=getCompleted(Completed, CompletedDateLocal)#").HtmlAttributes(new { @class = "date" }).Width(90);
					
			      })
		      .DataSource(ds => ds.Ajax()
		                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
		                          .Read(read => read.Action("NotificationManageToDoGrid", "Dashboard").Data("showCompleted"))
		                          .Model(model => model.Id(a => a.ID))
		                          .ServerOperation(false))
		      .Sortable()
		      .Selectable(s => s.Mode(GridSelectionMode.Single).Type(GridSelectionType.Cell))
		      .Resizable(r => r.Columns(true))
		      .Scrollable(s => s.Enabled(false))
		      .Events(e =>
			      {
				      e.Change("notificationChange");
				      e.DataBound("toDosBound");
			      })
			  )
		
		

	</div>
    *@
	<div class="header">
		<span class="section">
			<span class="n-ico ico-notifications"></span> NOTIFICATIONS
		</span>
		<span style="display: none;"><a id="ClearAll" href="#">Clear All</a></span>&nbsp;&nbsp;&nbsp;
		<span style="display: none;"><a id="ViewOld" href="#">View Old Notifications</a></span>
	</div>
	
	<div class="notification-grid">
		@(Html.Kendo().Grid<NotificationsAlert>()
		      .Name("NotificationMangerGrid")
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.Status).Title("Alert Type").Width(200).HtmlAttributes(new { @class = "centered-column date" });
					  columns.Bound(c => c.LocationName).Title("Location").Width(300).HtmlAttributes(new { @class = "location" });
				      columns.Bound(c => c.Description);
				      //columns.Bound(c => c.AlertDateLocal).Format("{0:M/d/yyyy h:mm tt}").Title("Date").HtmlAttributes(new { @class = "date" }).Width(180);
				      //columns.Template(@<text></text>).Title("Actions").ClientTemplate("<span class='n-ico ico-todo-add' title='Add to ToDos' data-id='#=ID#'></span>&nbsp;&nbsp;<span class='n-ico ico-alert-clear' title='Clear Notification' data-id='#=ID#'></span>").Width(90).HtmlAttributes(new { @class = "centered-column" });

			      })
		      .DataSource(ds => ds.Ajax()
		                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
		                          .Read(read => read.Action("NotificationManageAlertGrid", "Dashboard"))
		                          .Model(model => model.Id(a => a.ID))
		                          .ServerOperation(false))
		      .Sortable()
		      .Selectable(s => s.Mode(GridSelectionMode.Single).Type(GridSelectionType.Cell))
		      .Resizable(r => r.Columns(true))
		      .Scrollable(s => s.Enabled(false))
		      .Events(e =>
			      {
				      e.Change("notificationChange");
				      //e.DataBound("alertsBound");
			      }))
		
		

	</div>
	
	
	

	
	<form id="ReviewStreamForm" action="@Url.RouteUrl("ReputationReviewStreamFilter")" method="POST">
		<input id="filterParameters" name="filterParameters" type="hidden" value=""/>
	</form>

	

</div>
