﻿@using SI.Services.Dashboard.Models
@using SI.WEB.Portal.Models
@{
    ViewBag.PageTitle = "Locations - Reputation";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

@section Header
{
	<script src="~/Areas/DashBoard/Views/Dashboard/ReputationLocations.min.js"></script>
}

<script type="text/x-kendo-template" id="location-template">
	<div class='dealer-name'><a href='javascript: void(0);' onclick='DealerLink(#=DealerLocation.LocationID#)'>#=DealerLocation.Name#</a></div>
@*	<div>#=DealerLocation.Address#</div>
	<div>#=DealerLocation.City#, #=DealerLocation.StateAbrev# #=DealerLocation.Zipcode#</div>*@
	<div>#=DealerLocation.AddressLine1#</div>
    <div>#=DealerLocation.AddressLine2#</div>	
</script>


<div class="dashboard-locations">
    <div class="action-bar">
        <div class="page-nav">
	        <span class="current">Reputation</span>
	        @if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewSocial)
	        {
				@:| <span><a href="javascript:GoToSocialLocation();">Social</a></span>						    
			}
			
        </div>
        <div class="filters-group">
            @*			@(Html.Kendo().DropDownList().Name("TimeFrameFilter")
			      .HtmlAttributes(new {style = "width:125px;"})
			      .DataTextField("Text")
			      .DataValueField("Value")
			      .Events(e => e.Change("filterLocations"))
			      .BindTo(new List<SelectListItem>()
				      {
					      new SelectListItem() {Text = "All Time", Value = "All Time", Selected = true},
					      new SelectListItem() {Text = "Last Month", Value = "Last Month"},
					      new SelectListItem() {Text = "Current Month", Value = "Current Month"},
					      new SelectListItem() {Text = "Week", Value = "Week"},
					      new SelectListItem() {Text = "24h", Value = "24h"},
					      new SelectListItem() {Text = "Custom", Value = "Custom"}
				      })
						
				  )*@

        </div>
    </div>
	<div class="fcl"></div>

@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputationGrid)
{
    <div class="button-filter-section">
        @*<div class="action-button"><div id="filterLabel"><span>Current Filters: </span><span id="filterItems"></span></div><button class="k-button" type="button" id="activeFilter"><span class='k-icon k-i-expand'></span>Advanced Filter</button></div>*@
    </div>
    <div class="fcl"></div>
	<div class="stream-filter">
		@Html.Partial("_ReviewFiltering", new ReviewFilteringParameters { menuItems = "locations,dates,category,state,oem", gridSelector = "#LocationList", datesFieldName = "ReviewDate" })
	</div>
	<div class="locations-grid">
		@(Html.Kendo().Grid<Dealerships>()
			    .Name("LocationList")
			    .Columns(columns =>
				    {
					    columns.Bound(c => c.DealerLocation.Name).ClientTemplate("#=getLocation(DealerLocation)#").Title("Dealership").Sortable(true).Width(290);
					    columns.Bound(c => c.AverageReviewScore).Title("Avg Score").ClientTemplate("<div class='sites-filter-links' data-filter='#=AverageReviewScoreFilter#'>#=AverageReviewScore#</div>").HtmlAttributes(new {@class = "centered-column"});
					    columns.Bound(c => c.NumberOfReviews).Title("# Reviews").ClientTemplate("<div class='reputation-filter-links' data-filter='#=NumberOfReviewsFilter#'>#=NumberOfReviews#</div>").HtmlAttributes(new {@class = "centered-column"});
					    columns.Bound(c => c.PositiveReviews).Title("Positive").ClientTemplate("<div class='reputation-filter-links' data-filter='#=PositiveReviewsFilter#'>#=PositiveReviews#</div>").HtmlAttributes(new {@class = "centered-column"});
					    columns.Bound(c => c.NegativeReviews).Title("Negative").ClientTemplate("<div class='reputation-filter-links' data-filter='#=NegativeReviewsFilter#'>#=NegativeReviews#</div>").HtmlAttributes(new {@class = "centered-column"});
					    columns.Bound(c => c.LastReview).Format("{0:MM/dd/yyyy}").Title("Last Review").HtmlAttributes(new {@class = "centered-column"}).Width(125);
					    //columns.Bound(c => c.ToDoTotal).ClientTemplate("<div class='reputation-filter-links' data-filter='#=ToDoTotalFilter#'>#=ToDoTotal#</div><div><span class='reputation-filter-links' data-filter='#=ToDoPositiveFilter#'>#=ToDoPositive#</span> / <span class='reputation-filter-links' data-filter='#=ToDoNegativeFilter#'>#=ToDoNegative#</span></div>").Title("To-Do").HtmlAttributes(new { @class = "centered-column" });

				    })
			    .DataSource(ds => ds.Ajax()
			                        .Events(events => events.Error("SIGlobal.gridErrorHandler"))
			                        .Read(read => read.Action("LocationsGrid", "Dashboard", new {timeFrame = "All Time"}))
			                        .Model(model => model.Id(a => a.DealerLocation.LocationID))
			                        .PageSize(50))
			    .Events(e => e.DataBound("locationsDataBound"))
			    .Sortable()
			    .Resizable(r => r.Columns(true))
			    //.HtmlAttributes(new {style = "height:640px;"})
			    .Scrollable(s => s.Virtual(true).Height(580))
			    .Pageable(p =>
				    {
					    p.Enabled(true);
					    p.Refresh(true);
					    p.Numeric(false);
						p.PageSizes(new int[] { 25, 50, 100, 200 });
					    p.Messages(m => m.Display("Scroll to page, showing {0}-{1} from {2} Dealerships").Empty("No Dealerships found.").ItemsPerPage("Dealerships per page"));

				    })
				)
	</div>
	}

</div>
<form id="ReviewStreamForm" action="@Url.RouteUrl("ReputationReviewStreamFilter")" method="POST">
    <input id="filterParameters" name="filterParameters" type="hidden" value="" />
</form>
