﻿@using SI.Services.Dashboard.Models
@using SI.WEB.Portal.Models
@{
	ViewBag.PageTitle = "Locations - Social";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

@section Header
{
	<script src="~/Areas/DashBoard/Views/Dashboard/SocialLocations.min.js"></script>
	
	<style>
		.admin-account-edit .product-config .config-section {
			height: auto;
			min-height: 100px;
		}
	</style>
}

<script type="text/x-kendo-template" id="location-template">
	<div class='dealer-name'>#=DealerLocation.Name#</div>
	<div>#=DealerLocation.AddressLine1#</div>
	<div>#=DealerLocation.AddressLine2#</div>
</script>

<script type="text/x-kendo-template" id="network-template">
	<div class='net-images'>
		<a href='#=fbUri#' #= fbUri.indexOf("java") >= 0 ? "" : " target='_blank' " #>
			<span title='Facebook' class='ico-#=facebook# n-ico'></span>
		</a>
		<a href='#=twUri#' #= twUri.indexOf("java") >= 0 ? "" : " target='_blank' " #>
			<span title='Twitter' class='ico-#=twitter# n-ico'></span>
		</a>
		<a href='#=ggUri#' #= ggUri.indexOf("java") >= 0 ? "" : " target='_blank' " #>
			<span title='Google Plus' class='ico-#=google# n-ico'></span>
		</a>
		@*<span title='YouTube' class='ico-placeholder n-ico'></span>
		<span title='Blogger' class='ico-placeholder n-ico'></span>*@
	</div>
</script>

<div class="dashboard-locations">
	<div class="action-bar">
		<div class="page-nav">
			@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputation)
			{
				@:<span><a href="javascript:GoToRepLocation();">Reputation</a></span> |
			}						
			&nbsp;<span class="current">Social</span>
		</div>
		<div class="filters-group">
			@*@(Html.Kendo().DropDownList().Name("TimeFrameFilter")
			      .HtmlAttributes(new {style = "width:125px;"})
			      .DataTextField("Text")
			      .DataValueField("Value")
			      .Events(e => e.Change("filterLocations"))
			      .BindTo(new List<SelectListItem>()
				      {
					      new SelectListItem() {Text = "All Time", Value = "All Time", Selected = true},
					      new SelectListItem() {Text = "Last Month", Value = "Last Month"},
					      new SelectListItem() {Text = "Current Month", Value = "Current Month"},
					      new SelectListItem() {Text = "Week", Value = "Week"},
					      new SelectListItem() {Text = "24h", Value = "24h"},
					      new SelectListItem() {Text = "Custom", Value = "Custom"}
				      })
						
				  )*@
			@(Html.Kendo().DropDownList().Name("NetworkStatus")
			      .HtmlAttributes(new {style = "width:190px;"})
			      .DataTextField("Text")
			      .DataValueField("Value")
			      .Events(e => e.Change("filterNetworks"))
			      .BindTo(new List<SelectListItem>()
				      {
					      new SelectListItem() {Text = "Show All Networks", Value = "all", Selected = true},
					      new SelectListItem() {Text = "Show Connected", Value = "connected"},
					      new SelectListItem() {Text = "Show Disconnected", Value = "disconnected"},
					      new SelectListItem() {Text = "Show Never Connected", Value = "never"}
				      })
						
				  )
		</div>
	</div>
	<div class="fcl"></div>

@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewSocialGrid)
{
	<div class="button-filter-section">
		@*<div class="action-button"><div id="filterLabel"><span>Current Filters: </span><span id="filterItems"></span></div><button class="k-button" type="button" id="activeFilter"><span class='k-icon k-i-expand'></span>Advanced Filter</button></div>*@
	</div>
	<div class="fcl"></div>
	<div class="stream-filter">
		@Html.Partial("_ReviewFiltering", new ReviewFilteringParameters {menuItems = "locations,dates", gridSelector = "#LocationList", datesFieldName = "PostDate"})
	</div>
	<div class="locations-grid">
		@(Html.Kendo().Grid<SocialDealerships>()
		      .Name("LocationList")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.DealerLocation.Name).ClientTemplate("#=getLocation(DealerLocation)#").Title("Dealership").Sortable(true).Width(290);
					  columns.Bound(c => c.Networks).Title("Connected Networks").Sortable(false).ClientTemplate("#=getNetworks(Networks, NetworkUri)#").HtmlAttributes(new { @class = "centered-column" }).Width(155);
				      columns.Bound(c => c.Activity).HtmlAttributes(new {@class = "centered-column"});
				      columns.Bound(c => c.Comments).HtmlAttributes(new {@class = "centered-column"});
				      columns.Bound(c => c.AdSpendSpent).Title("Ad Spend").ClientTemplate("<div>$#=AdSpendSpent#S</div><div>$#=AdSpendRemainging#R</div>").HtmlAttributes(new {@class = "centered-column"}).Visible(false);
                      columns.Bound(c => c.PostDate).Title("Last Post").ClientTemplate("<div>#=PostDateText#</div><div class='timezone'>#=TimeZone#</div>").HtmlAttributes(new { @class = "centered-column" }).Width(150);
				      columns.Bound(c => c.ToDoesCount).Title("To-Do").HtmlAttributes(new {@class = "centered-column"}).Width(80).Visible(false);

			      })
		      .DataSource(ds => ds.Ajax()
		                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
		                          .Read(read => read.Action("SocialLocationsGrid", "Dashboard", new {timeFrame = "All Time" }).Data("NetworkData"))
		                          .Model(model => model.Id(a => a.DealerLocation.LocationID))
		                          .PageSize(50))
		      .Events(e => e.DataBound("locationsDataBound"))
		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      //.HtmlAttributes(new {style = "height:640px;"})
		      .Scrollable(s => s.Virtual(true).Height(580))
		      .Pageable(p =>
			      {
				      p.Enabled(true);
				      p.Refresh(true);
				      p.Numeric(false);
					  p.PageSizes(new int[] { 25, 50, 100, 200 });
				      p.Messages(m => m.Display("Scroll to page, showing {0}-{1} from {2} Dealerships").Empty("No Dealerships found.").ItemsPerPage("Dealerships per page"));

			      })
			  )
		
		
			
			<div id="AccountEdit" style="padding: 3px; display: none;" class="admin-account-edit"></div>		
			
		
		</div>
}
</div>
<form id="ReviewStreamForm" action="@Url.RouteUrl("ReputationReviewStreamFilter")" method="POST">
	<input id="filterParameters" name="filterParameters" type="hidden" value=""/>
</form>




