@font-face {
  font-family: 'PlanerRegular';
  src: url('/assets/fonts/Planer-Regular-webfont.eot');
  src: url('/assets/fonts/Planer-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Planer-Regular-webfont.woff') format('woff'), url('/assets/fonts/Planer-Regular-webfont.ttf') format('truetype'), url('/assets/fonts/Planer-Regular-webfont.svg#PlanerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.landingpage {
  margin: 0;
  font-size: 15px;
  font-family: 'lucida grande', verdana, arial, sans-serif;
}
.landingpage .header {
  width: 100%;
  background-repeat: repeat-x;
  background-position: top center;
  background-color: white;
}
.landingpage .header .logo {
  position: relative;
}
.landingpage .header .logo img {
  display: block;
  margin: 0 auto;
}
.landingpage .title-bar {
  font-family: 'PlanerRegular', verdana;
  width: 100%;
  text-align: center;
  margin: 22px;
  color: #04668e;
  font-size: 1.4em;
  font-weight: bold;
}
.landingpage .container {
  width: 750px;
  margin: 0 auto;
}
.landingpage .container p {
  margin-top: 2px;
  margin-bottom: 12px;
}
.landingpage .container .info-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px #7d7d7d;
  -moz-box-shadow: 0px 1px 5px #7d7d7d;
  box-shadow: 0px 1px 5px #7d7d7d;
  padding: 14px;
  border: 1px solid silver;
  background-color: #f8f8fa;
  width: 347px;
  height: 574px;
  float: left;
}
.landingpage .container .info-box .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #222;
}
.landingpage .container .info-box .content {
  text-align: justify;
  color: #444;
}
.landingpage .container .info-box .content .image-button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.landingpage .container .info-box .content h3 {
  font-size: 18px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 18px !important;
  margin: 3px 0 !important;
  color: #898989;
}
.landingpage .container .info-box .content h4 {
  font-size: 12px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 14px !important;
  margin: 3px 8px !important;
  color: #898989;
  font-weight: normal;
}
.landingpage .container .info-box .content .fbAccount-picker {
  margin-top: 6px;
  margin-left: 10px;
}
.landingpage .container .info-box .content .fbAccount-picker .pages-list {
  height: 300px;
  overflow-y: auto;
  padding: 2px;
}
.landingpage .container .info-box .content .fbAccount-picker #FBAccountListView {
  padding: 4px;
  min-height: 30px;
  width: 100%;
}
.landingpage .container .info-box .content .fbAccount-picker #FBAccountListView tr {
  margin-bottom: 8px;
}
.landingpage .container .info-box .content .fbAccount-picker #FBAccountListView td {
  padding: 2px 5px;
}
.landingpage .container .info-box .content .fbAccount-picker #FBAccountListView .fbAccount {
  border-bottom: 2px solid #bbb;
}
.landingpage .container .info-box .content .fbAccount-picker #FBAccountListView .fbAccount img {
  margin-right: 10px;
}
.landingpage .container .info-box .content .fbAccount-picker #FBAccountListView .fbAccount .name {
  font-weight: bold;
}
.landingpage .container .info-box .content .fbAccount-picker #FBAccountListView .fbAccount button {
  margin: 0;
}
.landingpage .container .info-box-ns {
  font-family: Arial;
  padding: 14px;
  background-color: #FBFBFB;
  width: 347px;
  float: left;
}
.landingpage .container .info-box-ns .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #222;
}
.landingpage .container .info-box-ns .content {
  color: #444;
}
.landingpage .container .info-box-ns .content .image-button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.landingpage .container .info-box-ns .content h3 {
  font-size: 18px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 18px !important;
  margin: 3px 0 !important;
  color: #898989;
}
.landingpage .container .info-box-ns .content h4 {
  font-size: 12px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 14px !important;
  margin: 3px 8px !important;
  color: #898989;
  font-weight: normal;
}
.landingpage .container .info-box-ns .content .fbAccount-picker {
  margin-top: 6px;
  margin-left: 10px;
}
.landingpage .container .info-box-ns .content .fbAccount-picker .pages-list {
  height: 300px;
  overflow-y: auto;
  padding: 2px;
}
.landingpage .container .info-box-ns .content .fbAccount-picker #FBAccountListView {
  padding: 4px;
  min-height: 30px;
  width: 100%;
}
.landingpage .container .info-box-ns .content .fbAccount-picker #FBAccountListView tr {
  margin-bottom: 8px;
}
.landingpage .container .info-box-ns .content .fbAccount-picker #FBAccountListView td {
  padding: 2px 5px;
}
.landingpage .container .info-box-ns .content .fbAccount-picker #FBAccountListView .fbAccount {
  border-bottom: 2px solid #bbb;
}
.landingpage .container .info-box-ns .content .fbAccount-picker #FBAccountListView .fbAccount img {
  margin-right: 10px;
}
.landingpage .container .info-box-ns .content .fbAccount-picker #FBAccountListView .fbAccount .name {
  font-weight: bold;
}
.landingpage .container .info-box-ns .content .fbAccount-picker #FBAccountListView .fbAccount button {
  margin: 0;
}
.landingpage .container .slider {
  float: right;
  width: 347px;
  height: 600px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px #7d7d7d;
  -moz-box-shadow: 0px 1px 5px #7d7d7d;
  box-shadow: 0px 1px 5px #7d7d7d;
  padding: 1px;
  border: 1px solid silver;
  background-color: #f8f8fa;
}
.landingpage .container .slider .ws_images > div > a {
  display: none !important;
}
.landingpage .container .slider-ns {
  float: right;
  width: 347px;
  height: 600px;
  padding: 1px;
  background-color: #FBFBFB;
}
.landingpage .container .slider-ns .ws_images > div > a {
  display: none !important;
}
.landingpage .container .button {
  background: #04668e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #04668e), color-stop(1, #06a4e5));
  background: -ms-linear-gradient(bottom, #04668e, #06a4e5);
  background: -moz-linear-gradient(center bottom, #04668e 0%, #06a4e5 100%);
  background: -o-linear-gradient(#06a4e5, #04668e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#06a4e5', endColorstr='#04668e', GradientType=0);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
  padding: 8px;
  width: 180px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.registration-page {
  margin: 0;
  font-size: 15px;
  font-family: 'lucida grande', verdana, arial, sans-serif;
  color: #222;
}
.registration-page .signup-button {
  background: #04668e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #04668e), color-stop(1, #06a4e5));
  background: -ms-linear-gradient(bottom, #04668e, #06a4e5);
  background: -moz-linear-gradient(center bottom, #04668e 0%, #06a4e5 100%);
  background: -o-linear-gradient(#06a4e5, #04668e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#06a4e5', endColorstr='#04668e', GradientType=0);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
  padding: 8px;
  width: 180px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.registration-page .header {
  margin: 0px;
}
.registration-page .ico {
  display: inline-block;
}
.registration-page .page {
  margin: 8px;
  position: relative;
}
.registration-page .page .intro {
  width: 500px;
  margin: 0 auto;
}
.registration-page .page .marketing {
  margin: 10px;
}
.registration-page .page .centered {
  text-align: center;
  margin: 0 auto;
}
.registration-page .page .image-button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.registration-page .page h3 {
  font-size: 18px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 18px !important;
  margin: 3px 0 !important;
  color: #898989;
}
.registration-page .page h4 {
  font-size: 12px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 14px !important;
  margin: 3px 8px !important;
  color: #898989;
  font-weight: normal;
}
.registration-page .page .user-details {
  margin-top: 8px;
  font-size: 13px;
}
.registration-page .page .user-details p {
  font-size: 14px;
}
.registration-page .page .user-details input[type="text"] {
  padding: 3px 6px;
  margin-bottom: 4px;
}
.registration-page .page .user-details td {
  vertical-align: top;
}
.registration-page .page .user-details .products {
  width: 368px;
  margin: 0 auto;
}
.registration-page .page .user-details .products .list {
  margin-top: 10px;
  margin-left: 20px;
}
.registration-page .page .user-details .products .list label {
  padding-left: 4px;
  display: inline-block;
  padding-top: 2px;
  vertical-align: top;
}
.registration-page .page .user-details .update-timestamp {
  color: #700;
  padding: 10px;
  font-size: 12px;
}
.registration-page .page .fbAccount-picker {
  margin-top: 6px;
  margin-left: 10px;
}
.registration-page .page .fbAccount-picker .pages-list {
  overflow-y: auto;
  padding: 2px;
}
.registration-page .page .fbAccount-picker #FBAccountListView {
  padding: 4px;
  min-height: 30px;
  width: 100%;
}
.registration-page .page .fbAccount-picker #FBAccountListView tr {
  margin-bottom: 8px;
}
.registration-page .page .fbAccount-picker #FBAccountListView td {
  padding: 2px 5px;
}
.registration-page .page .fbAccount-picker #FBAccountListView .fbAccount {
  border-bottom: 2px solid #bbb;
}
.registration-page .page .fbAccount-picker #FBAccountListView .fbAccount img {
  margin-right: 10px;
}
.registration-page .page .fbAccount-picker #FBAccountListView .fbAccount .name {
  font-weight: bold;
}
.registration-page .page .fbAccount-picker #FBAccountListView .fbAccount button {
  margin: 0;
}

