.platform-messages .fieldset {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #7d7d7d;
  -moz-box-shadow: 0px 1px 3px #7d7d7d;
  box-shadow: 0px 1px 3px #7d7d7d;
  margin: 6px 2px;
  padding: 4px;
  border: 1px solid silver;
  height: 100%;
  background-color: #f8f8fa;
}
.platform-messages .fieldset .legend {
  display: inline-block;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.2em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #333;
  padding: 2px 5px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
.platform-messages .info {
  padding: 0 4px 2px 4px;
}
.platform-messages .info input {
  margin-right: 4px;
  margin-bottom: 4px;
}
.platform-messages .info label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: top;
}

