.reports-content {
  margin-top: 2px;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.reports-content .k-content {
  border: none;
}
.reports-content .k-link {
  color: #4C5356 !important;
}
.reports-entrepsocial {
  margin-bottom: 20px;
}
.reports-entrepsocial .grid {
  margin-top: 8px;
}
.reports-entrepsocial .grid .k-toolbar {
  background: none;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  padding: 8px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.reports-entrepsocial .grid .report-toolbar {
  display: inline-block;
  width: 984px;
  margin-bottom: -5px;
}
.reports-entrepsocial .grid .added-header {
  text-align: center;
  font-weight: bold;
  border-right-width: 1px;
}
.reports-entrepsocial .grid .border-right {
  border-right-width: 1px !important;
}
.reports-entrepsocial .grid .account-name {
  color: #0088CC;
  font-weight: bold;
  border-right-width: 2px;
}
.reports-entrepsocial .grid td {
  text-align: center;
  vertical-align: middle;
}
.reports-entrepsocial .grid .account-header .k-link {
  font-size: 12px !important;
  line-height: 18px !important;
}
.reports-entrepsocial .grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
  overflow: visible;
  white-space: normal;
}
.reports-entrepsocial .grid th a {
  -ms-text-overflow: clip !important;
  -o-text-overflow: clip !important;
  text-overflow: clip !important;
  font-size: 9px;
  line-height: 13px !important;
}
.reports-entrepsocial .grid .n-ico {
  display: inline-block;
  margin-right: 2px;
}
.reports-entrepsocial .grid .k-link {
  color: #555;
}
.reports-entrepsocial .grid .k-grid {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.reports-entrepsocial .grid .k-grid tr td {
  overflow: visible;
}
.reports-entrepsocial .grid #ReportDetail {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.reports-entrepsocial .grid .centered-column {
  text-align: center;
  vertical-align: middle;
}

