﻿
@model ComposeMessage

@{
	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
	
	bool pageMode = false;
	if (ViewBag.FullPage != null)
	{
		pageMode = ViewBag.FullPage;
	}

	string showLink = "";
	string showLinkImage = "";
	int imageInit = 0;
	if (Model.IsLinkPostType || !string.IsNullOrEmpty(Model.ImageUrl))
	{
		showLink = "style=display:block;";
		if (Model.LinkImageUrl != "")
		{
			showLinkImage = "style=display:inline-block;";
			imageInit = 1;
		}
	}

	string postImages = "";
	string showUploadImage = "";
	string hideLinkPreview = "";
	if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		string[] images = Model.ImageUrl.Split(',');
		foreach (string image in images)
		{
			postImages += string.Format("<img src='{0}{1}' />", Model.UploadImagePath, image);
		}
		showUploadImage = "style=display:block;";
		hideLinkPreview = "style=display:none;";
	}

	object IsApprovalRequiredDisable = null;
	if (!baseModel.UserInfo.EffectiveUser.AllowSyndicationWithoutApproval)
	{
		IsApprovalRequiredDisable = new {disabled = "disabled"};
	}
}

<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/assets/script/jquery.autogrow-textarea.js"></script>

<script src="@Url.Content("~/Areas/Social/Views/Shared/ComposeMessage.min.js")"></script>	

@using (Ajax.BeginForm("ComposeMessage", "Social", new { area = "Social", mode = pageMode },
	new AjaxOptions
	{
		OnBegin = "ComposeMessage.BeginSubmit",
		OnSuccess = "ComposeMessage.MessageSave",
		OnFailure = "ComposeMessage.SaveFailure",
		LoadingElementId = "LoadingIconSave",
		LoadingElementDuration = 2000
	}, new { @id = "formComposeMessage" }))
{
	
	@Html.HiddenFor(m => m.ImageUrl)
	@Html.HiddenFor(m => m.PostID)
	@Html.HiddenFor(m => m.Targets)
	@Html.HiddenFor(m => m.IsSendNow)
	@Html.HiddenFor(m => m.SyndicatorID)
	@Html.HiddenFor(m => m.SendDate)
	@Html.HiddenFor(m => m.ApprovalExpires)
	@Html.HiddenFor(m => m.SelectedAllAccounts)
	@Html.HiddenFor(m => m.AccountFilterJson)
	
	<div class="social-compose-message">
		<div class="syndicaton-logo"><img id="SyndicationLogo" src="" style="display: none;" /></div>
		<div>@Model.Problems</div>
		<div style="margin-left: 10px; margin-bottom: 10px;">
			<div style="margin: 0 3px;">
				<label>Message Type: </label>
				@(Html.Kendo().DropDownListFor(m => m.MessageType)
				      .HtmlAttributes(new { style = "width:255px;" })
					  .DataTextField("Text")
				      .DataValueField("Value")
				      .DataSource(ds => ds.Read(read => read.Action("MessageTypes", "Social", new { area = "Social" })))
				      .Events(e => e.Change("ComposeMessage.MessageTypeChange").DataBound("ComposeMessage.MessageTypeChange"))
				      .AutoBind(true)
					  )
			</div>
			<div style="margin: 8px 3px;">
				@Html.TextBoxFor(m => m.Title, new { style = "width: 400px;margin-bottom: 2px;", placeholder = "Message Title ..." })
				&nbsp;
				@(Html.Kendo().DropDownListFor(m => m.CategoryID)
				      .HtmlAttributes(new { style = "width:175px;" })
				      .OptionLabel("Select Category...")
				      .DataTextField("Name")
				      .DataValueField("ID")
				      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "postcategories" })))
				      .AutoBind(true)
					  
					  )

				
			</div>				

			<div class="message-section" style="position: relative;">
				
				@if (baseModel.UserInfo.EffectiveUser.CanPublishDataInserts)
				{
					<div class="data-inserts-bar"><span>Data Inserts:</span> <span class="draggable">[Dealer Name]</span> <span class="draggable">[Dealer Phone #]</span> <span class="draggable">[Dealer Website Link]</span> <span class="draggable" style="display: none;">[New Inventory]</span> <span class="draggable" style="display: none;">[Used Inventory]</span> <div class="ico-t ico-info" title="Drag Inserts or Click Inserts to include in message."></div></div>
				}
				
				@Html.TextAreaFor(m => m.Message, 2, 240, new { style = "width: 97%;", placeholder = "Message Text ..." })
				<div class="message-count-bar">
					<div style="float:left;"><span class="message-count">0</span> total characters &nbsp; <span id="twitterCounter" style="display:inline;"><span id="twitterRemaining">140</span> remaining Twitter characters</span></div>
					<div style="float: right;">http:// or https:// required for auto-links.</div>
				</div>
				<div class="fcl"></div>
				<div class="message-action-bar">
			
					@(Html.Kendo().Upload()
					      .Name("ImageUpload")
					      .Multiple(true)
						  
					      .Messages(m => m.DropFilesHere("Drop files to Upload").Select("Add Image..."))
					      .Async(a =>
						      {
							      a.Save("PostImageUpload", "Social", new {area = "Social"});
							      a.Remove("PostImageUploadRemove", "Social", new {area = "Social"});
							      a.AutoUpload(true);
						      })
					      .Events(e =>
						      {
								  e.Error("ComposeMessage.UploadError");
								  e.Success("ComposeMessage.UploadSuccess");
								  e.Upload("ComposeMessage.PreUpload");
								  e.Complete("ComposeMessage.UploadCompleted");
								  e.Remove("ComposeMessage.UploadRemove");
						      })

						  )
					&nbsp;
					<div class="add-url-bar">
						<label>Add Link URL: </label>
						@Html.TextBoxFor(m => m.LinkUrl, new { style = "width: 400px;margin-bottom: 0;", placeholder = "Enter Link URL here, then Add ..." })
						<button id="AddLinkButton" class="k-button" type="button" ><span class="k-icon k-i-plus"></span>Add</button>
						<div class="many-images">Multiple images may only be used with Facebook.</div>
					</div>
				</div>
			</div>
			<div class="link-section" @showLink>
				<div class="fieldset">
					<div class="legend">Previews</div>
					<div id="UploadedImagePreview" @showUploadImage >@Html.Raw(postImages)</div>
					<div id="LoadingPreviewIcon"></div> 
					<div id="Previews" @hideLinkPreview >
						<div class="image-viewer">
							<div style="min-height: 100px; ">
								<span id="leftImage" class="leftImageIcon" title="Previous"></span> <span id="ImagePlaceHolder" ></span><img id="LinkImage" src="@Model.LinkImageUrl" @showLinkImage/> <span id="rightImage" class="rightImageIcon" title="Next"></span>
							</div>
							<div class="thumbnail-count">Thumbnail <span id="imageNum">1</span> of <span id="imageCount">1</span></div>
						</div>
						<div class="link-details">
							<div>
								@Html.TextBoxFor(m => m.LinkTitle, new { style = "width: 700px;margin-bottom: 2px;font-size: 12px;", placeholder = "Link Title..." })
							</div>
							<div id="LinkUrlDisplay"></div>
							<div>
								@Html.TextAreaFor(m => m.LinkMessage, 2, 120, new { style = "width: 700px;font-size: 12px;", placeholder = "Link Description..." })
							</div>
							<div>
								@Html.CheckBoxForWithLabel(m => m.IsNoThumbNail, "No Thumbnail")
							</div>
							<div>
								<label>Thumbnail URL: </label> @Html.TextBoxFor(m => m.LinkImageUrl, new { style = "width: 600px;font-size: 12px;", placeholder = "Link Image..." })
							</div>
						</div>
					</div>
					<div class="fcl"></div>
				</div>
			</div>
		</div>

		<div>
			@{ Html.RenderPartial("_MessageAccounts", baseModel); } 	
		</div>

@if (baseModel.UserInfo.EffectiveUser.CanPublishSchedulePost)
{
	<div class="post-date-section">	
		<div class="fieldset">
			<div class="legend">Post Date & Time</div>
			<div class="select-time-bar">
				<input id="PostType_1" type="radio" name="PostDateType" value="date" checked="checked"/>
				<label class="PostTypeLabel" style="font-weight: bold;" for="PostType_1">Post On </label>
				@(Html.Kendo().DatePicker()
					  .Name("PostDate")
					  .Value(Model.SendDate)
					  .Format("M/dd/yyyy")
					  .ParseFormats(new []{"MM/dd/yyyy", "MM-dd-yyyy"})
				      .Min(Model.SendDate)
				      .Footer("Today - #=kendo.toString(data, 'd') #")
				      .Events(e => e.Change("ComposeMessage.postTimeChange"))
					  )
				&nbsp;
				@(Html.Kendo().TimePicker()
					.Name("SendTime")
					.Value(Model.SendDate)
					.Interval(15)
					.Min(Model.SendDate)
					.Enable(true)
					.Events(e => e.Change("ComposeMessage.SetPostTimeDate"))
				)
				&nbsp;
				@Model.UserTimeZone
				&nbsp;
				<span id="timeDelta"></span>
				&nbsp;
				@if (baseModel.UserInfo.EffectiveUser.CanPublishSendNow)
				{
					string canSendNow = "";
					if (baseModel.UserInfo.EffectiveUser.CanPublishSyndicationOptions)
					{
						canSendNow = "disabled='disabled'";
					}
		
					<input id="PostType_2" type="radio" name="PostDateType" value="now" @canSendNow/>
					<label class="PostTypeLabel" for="PostType_2" id="SendNowLabel">
						<span>Send Post Now</span>
					</label>
				}
			</div>
		</div>
	</div>
}

@if (baseModel.UserInfo.EffectiveUser.CanPublishSyndicationOptions)
{
	<div class="syndication-section">
		<div class="fieldset">
			<div class="legend">Content Syndication Options</div>
			<div class="select-time-bar">
				<span style="vertical-align: top;">
					@Html.CheckBoxForWithLabel(m => m.IsRequiresApprovals, "Requires Approvals", @IsApprovalRequiredDisable)
				</span>

				<div style="margin-left: 20px; display: inline-block">
					<div>
						<input id="ApprovalType_1" type="radio" name="ApprovalDateType" value="date" checked="checked"/>
						<label class="PostTypeLabel" for="ApprovalType_1">Approval Expiration: </label>
						@(Html.Kendo().DatePicker()
						      .Name("ApprovalDate")
						      .Value(Model.ApprovalExpires)
						      .Format("M/dd/yyyy")
						      .ParseFormats(new []{"MM/dd/yyyy", "MM-dd-yyyy"})
						      .Max(Model.ApprovalExpiresMax)
						      .Footer("Today - #=kendo.toString(data, 'd') #")
						      .Events(e => e.Change("ComposeMessage.approvalTimeChange"))
							  )
						&nbsp;
						@(Html.Kendo().TimePicker()
						      .Name("ApprovalTime")
						      .Value(Model.ApprovalExpires)
						      .Interval(60)
							  //.Max(Model.ApprovalExpires)
						      .Enable(true)
						      .Events(e => e.Change("ComposeMessage.SetApprovalTimeDate")))
						&nbsp;
						@Model.UserTimeZone
					</div>
					<div>
						<input id="ApprovalType_2" type="radio" name="ApprovalDateType" value="nodate" />
						<label class="PostTypeLabel" for="ApprovalType_2">No Approval Expiration</label>
					</div>

				</div>
				<div>
					<div class="title">Allow Account to Edit:</div>
					<table class="options">
						<tr>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.AllowChangePublishDate, "Publish Date")</td>
							<td colspan="3">From: @Html.Kendo().IntegerTextBoxFor(m => m.PublishOptions.MaxDaysBeforeOriginalPublishDate).Max(30).Min(0).HtmlAttributes(new { style="width: 50px;" }) days before to @Html.Kendo().IntegerTextBoxFor(m => m.PublishOptions.MaxDaysAfterOriginalPublishDate).Max(30).Min(1).HtmlAttributes(new { style="width: 50px;" }) days after</td>
						</tr>
						<tr>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.AllowChangeMessage, "Status Message")</td>
							<td colspan="3">@Html.CheckBoxForWithLabel(m => m.PublishOptions.RequireMessage, "Require Message")</td>
						</tr>
						<tr>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.AllowChangeImage, "Image")</td>
							<td colspan="3">@Html.CheckBoxForWithLabel(m => m.PublishOptions.RequireImage, "Require Image")</td>
						</tr>
						<tr>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.AllowChangeTargets, "Change Social Networks")</td>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.ForbidFacebookTargetChange, "Cannot change Facebook")</td>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.ForbidTwitterTargetChange, "Cannot change Twitter")</td>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.ForbidGoogleTargetChange, "Cannot change Google+")</td>
						</tr>
						<tr>
							<td>@Html.CheckBoxForWithLabel(m => m.PublishOptions.AllowChangeLinkURL, "URL Link")</td>
							<td colspan="3">@Html.CheckBoxForWithLabel(m => m.PublishOptions.RequireLinkURL, "Require a URL Link")</td>
						</tr>
						<tr>
							<td colspan="4">@Html.CheckBoxForWithLabel(m => m.PublishOptions.AllowChangeLinkText, "Link Title & Description")</td>
						</tr>
						<tr>
							<td colspan="4">@Html.CheckBoxForWithLabel(m => m.PublishOptions.AllowChangeLinkThumb, "Link Thumbnail")</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
}
		<div class="action-bar">
			<div style="float:left; width: 400px;">
				@Html.ValidationSummary("Please review Errors.")
				<span id="resultSave" class="update-timestamp" ></span>
			</div>
			<div style="float: right">
				@*@Html.CheckBoxForWithLabel(m => m.IsAllowRevisions, "Allow Revisions")*@
				<button id="ResetButton" class="k-button" style="width: 140px;" type="button"><span class="k-icon k-i-refresh"></span> Reset</button>&nbsp;&nbsp;
				<button id="PostButton" class="k-button" style="width: 140px; font-weight: bold;" type="button"><span class="k-icon k-i-tick"></span> Post
					<span id="LoadingIconSave" style="padding-left: 5px; display: none;">
						<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
					</span>
				</button>
			</div>
			<div class="fcl"></div>
		</div>
		
		<div id="PostConfirmationWindow" style="display: none;">
			<div class="post-confirmation">
				<div class="fieldset">
					<div class="legend">Post Information</div>
					<div>
						<div><label>Post Title:</label> <span id="postTitle"></span></div>
						<div><label>Post Category:</label> <span id="postCategory"></span></div>
						<div><label>Post Message:</label> <span id="postMessage"></span></div>
						<div><label>Post Link:</label> <span id="postLink"></span></div>
					</div>
				</div>
				<div class="fieldset">
					<div class="legend"  style="display: block; width: 135px;">Total Networks (<span id="postTotalNetworks"></span>)</div>
					<div style="float: left;">
						<div id="networkSummary">
							<div><label><span class="ico-facebook"></span> Facebook:</label> <span id="postFacebook"></span></div>
							<div><label><span class="ico-twitter"></span> Twitter:</label> <span id="postTwitter"></span></div>
							<div><label><span class="ico-google"></span> Google:</label> <span id="postGoogle"></span></div>
						</div>
						<div id="selectedAllText" style="display: none;"><label>All Accounts selected.</label></div>
					</div>
					<div class="approval-summary"  id="ApprovalSummary">
						<div><label class="wide-label"><span class="ico ico-selected"></span> Auto-Approved:</label> <span id="postAutoApprove"></span></div>	
						<div><label  class="wide-label"><span class="ico ico-group"></span> Requires Approval:</label> <span id="postRequiresApproval"></span></div>	
						<div>&nbsp;</div>
						<div><label  class="wide-label">Approval Expiration:</label><div id="postApprovalExpire"></div></div>	
					</div>
					<div class="fcl"></div>
				</div>
				<div class="fieldset">
					<div class="legend">When to Post</div>
					<div>
						<div><label>Scheduled</label></div>
						<div><label>Date and Time:</label> <span id="postDateTime"></span></div>
					</div>
				</div>
				<div style="text-align: center;">
					<button id="PostConfirmationButton" class="k-button" type="button">Yes</button>&nbsp;<button id="NoPostButton" class="k-button" type="button">No</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		ComposeMessage.imageIdx = parseInt('@imageInit');
		ComposeMessage.uploadPath = '@Model.UploadImagePath';
		ComposeMessage.fullPageMode = '@pageMode.ToString()';
		ComposeMessage.userTimeZone = '@Model.UserTimeZone';
		ComposeMessage.contentLibraryPost = '@ViewBag.ContentLibraryPost';
		
		$(function () {
			ComposeMessage.Init();
			
			@if (Model.ForceLinkScrape)
			{
				<text>
				$("#AddLinkButton").trigger("click");
				</text>
			}
			
		})
	</script>

}
