﻿
<style>
	.k-listview{
		border: none !important;
	}
</style>

<script src="@Url.Content("~/Areas/Social/Views/Shared/FacebookStream.min.js")"></script>	

<script type="text/x-kendo-tmpl" id="streamTemplate">
	<div class="facebook-post">
		<div class="post-details">
			<div class="post-header">
				<img src="#=PageImageURL#" />
				<div class="title">
					<span class="pagename">#=PageName#</span><span class="shared"> posted a <a href="#=LinkURL#" target="_blank">#=Type#</a>.</span>	
					<div class="posted">
						#if (PostedBy != ""){#
							<span>Posted by #=PostedBy#</span><span class="space-dot"> . </span>
						#}#
						<span title="#=PostDate# #=UserTimeZone#" >#=PostTimeStamp#</span>
					</div>
					<a href="#=PostURL#" target="_blank" title="Link to Post on Facebook"><span class="k-tool-icon k-createLink ico"></span></a>
				</div>
				<div class="post-delete" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#" title="Delete Post">X</div>
			</div>
			<div class="post-message">#=Message#</div>

		#if (Type == "link"){#
			<div class="post-link">
				<div class="link-image">
					<img src="#=LinkImageURL#" />
				</div>
				<div class="details">
					<div class="caption">#=LinkCaption#</div>
					<div class="link"><a href="#=LinkURL#" target="_blank">Post Link</a></div>
					
				</div>
				<div class="text">#=LinkText#</div>
			</div>
		#}# 
		</div>	
		#if (Type == "photo" || Type == "video"){#
			<div class="post-photo">
				<a href="#=LinkURL#" target="_blank"><img src="#=PostImageURL#" /></a>
			</div>
		#}# 
		<div class="action-links">
			<div class="actions">
				<span><a class="like-link" href="javascript: void(0);" title="Like this" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#">Like</a></span><span class="space-dot"> . </span>
				<span><a class="comment-link" href="javascript: void(0);" title="Leave a comment" data-id="#=PostUniqueID#">Comment</a></span>
				@*<span class="space-dot"> . </span>
				<span><a class="share-link" href="javascript: void(0);" title="Send this to friends or post it on your timeline." data-id="#=PostUniqueID#">Share</a></span>*@
			</div>
			<div class="icons">
				<span id="LikeCount#=PostUniqueID#" #if (LikesCount == 0){# style="display:none;" #}#>
					<span class="ico-fblike ico"></span><span class="count">#=LikesCount#</span>
				</span>
				#if (CommentCount > 0){#
					<span class="ico-fbcomment ico"></span><span>#=CommentCount#</span>
				#}#
				#if (SharesCount > 0){#
					<span class="ico-fbshare ico"></span><span>#=SharesCount#</span>
				#}#
			</div>
		</div>
		<div class="fcl"></div>
		#if (InsightCount > 0){#
			<div class="post-reach">#=InsightCount# people saw this post</div>
		#}#
		
		<div class="more-comments" id="moreComments#=PostUniqueID#" style="display: none;">
			<span class="ico-fbcomment ico"></span>
			<span>Latest <span id="commentCount#=PostUniqueID#"></span> Comment(s)</span>
			<a class="view-comments" id="viewComments#=PostUniqueID#" href="javascript: void(0);" data-id="#=PostUniqueID#" data-type="#=Type#"> View more...</a>
		</div>	

		<div class="post-comments" id="postComments#=PostUniqueID#" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#" data-loaded="false"></div>
		<div class="comment-entry" id="commentArea#=PostUniqueID#" style="display:none;">
			<img src="#=PageImageURL#" width="32" />
			<textarea class="autogrow" id="comment#=PostUniqueID#" row="1" cols="90" placeholder="Write a comment..."></textarea>
			<button class="comment-save" type="button" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#" title="Save Comment">Save</button>
		</div>


	</div>
</script>

<script type="text/x-kendo-tmpl" id="commentTemplate">
	<div class="comment">
		<div class="user-image">
			<img src="#=UserImageURL#" width="32"/>
		</div>
		<div class="info">
			<span class="user-name">#=UserName#</span> <span>#=CommentText#</span>
			<div class="ts">
				<span>#=Timestamp#</span><span class="space-dot"> . </span>
				#if (!UserLikes){#
					<a class="like-link" href="javascript: void(0);" title="Like this Comment" data-id="#=CommentID#" data-credentialid="#=CredentialID#">Like</a>
				#} else {#
					<a class="unlike-link" href="javascript: void(0);" title="Unlike this Comment" data-id="#=CommentID#" data-credentialid="#=CredentialID#">Unlike</a>
				#}#
				<span id="likecount#=CommentID#" #if (LikesCount == 0){# style="display:none;" #}#>
					<span class="space-dot"> . </span>
					<span class="ico-fblike ico"></span><span class="count">#=LikesCount#</span>
				</span>
			</div>
		</div>
		<div class="delete" data-id="#=CommentID#" data-postid="#=PostUniqueID#" title="Delete Comment">X</div>
	</div>
</script>

<div class="facebook-stream">
	
	<div id="posts"></div>
	
	<div id="MoreDiv">
		<button id="More" class="k-button" type="button"><span class="k-icon k-i-refresh"></span> View more Post...</button>
	</div>
</div>
