﻿
<style>
	.k-listview{
		border: none !important;
	}
</style>

<script src="@Url.Content("~/Areas/Social/Views/Shared/GoogleStream.min.js")"></script>	

<script type="text/x-kendo-tmpl" id="GooglestreamTemplate">
	<div class="google-post">
		<div class="post-details">
			<div class="post-header">
				<img src="#=PageImageURL#" />
				<div class="title">
					<span class="pagename">#=PageName#</span>
					<div class="posted">
						<span title="#=PostDate# #=UserTimeZone#" >Shared publicly - #=PostTimeStamp#</span>
					</div>
					<a href="#=PostURL#" target="_blank" title="Link to Post on Google+"><span class="k-tool-icon k-createLink ico"></span></a>
				</div>
				<div class="google-post-delete" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#" title="Delete Post">X</div>
			</div>
			<div class="post-message">#=Message#</div>

		#if (Type == "link"){#
			<div class="post-link">
				<div class="link-image">
					<img src="#=LinkImageURL#" />
				</div>
				<div class="details">
					<div class="caption">#=LinkCaption#</div>
					<div class="link"><a href="#=LinkURL#" target="_blank">Post Link</a></div>
					
				</div>
				<div class="text">#=LinkText#</div>
			</div>
		#}# 
		</div>	
	#if (Type == "photo" || Type == "video"){#
		<div class="post-photo">
			<a href="#=PostURL#" target="_blank"><img src="#=PostImageURL#" /></a>
		</div>
	#}# 
		<div class="action-links">
			<div class="g-container plusOne" title="+1 this post" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#">
				<span class="block">
					<span class="plus-one-icon"></span>
					<span id="LikeCount#=PostUniqueID#">#=LikesCount#</span>
				</span>
			</div>
			<div class="g-container shareLink" title="Share this post" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#">
				<span class="block">
					<span class="shared-icon"></span>
					<span> #if (SharesCount > 0){# #=SharesCount# #}#</span>
				</span>
			</div>
		</div>
		#if (CommentCount > 0) {#
			<div class="comment-count">#=CommentCount# comments</div>
		#}#
			<div class="post-comments" id="postComments#=PostUniqueID#" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#" data-loaded="false" data-count="#=CommentCount#"></div>
		
		<div class="comment-entry" id="commentArea#=PostUniqueID#">
			<img src="#=PageImageURL#" width="32" />
			<textarea class="google-autogrow" id="comment#=PostUniqueID#" row="1" cols="90" style="width:82%;" placeholder="Add a comment..."></textarea>
			<button class="comment-save" type="button" data-id="#=PostUniqueID#" data-credentialid="#=CredentialID#" title="Save Comment">Save</button>
		</div>
	</div>
	
	
</script>


<script type="text/x-kendo-tmpl" id="GooglecommentTemplate">
	<div class="comment">
		<div class="user-image">
			<img src="#=UserImageURL#" width="32"/>
		</div>
		<div class="info">
			<span class="user-name">#=UserName#</span> 
			<div class="ts">
				<span>#=Timestamp#</span>
			</div>
			<div><span>#=CommentText#</span></div>
		</div>
		<div class="delete" data-id="#=CommentID#" data-postid="#=PostUniqueID#" title="Delete Comment">X</div>
	</div>
</script>


<div class="google-stream">
	
	<div id="Googleposts"></div>
	
	<div id="GoogleMoreDiv">
		<button id="GoogleMore" class="k-button" type="button"><span class="k-icon k-i-refresh"></span> View more Post...</button>
	</div>
</div>