﻿@model BaseMembersModel

<script src="~/assets/script/kendo.multiselectbox.min.js"></script>

<script src="@Url.Content("~/Areas/Social/Views/Shared/MessageAccounts.min.js")"></script>	

<script type="text/x-kendo-template" id="network-template">
	<a href="#=SocialURL#" target="_blank" onclick="MessageAccounts.noProp(arguments[0]);" title="Social Site">
		<div class="network-image">
			<img src="/ImageSizer?image=#=PictureURL#&h=48"/>
			<span class='ico-#=Network.toLowerCase()# n-ico' style="top: -50px; left: 19px; position: relative;"></span>
		</div>
	</a>
</script>

<script type="text/x-kendo-template" id="ma-location-template">
	<div class='dealer-name'>#=DealerLocation.Name#</div>
	<div style='font-size: 0.8em; color: #=uniqColor#; line-height: 10px;' title='Screen Name'>(#=ScreenName#)</div>
	<div>#=DealerLocation.Address#</div>
	<div>#=DealerLocation.City#, #=DealerLocation.StateAbrev# #=DealerLocation.Zipcode#</div>
</script>

<div id="SocialMessagesAccounts" class="social-message-accounts" style="visibility: hidden;">
	
	<div class="message-accounts-grid">
		@(Html.Kendo().Grid<MessageAccounts>()
			.Name("MessageAccounts")
			.Columns(columns =>
				{
					columns.Template(t => t).ClientTemplate("<input type='checkbox' class='checkbox' />").HeaderTemplate("<input type='checkbox' class='checkbox-all' title='Select All' />").HtmlAttributes(new { @class = "centered-column" }).Width(40);
					columns.Bound(c => c.Network).Title("Network").ClientTemplate("#=MessageAccounts.getNetwork(Network, SocialNetworkPictureURL, SocialNetworkURL)#").HtmlAttributes(new { @class = "centered-column" }).Width(75).Filterable(false);
					columns.Bound(c => c.DealerLocation.Name).ClientTemplate("#=MessageAccounts.getMALocation(DealerLocation, SocialNetworkScreenName, UniquenessCount)#").Title("Dealership").Filterable(false);
					columns.Bound(c => c.IsAutoApprove).ClientTemplate("#=MessageAccounts.getAutoApprove(IsAutoApprove)#").Title("AA").HtmlAttributes(new { title = "Auto-Approve" }).Width(30).HeaderHtmlAttributes(new { title = "Auto-Approve" }).Hidden(true).Filterable(false);
					columns.Bound(c => c.DealerLocation.OemName).Title("OEM").HtmlAttributes(new { @class = "centered-column" }).Width(180).Filterable(false);
					columns.Bound(c => c.DealerLocation.StateAbrev).Title("ST").HtmlAttributes(new { @class = "centered-column" }).Width(45).Filterable(f => f.UI("MessageAccounts.StateFilter").Messages(m => m.Info("Filter by State:")));
					columns.Bound(c => c.LastPost).ClientTemplate("<div title='Last Post Date'>#=LastPost ? kendo.toString(LastPost, 'MMMM dd h:mm tt') : ''#</div><div title='Next Scheduled Post Date'>#=SchedulePostDate ? kendo.toString(SchedulePostDate, 'MMMM dd h:mm tt') : ''#</div>").Title("Last Post").HtmlAttributes(new { @class = "last-post-date" }).Width(120).Filterable(false);
					columns.Bound(c => c.TimeToPost).Title("Time Zone").ClientTemplate("<div>#=TZName#</div>").HtmlAttributes(new { @class = "centered-column" }).Width(200).Filterable(false);

				})
			.AutoBind(false)
			.DataSource(ds => ds.Ajax().Read(read => read.Action("MessageAccountsGrid", "Social"))
										.Model(model => model.Id(a => a.CredentialID))
										.ServerOperation(true).PageSize(1000))
			
			.Sortable()
			.Filterable(f => f.Enabled(true).Extra(false).Operators(o => o.ForString(s => s.Clear().IsEqualTo("Is equal to"))).Messages(m => m.Info("Accounts Filter by: ")))
			.Resizable(r => r.Columns(true))
			//.HtmlAttributes(new { style = "height:400px;" })
			
			.Events(e => e.DataBound("MessageAccounts.accountDataBound").FilterMenuInit("MessageAccounts.filtersInit"))
			.ToolBar(toolbar =>
				{
					toolbar.Template(@<text>
					                  	<div>
							                  <div id="MAFilterView" class='dealer-filter'>
								                  
								                  <select id ="locationVirtualGroup" style="width:180px;" 
								                          data-auto-bind="false" data-placeholder="Virtual Group ..." data-role="combobox" data-text-field="Text" 
								                          data-value-field="Value" data-filter="startswith"data-suggest="true" data-delay="500"
								                          data-highlight-first="true" data-bind="source: groupFilterItemSource, value: groupFilterValue, events: { change: applyNewFilters }" >
								                  </select>
												  <select id ="locationDealers" style="width:180px;" 
								                          data-auto-bind="false" data-placeholder="Dealer ..." data-role="combobox" data-text-field="Text" 
								                          data-value-field="Value" data-filter="startswith" data-suggest="true" data-delay="500"
								                          data-highlight-first="true" data-bind="source: dealerFilterItemSource, value: dealerFilterValue, events: { change: applyNewFilters }" >
								                  </select>
								                  <select id="oemFilterItems" style="width:160px;" multiple="multiple" data-role="multiselectbox" 
								                          data-auto-bind="false" data-option-label="OEM..." data-text-field="Name" data-value-field="ID" 
								                          data-bind="source: oemFilterItemSource, value: oemFilterItems, events: { change: applyNewFilters }" >
								                  </select>
								                  <select id="networkFilterItems" style="width:120px;" multiple="multiple" data-role="multiselectbox" data-option-label="Network ..." 
								                          data-text-field="Name" data-value-field="ID" 
								                          data-bind="source: networkFilterItemSource, value: networkFilterItems, events: { change: applyNewFilters }" >
								                  </select>
								                  <span>
									                  <span class="k-textbox k-space-left" style="width:190px;">
										                  <input type="text" placeholder="Search Dealer ..." 
										                         data-bind="value: dealerNameFilterValue, events: { keyup: searchSelect }"
										                         style="width:165px;"/>
														<div class="k-icon k-i-search">&nbsp;</div>
													 </span>
									                  <a id="ClearFilterLink" title="Clear Filters" class="k-link" style="margin-left: 2px;" href="#" data-bind="events: { click: clearFilters }">
										                  <span class="k-icon k-i-cancel"></span> Clear Filters
									                  </a>
								                  </span>		
											  </div>
						                  </div>
					                  </text>);
				})
			)

	</div>
	<div class="selected-bar">@Html.CheckBoxWithLabel("SelectAll", "Select All") (<span id="AccountsSelectedCount" >0</span> Accounts selected)</div>
</div>

<script>
	AccountViewModel.dealerCurrentContext = parseInt('@ViewBag.currentAccountID');
	AccountViewModel.dealerFilterValue = parseInt('@ViewBag.currentAccountID') == 0 ? null : { Text: '@ViewBag.currentAccountName', Value: parseInt('@ViewBag.currentAccountID') };	

	var MAfilterViewModel = kendo.observable(AccountViewModel);

	$(function () {
		MessageAccounts.SetSelectAll();
		MessageAccounts.countryID = '@Model.CurrentAccountCountryID.GetValueOrDefault(1)';
		

		kendo.bind($("#MAFilterView"), MAfilterViewModel);
		
		@if (!Model.UserInfo.EffectiveUser.ViewPublishAccountsFilter)
		{
			@: $("#MAFilterView").hide();
		}
		$("#SocialMessagesAccounts").hide().css({ visibility: "visible" }).fadeIn("fast");
	
	});

</script>


