﻿@model PostManagementDetails

<div class="social-postmanagement-details">
	<div class="fieldset">
		<div class="legend">Post Information</div>
		<div>
			<table>
				<tr><td style="width: 80px;"><label>Title:</label></td><td>@Html.SpanFor(m => m.Title)</td></tr>
				<tr><td><label>Category:</label></td><td> @Html.SpanFor(m => m.Category)</td></tr>
				<tr><td><label>Status:</label></td><td>@Html.SpanFor(m => m.Status)</td></tr>
						
				@if (Model.PostType == "link")
				{
					<tr><td><label>Link:</label></td><td>@Html.SpanFor(m => m.Link)</td></tr>
					<tr><td><label>Link Desc:</label></td><td>@Html.SpanFor(m => m.LinkDesc)</td></tr>
					<tr><td><label>Link Title:</label></td><td>@Html.SpanFor(m => m.LinkTitle)</td></tr>
					<tr><td><label>Thumbnail:</label></td><td><img src="/ImageSizer?image=@Model.Thumbnail&h=48"/></td></tr>
					<tr><td></td><td><a href="@Model.Thumbnail" target="_blank">@Model.Thumbnail</a></td></tr>
				
				}
				@if (Model.PostType == "photo")
				{
					<tr><td><label>Photo:</label></td>
						<td>
							<div class="photo-post">
					
								@foreach (string img in Model.Photos)
								{
									<img src="@img"/>
								}
							</div>		
						</td>
					</tr>
				
				}				
			
				<tr><td><label>Created:</label></td><td> @Html.SpanFor(m => m.CreatedDate) </td></tr>
				<tr><td><label>Scheduled:</label></td><td> @Html.SpanFor(m => m.ScheduldedDate) </td></tr>
				<tr><td><label>Published:</label></td><td> @Html.SpanFor(m => m.PublishedDate)</td></tr>
				<tr><td><label>Approval Expiration:</label></td><td> @Html.SpanFor(m => m.ApprovalExpirationDate)</td></tr>
				<tr><td><label>Revised:</label></td><td> @Html.SpanFor(m => m.LastRevCreatedDate)</td></tr>
			
			</table>
		</div>
	</div>
				
	<div class="fieldset">
		<div class="legend">Edit Options</div>
		<div>
			<ul>
				@foreach (string opt in Model.EditOptions)
				{
					<li>@opt</li>
				}
			</ul>
		</div>
	</div>
	<div style="text-align: center;">
		<button id="CloseButton" class="k-button" type="button"><span class="k-icon k-i-close" style="padding-bottom: 1px;"></span> Close</button>
	</div>
</div>

<script>
	$(function() {
		$("#CloseButton").click(function() {
			$("#PostDetailsWindow").data("kendoWindow").close();
		});
	})
</script>
