﻿
<script src="@Url.Content("~/Areas/Social/Views/Shared/TwitterStream.min.js")"></script>	

<script type="text/x-kendo-tmpl" id="tweetReplyTemplate">
	<textarea class="autogrow" id="reply#=ID#" row="1" cols="90" data-id="#=ID#">#=reply#</textarea>
	<div class="count-button">
		<span id="CharCount#=ID#" class="char-count"></span>
		<button class="tweet-save" type="button" data-id="#=ID#" title="Save Tweet Reply">
			<span class="ico-tweetsave ico"></span>	Tweet
		</button>
	</div>
</script>

<script type="text/x-kendo-tmpl" id="tweetTemplate">
	<div id="tweet#=ID#" class="tweet" data-id="#=ID#" data-credid="#=CredentialID#" data-screenname="#=UserScreenName#">
		<div class="user-image">
			<img src="#=UserImageURL#" />
		</div>
		<div class="details">
			<div class="title">
				<a href="https://twitter.com/#=UserScreenName#" target="_blank">
					<span class="name">#=UserName#</span>
				</a>
				<span class="screen-name">@@#=UserScreenName#</span>
				<span class="space-dot">.</span>
				<span class="time-stamp" title="#=TweetDate# #=UserTimeZone#">#=TimeStamp#</span>
			</div>
			<div class="text">#=Text#</div>
			#if (TweetImageURL != ""){#
				<div class="photo">
					<img src="#=TweetImageURL#" />
				</div>
			#}#
		</div>
		<div class="fcl"></div>
		<div class="actions">
			<span class="view">
				<a class="view-tweet" href="https://twitter.com/#=UserScreenName#/status/#=ID#" target="_blank"><span class="ico-twitterview ico"></span> View</a>
			</span>
			<span class="subs">
				<a class="reply-link" href="javascript: void(0);" data-id="#=ID#"><span class="ico-twiiterreply ico"></span>Reply </a>
				@*<a class="retweet-link" href="javascript: void(0);" data-id="#=ID#"><span class="ico-twitterretweet ico"></span>Retweet </a>*@
				
				#if (Section != "user"){#
					<a class="favorite-link" href="javascript: void(0);" data-id="#=ID#" data-favorite="#=Favorited#">
						#if (!Favorited){#
							<span class="ico-twitterfavorite ico"></span>Favorite
						#} else {#
							<span class="ico-twitterfavorited ico"></span>Favorited
						#}#
					</a>
				#} else {#
					<a class="delete-link" href="javascript: void(0);" data-id="#=ID#"><span class="ico-twitterdelete ico"></span>Delete</a>
				#}#
			</span>
		</div>
		<div id="ReplyTweet#=ID#" class="reply-tweet"></div>
	</div>
	

</script>

<div class="twitter-stream">
	
	<div class="tweet-list">
		<div class="header" id="TimeLineHeader">
			<span class="title"><span class="ico-twitter ico"></span> TimeLine</span>
			<span id="HomeRefresh" class="refresh" title="Refresh"><span class="ico-refresh ico"></span></span>
		</div>
		<div id="HomeTweets"></div>
		<div id="HomeTweetsMoreDiv">
			<button id="HomeTweetsMore" class="k-button" type="button" style="display: none;"><span class="k-icon k-i-refresh"></span> View more Tweets...</button>
		</div>
	</div>
	
	<div class="tweet-list">
		<div class="header" id="SentHeader">
			<span class="title"><span class="ico-twitter ico"></span> Sent Tweets</span>
			<span id="UserRefresh" class="refresh" title="Refresh"><span class="ico-refresh ico"></span></span>
		</div>
		<div id="UserTweets"></div>
		<div id="UserTweetsMoreDiv">
			<button id="UserTweetsMore" class="k-button" type="button" style="display: none;"><span class="k-icon k-i-refresh"></span> View more Tweets...</button>
		</div>
	</div>
	
	<div class="tweet-list">
		<div class="header" id="MentionsHeader">
			<span class="title"><span class="ico-twitter ico"></span> @@Mentions</span>
			<span id="MentionsRefresh" class="refresh" title="Refresh"><span class="ico-refresh ico"></span></span>
		</div>
		<div id="MentionsTweets"></div>
		<div id="MentionsTweetsMoreDiv">
			<button id="MentionsTweetsMore" class="k-button" type="button" style="display: none;"><span class="k-icon k-i-refresh"></span> View more Tweets...</button>
		</div>
	</div>
	
</div>