﻿.si-grid {    
    margin-top:15px;
    margin-left:10px;
    width: 787px; 
    height: 400px;    
}
    .si-grid .si-filter {      
        position:relative;  
        border: 1px solid rgb(212,212,212);
        border-radius: 3px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:10px;
        padding-top:15px;
        height:35px;
        overflow:visible;
    }
        .si-grid .si-filter .si-item {
            margin-right:7px;
        }

        .si-grid .si-filter .si-title {
            font-size:15px;
            font-weight:bold;
            position:absolute;
            top:-12px;
            padding-left:5px;
            padding-right:5px;
            background-color:white;
        }

        .si-grid .si-filter input {
            margin:0px !important;
        }
        .si-grid .si-filter .bootstrap-select {
            width:155px !important;
            margin:0px !important;
        }

    .si-grid .si-pag {
        margin-top:8px;
        margin-bottom:5px;
    }
    
    .si-grid .si-pag .si-info {
        color:blue;
        font-size:12px;
    }

    .si-grid .si-pag .si-crit {
        position:relative;
        top:-1px;
        margin-left:16px;
        font-size:14px;
        font-weight:bold;
    }


    .si-grid .si-results tr {
        cursor:pointer;
    }