﻿@{
	ViewBag.PageTitle = "Content Library";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.baseModel as BaseMembersModel;
}

@section Header
{
	<style>
		.k-tooltip-content {
			overflow: hidden !important;
			height: auto !important;
		}

		
	</style>
	
	<script src="@Url.Content("~/Areas/Social/Views/Social/ContentLibrary.min.js")"></script>	
}

<script type="text/x-kendo-template" id="tooltip-template">
	<iframe src='#:target.data("link")#' height='400' frameborder='0' style='border: 1px silver solid;width:100%;' seamless="seamless"></iframe>	
</script>

<script type="text/x-kendo-tmpl" id="rssTemplate">

	<div class="item" >
		<div class="image" data-link='#=Link#' >
			#if (ImageURL != ""){#
				<div class="image-wrapper">
					<img src="/ImageSizer?image=#=ImageURL#&w=202" title='Click to View' class='main-image' style="background: url('/assets/style/aristo/images/noise.png') repeat;"/>
				</div>
				<img src="/assets/style/aristo/images/click_to_view.png" class="click-to-view"/>
			#} else {#
				<img class='placeholder-image' src='/assets/style/aristo/images/noise.png'/>
			#}#
		</div>
		<div class="pub-date">
			#=kendo.format('{0:M-dd-yyyy h:mm tt}', PubDate)#
		</div>
		<div class="title">
			#=Title#
		</div>
		<div class="buttons">
			<button class="k-button rssitem-publish" type="button" data-rssitemid='#=RSSItemID#'><span class="k-icon k-edit"></span> Publish</button>&nbsp;
		#if (ImageURL != ""){#
			<button class="k-button rssitem-postimage" type="button" data-rssitemid='#=RSSItemID#'><span class="k-tool-icon k-insertImage image-icon" ></span> Post Image</button>
		#}#
		</div>
	</div>
</script>

<div class="content-library">
	<div>
		<div style="float: left;">
			@(Html.Kendo().DropDownList()
			      .Name("TimeFrame")
			      .DataTextField("Text")
			      .DataValueField("Value")
			      .BindTo(new List<SelectListItem>()
				      {
					      new SelectListItem() {Text = "Last 7 Days", Value = "7"},
					      new SelectListItem() {Text = "Last 14 Days", Value = "14"},
					      new SelectListItem() {Text = "Last 30 Days", Value = "30", Selected = true},
					      new SelectListItem() {Text = "Last 45 Days", Value = "45"},
					      new SelectListItem() {Text = "Last 60 Days", Value = "60"}
				      })
				  )
			&nbsp;
			@(Html.Kendo().DropDownList()
				  .Name("Franchise")
				  .DataTextField("Text")
				  .DataValueField("Value")
				  .HtmlAttributes(new { style = "width:200px;" })
				  .DataSource(ds => ds.Read(read => read.Action("AccountFranchises", "Social", new { area = "Social", accountID=baseModel.UserInfo.EffectiveUser.CurrentContextAccountID })))

				  )
				  
		</div>
		<div style="text-align: right; float: right;">
			<span style="margin-left: 20px; margin-right: 20px;" id="saveResults"></span>
			<label>Search:</label>	
			<input id="SearchText" type="text" class="k-textbox" size="80" style="width: 300px"/>
			<button id="SearchButton" class="k-button" style="vertical-align:top; margin-top: 2px;"><span class="k-icon k-i-search"></span> Search Content</button>
		</div>
	</div>
	<div class="fcl"></div>
	<div id="TopPage"></div>
	<div class="rss-items">

		@(Html.Kendo().ListView<ContentLibraryRSSItems>()
		      .Name("RSSItemsListView")
		      .TagName("div")
		      .HtmlAttributes(new { style="background-color: transparent; min-height: 400px;" })
		      .ClientTemplateId("rssTemplate")
		      .DataSource(data => data.Read(read => read.Action("ContentLibraryRSSListView", "Social", new { area = "Social" }).Data("searchCriteria")).PageSize(12))
		      .Selectable(s => s.Enabled(false))
		      .Events(e => e.DataBound("rssListItemBound"))
		      .Pageable(p =>
			      {
				      p.Enabled(true);
				      p.Refresh(true);
				      p.Numeric(true);
				      p.PageSizes(new int[] {8, 12, 24, 48, 96});
				      p.Messages(m => m.Display("Showing {0}-{1} from {2} Content").Empty("No Content found.").ItemsPerPage("Content per page"));			  


			      })
			  )

	</div>

	<div id="PublishWindow" style="background-color: #FBFBFB;"></div>

</div>
<div style="display:none;">
	<img src='/assets/style/aristo/images/noise.png' width="1" height="1"/>
</div>