﻿@{
    ViewBag.PageTitle = "Post Management";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

@section Header
{
	<style>
		.k-tooltip-content{ min-height: 50px; }
		.k-grid-filter{ cursor: pointer; }
		.k-grid-filter.k-state-active{ background-color: transparent; }
	</style>
	
	<script src='@Url.Content("~/Areas/Social/Views/Social/PostManagement.min.js")'></script>
}


<script type="text/x-kendo-template" id="command-template">
	<div class='action-dropdown' data-post-id='#=ID#'>
		<ul class='menu'>
			<li>Actions
				<ul>
					<li data-action='history'><span class='k-icon k-i-expand'></span>View Post History</li>
					#if (canEdit){#
						<li data-action='edit'><span class='k-icon k-i-expand'></span>Edit</li>
					#}#
					
				@if (baseModel.UserInfo.EffectiveUser.CanPostManagementCompose)
				{
					<text>
					#if (canDelete){#
						<li data-action='delete'><span class='k-icon k-i-expand'></span>Delete Posts</li>
					#}#
					</text>
				}
				</ul>
			</li>
		</ul>
	</div>
	
</script>

<script type="text/x-kendo-template" id="type-template">
	#if (Type == "Link"){#
		<span class='post-#=Type#-icon s-icon post-link'/>
	#} else {#
		<span class='post-#=Type#-icon s-icon' title='#=Type#'/>
	#}#
</script>

<div id="SocialPostActivity" class="social-post-activity" style="margin-bottom: 20px;">
	
@if (baseModel.UserInfo.EffectiveUser.CanPostManagementCompose)
{
	<div>
		<div style="float: right;"><button id="buttonComposeMessage" type="button" class="k-button"><span class='k-icon k-edit'></span> Compose a Message</button></div> 
	</div>
	<div class="fcl"></div>
}
	
@if (baseModel.UserInfo.EffectiveUser.ViewPostManagementGrid)
{
	<div>
		@(Html.Kendo().DropDownList()
			.Name("TimeFrame")
			.DataTextField("Text")
		    .DataValueField("Value")
			.Events(e => e.Change("TimeFrameChange"))
		    .BindTo(new List<SelectListItem>()
			      {
				      new SelectListItem() {Text = "Last 3 Days", Value = "3"},
				      new SelectListItem() {Text = "Last 7 Days", Value = "7"},
				      new SelectListItem() {Text = "Last 14 Days", Value = "14"},
					  
					  new SelectListItem() {Text = "Last 30 Days", Value = "30"},
					  new SelectListItem() {Text = "Last 60 Days", Value = "60", Selected = true},
					  new SelectListItem() {Text = "Last 90 Days", Value = "90"},
					  new SelectListItem() {Text = "Last 365 Days", Value = "365"}
			      })
			  )
		
		<span id="saveResults" style="margin-left: 20px;"></span>
	</div>
	
	<div class="post-grid" >
		@(Html.Kendo().Grid<PostManagement>()
		      .Name("PostActivityList")
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.ScheduledCount).Title("").Format("{0:n0}").HeaderTemplate("<span class='s-Scheduled-icon s-icon' title='Scheduled'/>").HtmlAttributes(new { @class = "centered-column" }).Sortable(false);
					  columns.Bound(c => c.SuccessCount).Title("").Format("{0:n0}").HeaderTemplate("<span class='s-Published-icon s-icon' title='Published'/>").HtmlAttributes(new { @class = "centered-column" }).Sortable(false);
					  columns.Bound(c => c.ErrorCount).Title("").Format("{0:n0}").HeaderTemplate("<span class='s-Failed-icon s-icon' title='Failed'/>").HtmlAttributes(new { @class = "centered-column" }).Sortable(false);
                      columns.Bound(c => c.PostDate).Title("Date").ClientTemplate("<div>#=PostDateText#</div><div class='timezone'>#=TimeZone#</div>").Width(130);
					  columns.Bound(c => c.Title).HtmlAttributes(new { @class = "normal-wrap" });
					  columns.Bound(c => c.Type).Title("Type").ClientTemplate("#=getTypeImage(Type)#").HtmlAttributes(new { @class = "centered-column" }).Width(75).Sortable(false);
					  columns.Bound(c => c.FacebookCount).Title("").Format("{0:n0}").HeaderTemplate("<span class='ico-facebook n-ico' title='Facebook'/>").HtmlAttributes(new { @class = "centered-column" }).Sortable(false);
					  columns.Bound(c => c.TwitterCount).Title("").Format("{0:n0}").HeaderTemplate("<span class='ico-twitter n-ico' title='Twitter'/>").HtmlAttributes(new { @class = "centered-column" }).Sortable(false);
					  columns.Bound(c => c.GoogleCount).Title("").Format("{0:n0}").HeaderTemplate("<span class='ico-google n-ico' title='Google'/>").HtmlAttributes(new { @class = "centered-column" }).Sortable(false);

					  columns.Template(t => t).ClientTemplate("#=getActions(PostID, CanEdit, CanDelete)#").Title("").Width(90).HtmlAttributes(new { style = "overflow: visible;" }).HeaderTemplate("<span class='legend'></span>");

			      })
		      .DataSource(ds => ds.Ajax().Read(read => read.Action("PostMangementGrid", "Social").Data("getTimeFrame")).Model(model => model.Id(a => a.PostID)).ServerOperation(true))
		      .AutoBind(true)
		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      //.HtmlAttributes(new {style = "height:740px;"})
			  .Events(e => e.DataBound("postDataBound"))
		     
		)

	</div>
}
	<div id="PublishWindow" style="background-color: #FBFBFB;"></div>

</div>

