﻿@{
	ViewBag.PageTitle = "Publish";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

<div class="social-publish">
	<h3>Compose a Message</h3>
</div>
<div>
	@{ Html.RenderAction("ComposeMessage", "Social", new { mode = ViewBag.FullPage }); }
</div>
