﻿@{
	ViewBag.PageTitle = "Social Post Statistics";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}


@section Header
{
	<style>
		.k-link {
			font-weight: bold;
			color: #3b5998 !important;
		}
		.k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content {
			padding: 0.3em 0;
		}
		
	</style>
}


<div class="social-post-statistics">
	
	@(Html.Kendo().TabStrip()
		.Name("StatisticsTabs")
		.HtmlAttributes(new {@class = "tabs"})
		.Animation(a => a.Open(e => e.Fade(FadeDirection.In).Duration(AnimationDuration.Fast)))
		.Items(tabs =>
			{
				tabs.Add().Text("Facebook").SpriteCssClasses("ico-facebook").Selected(true).LoadContentFrom("FacebookStatistics", "Social", new {area = "Social"});
				tabs.Add().Text("Twitter").SpriteCssClasses("ico-twitter").LoadContentFrom("TwitterStatistics", "Social", new { area = "Social" });
				//tabs.Add().Text("Google+").SpriteCssClasses("ico-google").LoadContentFrom("GoogleStatistics", "Social", new { area = "Social" });
			}
		 )
	)

</div>
