﻿@{
	ViewBag.PageTitle = "Profile Manager";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

@section Header
{
	<script src="~/assets/script/jquery.autogrow-textarea.js"></script>

	<style>
		.k-link {
			font-weight: bold;
			color: #3b5998 !important;
		}
		.k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content {
			padding: 0.3em 0;
		}
		
	</style>
}

<div class="social-stream" style="min-height: 200px; overflow: hidden;">
	
	@(Html.Kendo().Splitter()
		  .Name("StreamSplitter")
		  .Orientation(SplitterOrientation.Horizontal)
		  .HtmlAttributes(new { style = "height: 100%;"})
		.Panes(panes =>
			{
				panes.Add().Scrollable(true).Resizable(true).Scrollable(false).Collapsible(true).LoadContentFrom("StreamAccountPicker", "Social", new { area = "Social"}).Size("25%").MaxSize("25%");
				panes.Add().Scrollable(true).Resizable(true).Scrollable(false).Collapsible(false).HtmlAttributes(new { style = "height: 100%;", id = "splitterTabs" })
				     .Content(
					     Html.Kendo().TabStrip()
					         .Name("StreamTabs")
					         .HtmlAttributes(new {@class = "tabs"})
					         .Animation(a => a.Open(e => e.Fade(FadeDirection.In).Duration(AnimationDuration.Fast)))
					         .Items(tabs =>
						         {
							         tabs.Add().Text("Facebook").SpriteCssClasses("ico-facebook").LoadContentFrom("FacebookStream", "Social", new {area = "Social"});
							         tabs.Add().Text("Twitter").SpriteCssClasses("ico-twitter").LoadContentFrom("TwitterStream", "Social", new {area = "Social"});
							         tabs.Add().Text("Google").SpriteCssClasses("ico-google").LoadContentFrom("GoogleStream", "Social", new {area = "Social"});
						         }
						 ).ToHtmlString()
					);
			})			  
		  )
	
	<div style="position: absolute; left: 684px; top: 10px;"><span class="ico-info" style="display: inline-block;vertical-align: middle;"></span> Select the Account, then the Social Network</div>
</div>

<script>
	function triggerResize() {
		var splitter = $("#StreamSplitter").data("kendoSplitter"); 
		$("#StreamSplitter").css("height", "" + $(window).height() - 120 + "px");
		$(".social-stream").css("height", "" + $(window).height() - 115 + "px");
		splitter.resize();

		$("#StreamTabs-1").css("height", "" + $(window).height() - 166 + "px");
		$("#StreamTabs-2").css("height", "" + $(window).height() - 166 + "px");
		$("#StreamTabs-3").css("height", "" + $(window).height() - 166 + "px");
		$("#StreamTabs").data("kendoTabStrip").resize();
		
		$("#AccountsTreeView").css("height", "" + $(window).height() - 158 + "px");
	}

	$(function() {
		$(window).resize(triggerResize);
		triggerResize();
	});
</script>