﻿<tr style="font-weight: bold">
    <td style="display: block !important;max-width: 100% !important; margin: 0 auto;padding: 0;">
		<table style="width:100%;">
			<tr>
				<td style="width:40%; font-size: 15px; padding: 0px 0px 0px 0px; font-weight: normal; color: black;">[$AccountName$]</td>
				<td style="width:12%; font-size: 15px; padding: 0px 0px 0px 0px; font-weight: normal; color: black; text-align: center;">[$TotalReviews$]</td>
				<td style="width:12%; font-size: 15px; padding: 0px 0px 0px 0px; font-weight: normal; color: black; text-align: center;">[$AvgRating$]</td>
				<td style="width:12%; font-size: 15px; padding: 0px 0px 0px 0px; font-weight: normal; color: black; text-align: center;">[$NewReviews$]</td>
				<td style="width:12%; font-size: 15px; padding: 0px 0px 0px 0px; font-weight: normal; color: green; text-align: center;">[$PositiveNewReviews$]</td>
				<td style="width:12%; font-size: 15px; padding: 0px 0px 0px 0px; font-weight: normal; color: red; text-align: center;">[$NegativeNewReviews$]</td>
			</tr>
		</table>
	</td>                                                               
</tr>   