﻿<tr>
    <td style="max-width: 25%;border: 1px solid #B7B7B7;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">[$AccountName$]</div>
    </td>    
    <td style="max-width: 3%; border: 1px solid #B7B7B7;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">[$AccountID$]</div>
    </td>    
    <td style="max-width: 28%; border: 1px solid #B7B7B7;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">[$SubscribedPackages$]</div>
    </td>            
    <td style="max-width: 4%; border: 1px solid #B7B7B7;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">[$SocialNetwork$]</div>
    </td> 
    <td style="max-width: 15%; border: 1px solid #B7B7B7;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">
            <a href="[$PaggURL$]]" target="_blank">
                [$PageName$]
            </a>
        </div>
    </td> 
    <td style="max-width: 10%; border: 1px solid #B7B7B7;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">
                <a href="[$TokenValidateLink$]" target="_blank">
                [$Validate$]
            </a>    
        </div>
    </td> 
    <td style="max-width: 10%; border: 1px solid #B7B7B7;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">[$DateLastUpdated$]</div>
    </td> 
</tr>