﻿
@{
	ViewBag.PageTitle = "Admin - Accounts";
	Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

@section Header
{
	<script src="~/assets/script/kendo.multiselectbox.min.js"></script>
	<script src="~/Areas/Admin/Views/Admin/Accounts.min.js"></script>
}

<div id="AdminAccounts" class="admin-accounts" style="visibility: hidden;">
@if (baseModel.UserInfo.EffectiveUser.ViewAdminAccountsGrid)
{
	<div class="account-grid">
		@(Html.Kendo().Grid<AccountList>()
		      .Name("AccountList")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.Type).Width(70);
				      columns.Bound(c => c.ID).ClientTemplate("<div>#=ID#</div><div class='external-id'>#=ExternalID#</div>").HtmlAttributes(new {@class = "centered-column"}).Width(70);
				      columns.Bound(c => c.Name).Title("Account").HtmlAttributes(new {@class = "account-name"});
				      columns.Bound(c => c.ParentAccountName).Title("Parent").Width(110);
				      columns.Bound(c => c.Address).Width(140);
				      columns.Bound(c => c.City).Width(110);
				      columns.Bound(c => c.State).HtmlAttributes(new {@class = "centered-column"}).Width(50);
				      columns.Bound(c => c.ZipCode).Title("Zip").HtmlAttributes(new {@class = "centered-column"}).Width(70);
				      columns.Bound(c => c.DateCreated).Format("{0:d}").Title("Created").HtmlAttributes(new {@class = "centered-column"}).Width(90);
				      columns.Command(c =>
					      {
						      c.Custom("Edit").Click("AccountSelect1x").HtmlAttributes(new {style = "margin-bottom: 3px;"});
						      c.Custom("Pick").Click("SwitchContext");
					      }).Width(60).Visible(baseModel.UserInfo.EffectiveUser.CanAdminAccountEdit); 

			      })
		      .DataSource(ds => ds.Ajax()
		                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
		                          .Read(read => read.Action("AccountListGrid", "Admin")).Model(model => model.Id(a => a.ID))
		                          .PageSize(100)
		                          .ServerOperation(true))
		      .AutoBind(true)
		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      //.HtmlAttributes(new {style = "height:740px;"})
		      .Scrollable(s => s.Virtual(true).Height(620))
		      .Events(e => e.Change("AccountsChange"))
		      .Selectable()
		      .Pageable(p =>
			      {
				      p.Enabled(true);
				      p.Refresh(true);
				      p.Numeric(false);
				      //p.PreviousNext(false);
					  p.PageSizes(new int[] { 25, 50, 100, 200 });
					  p.Messages(m => m.Display("Scroll to page, showing {0}-{1} from {2} Accounts").Empty("No Accounts found.").ItemsPerPage("Accounts per page"));			  

			      })
		      .ToolBar(toolbar =>
			      {
				      toolbar.Template(@<text>
				                        	<div>
						                        <div id="FilterView" class='account-filter'>
													<div style="width: 875px;display: inline-block;">
														<select id="oemFilterItems" style="width: 160px;" multiple="multiple" data-role="multiselectbox" 
																data-auto-bind="false" data-option-label="OEM..." data-text-field="Name" data-value-field="ID" 
																data-bind="source: oemFilterItemSource, value: oemFilterItems, events: { change: applyNewFilters }" >
														</select>
														@if (baseModel.UserInfo.EffectiveUser.SuperAdmin)
														{
															<select id="packageFilterItems"  style="width: 250px;" multiple="multiple" data-role="multiselectbox" data-option-label="Packages ..." 
																	data-text-field="PackageName" data-value-field="PackageID" 
																	data-bind="source: packageFilterItemSource, value: packageFilterItems, events: { change: applyNewFilters }" >
															</select>
														}
														<span class="k-textbox k-space-left" style="width: 290px;">
															<input type="text" placeholder="Search Account ..." 
															       data-bind="value: accountNameFilterValue, events: { keyup: searchSelect }"
															       style="width: 265px;"/>
															<span class="k-icon k-i-search">&nbsp;</span>
														</span>
													</div>								                  
							                        <div style="display: inline-block;">
								                        <a id="ClearFilterLink" title="Clear Filters" class="k-link"  href="#" data-bind="events: { click: clearFilters }">
									                        <span class="k-icon k-i-cancel"></span> Clear Filters
								                        </a>
								                        @*									                  <button id="AddAccountLink"  class="k-button" type="button" style="margin-left: 10px;" data-bind="events: { click: addAccount }">
										                  <span class="k-icon k-i-plus"></span> Add Account
									                  </button>*@
							                        </div>	
						                        </div>
					                        </div>
				                        </text>);
			      })
			  )

	</div>
	<div id="AccountEdit" style="background-color: #ddd; padding: 3px; display: none;"></div>
}
</div>

<script>
	$(function() {

		@if (baseModel.UserInfo.EffectiveUser.ViewAdminAccountsFilter && baseModel.UserInfo.EffectiveUser.ViewAdminAccountsGrid)
		{
			@: kendo.bind($("#FilterView"), filterViewModel);
		}
		else
		{
			@: $("#FilterView").hide();
		}

	});
</script>