﻿@using SI.Services.Admin.Models
@{
	ViewBag.PageTitle = "Admin - Users";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

@section Header
{
	<script src="~/Areas/Admin/Views/Admin/Users.min.js"></script>
}

<script type="text/x-kendo-template" id="action-template">

	<div class='action-dropdown' data-userid='#=ID#'>
		<ul class='menu' style='text-align: center;'>
			<li>
				<span id="LoadingIconSave#=ID#" style="padding-left: 5px; display: none;">
					<img src="/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
				</span>
				<span>Actions</span>
                <ul style='text-align: left;'>
                    @*<li data-action='markasinactive' data-userid='#=ID#'><span class='k-icon k-i-expand'></span>Mark Inactive</li>
                    <li data-action='invitereinvite' data-userid='#=ID#'><span class='k-icon k-i-expand'></span>Invite/Reinvite</li>*@
                    <li data-action='resetpassword' data-userid='#=ID#'><span class='k-icon k-i-expand'></span>Send Reset Password Email</li>

                    #if (canPossess) {#
                        <li data-action='possess' data-userid='#=ID#'>
                            <span class='k-icon k-i-expand'></span>Impersonate
                        </li>
					#}#
                    @*<li data-action='access' data-userid='#=ID#'><span class='k-icon k-i-expand'></span>Access</li>*@
                </ul>
			</li>
		</ul>
	</div>

</script>

<script type="text/x-kendo-template" id="user-template">
	<div id='userdetails_${UserID}' class='user-details'>
		<img src="/assets/style/aristo/images/loading_2x.gif" alt="" />
	</div>
	
</script>

<div id="AdminUsers" class="admin-users" style="visibility: hidden;">
	<div class="users-grid">
		@(Html.Kendo().Grid<UserEdit>()
				.Name("UsersList")
				.Columns(columns =>
					{
						columns.Bound(c => c.LastName).Title("Name").ClientTemplate("#=FirstName# #=LastName#");
						columns.Bound(c => c.Email).Width(200);
						columns.Bound(c => c.CreateDate).Title("Created").Format("{0:d}").Width(90).HtmlAttributes(new { @class = "centered-column" });
						columns.Bound(c => c.AccountName);
						columns.Template(t => t).ClientTemplate("#=getActions(UserID, CanImpersonate)#").Title("").Width(112).HtmlAttributes(new { style = "overflow: visible;" });

					})
				.ClientDetailTemplateId("user-template")
				.DataSource(ds => ds.Ajax()
					.Events(events => events.Error("SIGlobal.gridErrorHandler").RequestEnd("hideProgress"))
					.Read(read => read.Action("UsersMemberOfAccountGrid", "Admin")).Model(model => model.Id(a => a.UserID))
					.PageSize(100)
					.ServerOperation(true))
				.AutoBind(true)
				.Sortable()
				.Resizable(r => r.Columns(true))
				//.HtmlAttributes(new { style = "height:740px;" })
				.Scrollable(s => s.Virtual(false).Height(620))
				.Pageable(p =>
				{
					p.Enabled(true);
					p.Refresh(true);
					p.Numeric(false);
					//p.PreviousNext(false);
					p.PageSizes(new int[] { 50, 100, 200, 250 });
					p.Messages(m => m.Display("Scroll to page, showing {0}-{1} from {2} Users").Empty("No Users found.").ItemsPerPage("Users per page"));

				})
                .Events(e => e.DataBound("usersDataBound").DetailExpand("UserDetails"))
				.ToolBar(toolbar =>
				{
					toolbar.Template(@<text>
					            <div>
							            <div id="FilterView" class='user-filter'>
								            <span>
									            <span class="k-textbox k-space-left" style="width:290px;">
										            <input type="text" placeholder="Search Last Name and Email..." 
										                    data-bind="value: userNameFilterValue, events: { keyup: searchSelect }"
										                    style="width:265px;"/>
													<span class="k-icon k-i-search">&nbsp;</span>
												</span>
									            
								            </span>	
											 <select id ="accountFilter" style="width:290px;" 
								                          data-auto-bind="false" data-placeholder="Type Account Name..." data-role="combobox" data-text-field="Name" 
								                          data-value-field="ID" data-filter="startswith" data-suggest="true"  data-delay="600"
								                          data-highlight-first="true" data-bind="source: accountFilterItemSource, value: accountFilterValue, events: { change: applyNewFilters }" >
											 </select>	
											<a id="ClearFilterLink" title="Clear Filters" class="k-link" style="margin-left: 280px;" href="#" data-bind="events: { click: clearFilters }">
										            <span class="k-icon k-i-cancel"></span> Clear Filters
									            </a>
							            </div>
						            </div>
					            </text>);
				})
			  )


	</div>
	
</div>

