﻿@using SI.Services.Admin.Models
@model SI.Services.Admin.Models.VirtualGroupSave

@{
	ViewBag.PageTitle = "Admin - Virtual Groups";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

@section Header
{
	<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/assets/script/jquery.dual-listbox.min.js"></script>
	<script src="~/Areas/Admin/Views/Admin/VirtualGroups.min.js"></script>
}

<div class="virtualgroup-edit">
	@using (Ajax.BeginForm("VirtualGroups", "Admin", new { area = "Admin" },
	                       new AjaxOptions
		                       {
			                       OnBegin = "SCVirtualGroup.BeginSubmitVirtualGroup",
			                       OnSuccess = "SCVirtualGroup.VirtualGroupInfoSave",
			                       OnFailure = "SIGlobal.formSaveFailure",
			                       LoadingElementId = "LoadingIconSaveVG",
			                       LoadingElementDuration = 2000
		                       }, new {@id = "formVirtualGroups"}))
	{

		@Html.HiddenFor(m => m.ID)
		@Html.HiddenFor(m => m.SelectedLocationIDs)
	 
		<div class="search-bar">
			<div style="float: left;">
				<span class="k-textbox k-space-left" style="width:290px;">
					<input id="SearchVGText" type="text" placeholder="Search Virtual Group ..." style="width:265px;" class="noDirtyFlag"/>
					<span class="k-icon k-i-search">&nbsp;</span>
				</span>
			</div>
			<div style="float: right;">
				<button id="NewVGButton" class="k-button" type="button"><span class='k-icon k-i-plus'></span> New Virtual Group</button>
			</div>
			<div class="fcl"></div>
		</div>
		<div class="virtualgroup-grid" >
		
			@(Html.Kendo().Grid<VirtualGroups>()
			      .Name("VirtualGroupGrid")
			      .Columns(columns =>
				      {
					      columns.Bound(c => c.Name).Title("VG Name");
					      columns.Bound(c => c.NumberOfAccounts).Title("#Accounts").Width(75).HtmlAttributes(new { @class = "centered-column" });
					      columns.Bound(c => c.CreateDate).Title("Created").Format("{0:M/dd/yyyy}").Width(110).HtmlAttributes(new { @class = "centered-column" });
					      columns.Bound(c => c.ModifiedDate).Title("Modified").Format("{0:M/dd/yyyy}").Width(110).HtmlAttributes(new { @class = "centered-column" });
				      })
			      
			      .DataSource(ds => ds.Ajax()
			                          .Read(read => read.Action("VirtualGroupEditGrid", "Admin")) 
			                          .Model(model => model.Id(a => a.ID)).ServerOperation(false))
			
			      .Sortable()
				  .HtmlAttributes(new { style= "height: 300px;" })
			      .Resizable(r => r.Columns(true))
			      .Selectable()
			      .Scrollable(s => s.Height("75px"))
			      .Events(e =>
				      {
					      e.DataBound("SCVirtualGroup.virtualGroupBound");
					      e.Change("SCVirtualGroup.virtualGroupEdit");
				      })
				  )

		</div>
	
		<div class="edit-section">
			<div id="EditAddUser">
				<div class="fieldset">
					<div class="legend"><span id="EditTitle">Edit Virtual Group</span></div>
					<div class="info">
						<table>
							<tr>
								<td colspan="3">
									@Html.TextBoxFor(m => m.Name, new { placeholder="Name", @class="k-textbox k-input", style="width:300px;"  })
									<span class="ico ico-required"></span>					
								</td>
							</tr>
							<tr><th>Accessible Locations</th><th></th><th>Selected Locations</th></tr>
							<tr>
								<td>
									@Html.ListBox("listBoxFrom", ViewBag.AccessibleLocations as IEnumerable<SelectListItem>, new { multiple = "multiple", style = "width: 450px; height: 300px;", @class="noDirtyFlag" })
								</td>
								<td>
									<div id="moveToTo" class="ico-right arrow" title="Add to Selected"></div>
									<div id="moveAllToTo" class="ico-all-right arrow" title="Add All to Selected"></div>
									<div id="moveAllToFrom" class="ico-all-left arrow" title="Remove All from Selected"></div>
									<div id="moveToFrom" class="ico-left arrow" title="Remove from Selected"></div>
								</td>
								<td>
									<select id="listBoxTo" multiple="multiple" style="height:300px;width:450px;"></select>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div style="margin-top: 20px; margin-right: 10px;">
				<div style="float: left; width: 400px;">
					@Html.ValidationSummary("Please review Errors.")
								
				</div>
				<div style="text-align: right; float: right;">
					<span id="resultsVG" class="update-timestamp" ></span>
					<button id="saveVGButton" class="k-button" type="button"><span class="k-icon k-update"></span> Save Virtual Group
						<span id="LoadingIconSaveVG" style="padding-left: 5px; display: none;">
							<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
						</span>
					</button>
				</div>	
				<div class="fcl"></div>		
			</div>

		</div>

	}
	
</div>
























