﻿@model SI.Services.Reputation.Models.ReviewEmail

<script>
	
	var ReviewEmail = {
		kendoValidator: null,
		
		ReviewEmailSaved: function(response) {
			$("#LoadingIconForm").hide();
			if (response.indexOf("Saved") >= 0)
				$("#reviewMenuActionWindow").data("kendoWindow").close();
		},
		
		MailToChanged: function(e) {
			$("#ToEmailText_validationMessage").hide();
			var n = this.value();
			if (!isNaN(parseFloat(n)) && isFinite(n))
				return;

			if (!ReviewStream.IsEmail(n))
				$("#ToEmailText_validationMessage").show();
		},
		
		BeginSubmit: function() {
			if ($("#ToEmailText_validationMessage").css("display") != "none")
				return false;
		}
	}


	$(function () {
			
		ReviewEmail.kendoValidator = $("#formReviewEmail").kendoValidator().data("kendoValidator");

		$("#EmailClose").click(function () {
			var kendoWindow = $("#reviewMenuActionWindow").data("kendoWindow");
			kendoWindow.close();
		})
	});
		
	
</script>


@using (Ajax.BeginForm("ReviewActionEmail", "Reputation", new { area = "Reputation" },
	new AjaxOptions
	{
		UpdateTargetId = "resultsReviewEmail",
		OnBegin = "ReviewEmail.BeginSubmit",
		OnSuccess = "ReviewEmail.ReviewEmailSaved",
		OnFailure = "SIGlobal.formSaveFailure", 
		LoadingElementId = "LoadingIconForm", LoadingElementDuration = 2000}, new {@id = "formReviewEmail"}))
{
	<div class="review-email-form">
	
		@Html.HiddenFor(m => m.ReviewID)
		
		<div class="title">Email Review</div>
		<table>
			<tr>
                <td colspan="2" style="text-align: center;">
                    <span class="review-details">@Html.DisplayFor(m => m.ReviewDetails)</span>
                </td>
            </tr>
			<tr>
				<td>To Email:</td>
				<td>
					@(Html.Kendo().ComboBoxFor(m => m.ToEmail)
						.DataTextField("UserName")
						.HtmlAttributes(new { style = "width: 360px;"})
						.DataValueField("Email")
						.HighlightFirst(true)
						.Filter("startswith")
						.Suggest(true)
						.BindTo(Model.AccountUsers)
						.Events(e => e.Change("ReviewEmail.MailToChanged"))
	 
						  )
					<div>
						<span id="ToEmailText_validationMessage" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="display: none;" role="alert">
							<span class="k-icon k-warning"> </span>
							To Email is not a valid Email address.
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>From Email:</td>
				<td>
					@Html.DisplayFor(m => m.FromEmail)
				</td>
			</tr>
			<tr>
				<td>Subject:</td>
				<td>
					@Html.TextBoxFor(m => m.Subject, new { style = "width: 345px" })
					<div>
						<span class="k-invalid-msg" data-for="Subject"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top;">Comments:</td>
				<td>@Html.TextAreaFor(m => m.Comments, 4, 240, new { style = "width: 345px" })</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<div id="resultsReviewEmail"></div>
					<button class="k-button" type="submit"><span class="k-icon k-update"></span>Send Review Email
						<span id="LoadingIconForm" style="padding-left: 5px;display:none;">
							<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
						</span>
					</button>
					&nbsp;
					<button class="k-button" type="button" id="EmailClose"><span class="k-icon k-i-close"></span>Close</button>
				</td>
			</tr>
		</table>
	
	
	
	</div>
	
}