@import "CommonMixIns";


.admin-accounts {
	margin-top: 8px;

	.account-grid {
		margin-top: 8px;
		/*td {
			vertical-align: top;
			//border-left: none;
		}*/
		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);
			//tr td {
			//	overflow: visible;
			//}
		}

		.k-toolbar {
			background: none;
			.gradient(#EEE, #AAA, #DDD);
			padding: 8px;
		}

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

		.vert-centered-column {
			vertical-align: middle;
		}

		.account-name {
			font-weight: bold;
		}


		.account-filter {
			display: inline-block;
		}

		.k-button {
			min-width: 40px !important;
		}

		.external-id {
			font-style: italic;
		}
	}
}


.admin-account-edit {
	//min-width: 870px;
	width: 100%;
	height: 100%;
	overflow: hidden;


	input {
		margin-bottom: 0 !important;
	}

	table {
		width: 100%;
	}

	td {
		padding: 2px;
		vertical-align: middle;
		//white-space: nowrap;
	}

	.form-label {
		text-align: right;
	}

	hr {
		border-width: 1px;
		border-color: #ddd;
	}

	h3 {
		font-size: 18px !important;
		font-family: 'PlanerRegular',verdana;
		line-height: 18px !important;
		margin: 3px 0 !important;
		color: #898989;
	}

	h4 {
		font-size: 12px !important;
		font-family: 'PlanerRegular',verdana;
		line-height: 14px !important;
		margin: 3px 8px !important;
		color: #898989;
		font-weight: normal;
	}

	.left-panel-menu {
		.gradient(#EEE, #AAA, #DDD);
		width: 170px;
		height: 98%;
		float: left;
		border-radius: 5px 0px 0px 5px;
		border-left: 1px solid #bbb;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		border-right: 2px solid #888;
		padding: 3px;
	}

	.right-panel-edit {
		//min-width: 690px;
		width: 78%;
		//min-height: 500px;
		height: 98%;
		float: left;
		padding: 3px;
		background-color: #F8F8FA;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		border-right: 1px solid #bbb;
		border-radius: 0px 5px 5px 0px;
	}

	.close-window-button {
		position: absolute;
		bottom: 15px;
		margin-left: 26px;
		display: inline-block;
		padding: 3px;
		.rounded(3px);
		.bordered(#888,#888,#888,#888);
		cursor: pointer;
	}

	.k-menu {
		border-radius: 3px 3px 3px 3px;
		font-family: 'PlanerRegular',verdana;
		font-size: 13px;
		font-weight: bold;
	}

	.k-item {
		border-radius: 3px 3px 3px 3px;
	}

	.location-edit {
		padding: 3px;
		overflow-y: auto;
		height: 455px;

		label {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			font-size: 12px;
		}

		table {
			margin-top: 6px;
		}

		input[type="text"] {
			width: 190px;
		}

		.fbAccount-picker {
			margin-top: 6px;

			.pages-list {
				height: 300px;
				overflow-y: auto;
				padding: 2px;
			}

			#FBAccountListView {
				padding: 4px;
				min-height: 40px;

				tr {
					margin-bottom: 8px;
				}

				td {
					padding: 2px 5px;
				}

				.fbAccount {
					border-bottom: 2px solid #bbb;

					img {
						margin-right: 10px;
					}

					.name {
						font-weight: bold;
					}

					button {
						margin: 0;
					}
				}
			}
		}
	}

	.update-timestamp {
		color: #666;
		font-weight: normal;
		padding: 0 10px;
		font-size: 11px;
	}

	.ico {
		display: inline-block;
	}

	.users-edit {
		padding: 3px;

		.button-bar {
		}

		.search-bar {
			padding-top: 5px;

			label {
				display: inline-block;
				margin-bottom: 0px;
				padding-top: 4px;
				vertical-align: top;
				font-size: 12px;
			}
		}

		.users-grid {
			margin-top: 3px;
			margin-bottom: 20px;
			height: 225px;

			.action-dropdown {

				.menu {
					border-radius: 4px;

					ul {
						border-radius: 4px;
					}

					li {
						width: 100%;
						border-right: none;
						font-family: 'Lucida Grande', Verdana, Arial,sans-serif;
						font-weight: normal;
						font-size: 12px;

						a:hover {
							text-decoration: none;
						}

						.k-link {
							padding: 2px 8px;
						}
					}
				}
			}

			.k-grid-select {
				padding: 0;
			}

			.k-grid-Add,
			.k-header {
				padding: 0 !important;
			}

			.k-grid td {
				padding-top: 1px !important;
				padding-bottom: 2px !important;
			}

			td {
				vertical-align: top;
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
			}

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(3px);
			}

			.centered-column {
				text-align: center;
				vertical-align: middle;
			}

			.k-state-selected {
				//color: #ddd;
			}
		}


		.edit-section {


			.fieldset {
				.shadowed-rounded-box(3px);
				margin: 6px 2px;
				padding: 4px;
				border: 1px solid silver;
				//width: 100%;
				height: 100%;
				background-color: #f8f8fa;

				.legend {
					display: inline-block;
					top: -16px;
					left: 4px;
					position: relative;
					font-size: 1.2em;
					font-family: 'PlanerRegular',verdana;
					background-color: #efefef;
					color: #333;
					padding: 2px 5px;
					border-radius: 3px 3px 3px 3px;
					border: 1px solid #dfdfdf;
					font-weight: bold;
				}
			}

			.info {
				padding: 0 4px 4px 4px;

				input {
					margin-right: 4px;
				}

				label {
					display: inline-block;
					margin-bottom: 0px;
					padding-top: 4px;
					vertical-align: top;
				}
			}
		}
	}

	.product-config {
		padding: 3px;

		.k-tabstrip {
			.rounded(3px);

			.k-link {
				font-family: 'PlanerRegular',verdana;
				font-size: 14px !important;
				font-weight: bold;
			}
		}

		.k-tabstrip .k-content {
			border-radius: 0 3px 3px 3px;
			box-shadow: 2px 2px 3px #AAAAAA;
			padding-left: 2px;
			padding-right: 2px;
		}

		.configTabs {
			background-color: #F8F8FA !important;
			background-image: none;
			border: medium none;
			height: 100%;
			width: 100%;
		}

		.config-section {
			//background-color: #F8F8FA;
			height: 390px;
			overflow-y: auto;
			width: 100%;
			padding-top: 4px;
			position: relative;
			//min-height: 100px;

			.link-item {
				padding: 2px 0 2px 0;
				

				label {
					display: inline-block;
					width: 150px;
					text-align: right;
					padding-right: 3px;
					font-size: 12px;
					line-height:15px;
				}

				input{
					font-size: 12px;
					line-height:15px;
					padding: 2px 3px;
					height: 18px;
				}

				.actions{
					display: inline-block;
					margin-left: 4px;
					vertical-align: middle;

					span{
						padding: 0 3px;
					}

					.linkItemAutoPop, .linkItemBrowser{
						cursor: pointer;
					}
				}

				.clearable{
					position: relative;

					.link-field{
						padding-right: 17px;
					}

					.iconclear{
						position: absolute;
						right: 10px;
						top: 3px;
						display: none;
						cursor:pointer;
						font: bold 1em sans-serif;
						color:#38468F;  

						&:hover{
							color:#f52;
						}
					}
				}
			}

			.save-section {
				text-align: right;
				margin-top: 12px;
				margin-right: 20px;
			}

			#SocialConfigListView.k-widget {
				border: none;
				background-color: #F8F8FA;
			}

			.fieldset {
				.shadowed-rounded-box(2px);
				margin: 20px 6px;
				padding: 4px;
				border: 1px solid silver;
				background-color: #f8f8fa;

				.legend {
					display: inline-block;
					top: -16px;
					left: 4px;
					position: relative;
					font-size: 1.2em;
					font-family: 'PlanerRegular',verdana;
					background-color: #efefef;
					color: #333;
					padding: 2px 5px;
					border-radius: 3px 3px 3px 3px;
					border: 1px solid #dfdfdf;
					font-weight: bold;
					height: 24px;

					span {
						display: inline-block;
						margin-left: 4px;
						margin-right: 4px;
					}
				}
			}

			.info {
				padding: 0 4px 4px 4px;

				input {
					margin-right: 4px;
				}

				label {
					display: inline-block;
				}

				.status {
					display: inline-block;
					margin-bottom: 4px;
				}
			}

			img {
				margin-right: 10px;
			}

			button {
				margin-left: 10px;
			}

			h4 {
				font-size: 1.2em !important;
				color: #555;
			}

			.syndication-grid {
				margin-top: 3px;
				margin-bottom: 20px;

				.source {
					font-weight: bold;
				}

				.description {
					color: #555;
				}

				.k-link {
					color: #555;
				}

				.k-grid {
					//.shadowed-rounded-box();
					.rounded(3px);

					td {
						overflow: visible;
						border: none;
					}
				}

				.k-grid-Add,
				.k-header {
					padding: 0 !important;
				}

				.centered-column {
					text-align: center;
					vertical-align: middle;
				}

				.k-grid td {
					padding-top: 1px !important;
					padding-bottom: 2px !important;
				}



				td {
					vertical-align: top;
				}

				th {
					border-left: none;
					font-weight: bold;
					color: #555;
					text-align: center;
				}
			}
		}
	}

	.inventory-config {
		padding: 3px;

		label {
			display: inline-block;
			margin-bottom: 0px;
			padding-top: 4px;
			margin-right: 10px;
			width: 96px;
			font-size: 12px;
		}

		input {
			margin-right: 4px;
		}
	}

	.account-settings {
		padding: 3px;

		label {
			display: inline-block;
			margin-bottom: 0px;
			padding-top: 4px;
			margin-right: 10px;
			width: 200px;
			font-size: 12px;
			vertical-align: middle;
		}

		input {
			margin-right: 4px;
		}
	}


	.alerts-config {
		padding: 3px;

		.action-bar {
			padding-top: 5px;

			label {
				display: inline-block;
				margin-bottom: 0px;
				padding-top: 4px;
				vertical-align: middle;
				font-size: 12px;
			}
		}

		.alerts-grid {
			margin-top: 3px;
			margin-bottom: 20px;

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(3px);
			}

			.k-grid-Add,
			.k-header {
				padding: 0 !important;
			}

			.centered-column {
				text-align: center;
				vertical-align: middle;
			}

			.k-grid td {
				padding-top: 1px !important;
				padding-bottom: 2px !important;
			}

			td {
				vertical-align: top;
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
			}
		}
	}
}


.virtualgroup-edit {
	padding: 3px;
	margin-top: 8px;

	.search-bar {
		margin-bottom: 6px;

		label {
			display: inline-block;
			margin-bottom: 0px;
			padding-top: 4px;
			vertical-align: top;
			font-size: 12px;
		}
	}

	.arrow {
		margin: 8px;
		padding: 2px;
		cursor: pointer;
	}

	.virtualgroup-grid {
		margin-top: 3px;
		margin-bottom: 20px;
				
		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);
		}

		td {
			vertical-align: top;
		}
			

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

	}

	.edit-section {
		padding-top: 6px;

		.fieldset {
			//.shadowed-rounded-box(3px);
			.rounded(4px);
			margin: 6px 2px;
			padding: 4px;
			border: 1px solid silver;
			//width: 100%;
			height: 100%;
			background-color: #f8f8fa;

			.legend {
				display: inline-block;
				top: -16px;
				left: 4px;
				position: relative;
				font-size: 1.2em;
				font-family: 'PlanerRegular',verdana;
				background-color: #efefef;
				color: #333;
				padding: 2px 5px;
				border-radius: 3px 3px 3px 3px;
				border: 1px solid #dfdfdf;
				font-weight: bold;
			}
		}

		.info {
			padding: 0 4px 2px 4px;

			input {
				margin-right: 4px;
				margin-bottom: 4px;
			}

			label {
				display: inline-block;
				margin-bottom: 0px;
				padding-top: 4px;
				vertical-align: top;
			}
		}
	}
}


.admin-users {
	margin-top: 8px;
	position: relative;

	.users-grid {
		margin-top: 8px;

		.action-dropdown {
			.menu {
				border-radius: 4px;

				ul {
					border-radius: 4px;
				}

				li {
					width: 100%;
					border-right: none;
					font-family: 'Lucida Grande', Verdana, Arial,sans-serif;
					font-weight: normal;
					font-size: 12px;

					a:hover {
						text-decoration: none;
					}

					.k-link {
						padding: 2px 8px;
					}
				}
			}
		}


		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);
		}

		.k-toolbar {
			background: none;
			.gradient(#EEE, #AAA, #DDD);
			padding: 8px;
		}

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

		.vert-centered-column {
			vertical-align: middle;
		}


		.user-filter {
			display: inline-block;
		}

		.details-button{
			text-align: right; 
			width: 860px;
			margin-top: 8px; 
			margin-bottom: 8px;
		}

		.details-tab {
			min-height: 220px;
			margin-top: 4px;
			width: 860px;

			.k-widget {
				border: none;
				background-color: transparent !important;
			}

			.k-header {
				background-color: transparent !important;
				background-image: none !important;
			}

			.k-tabstrip {
				.rounded(3px);
				background-color: transparent !important;

				.k-link {
					font-family: 'PlanerRegular',verdana;
					font-size: 13px !important;
					font-weight: bold;
				}

                .k-filterable .k-link{
					font-family: 'Lucida Grande', Verdana, Arial sans-serif;
					font-size: 11px !important;

                }

                .k-grid-header .k-header {
					padding: 3px 4px 2px 4px;
                }
			}

			.k-tabstrip .k-content {
				border-radius: 0 3px 3px 3px;
				box-shadow: 1px 1px 2px #AAAAAA;
			}
		}
		
		.userdetails-notif {
			margin-top: 4px;

			.section{
				text-align: center;
				background-color: #eee;
				.border-radius(3px, 0, 0, 3px);
				.bordered(#AAA,#AAA,#EEE,#AAA);
			}

			h6{
				margin: 0;
				padding-top: 2px;
			}

			.config-items {
				width: 400px;
				float: left;

				.name-cell {
					width: 310px;
				}

				.type-cell {
					width: 220px;
				}

				.date-cell {
					width: 80px;
					text-align: center;
				}

				.items-scroll {
					height: 120px;
					overflow-y: auto;
					//.rounded(3px);
					.border-radius(0, 3px, 3px, 0);
					.bordered(#94c0d2, #94c0d2, #94c0d2, #94c0d2);
					border-top-width: 2px;
				}

				th{
					font-size: 11px;
				}
				
			}
		}
	}
}
