@import "CommonMixIns";


@font-face {
    font-family: 'PlanerRegular';
    src: url('/assets/fonts/Planer-Regular-webfont.eot');
    src: url('/assets/fonts/Planer-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Planer-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/Planer-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/Planer-Regular-webfont.svg#PlanerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.landingpage {
	margin: 0;
	font-size: 15px;
	font-family: 'lucida grande',verdana,arial,sans-serif;

	.header {
		width: 100%;
		//height: 154px;
		background-repeat: repeat-x;
		background-position: top center;
		background-color: white;

		.logo {
			position: relative;

			img {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.title-bar {
		font-family: 'PlanerRegular',verdana;
		width: 100%;
		text-align: center;
		margin: 22px;
		color: #04668e;
		font-size: 1.4em;
		font-weight: bold;
	}

	.container {
		width: 750px;
		margin: 0 auto;

		p {
			margin-top: 2px;
			margin-bottom: 12px;
		}

		.info-box {
			.shadowed-rounded-box(5px);
			padding: 14px;
			border: 1px solid silver;
			background-color: #f8f8fa;
			width: 347px;
			height: 574px;
			float: left;

			.title {
				font-weight: bold;
				margin-bottom: 10px;
				font-size: 1.2em;
				color: #222;
			}

			.content {
				text-align: justify;
				color: #444;

				.image-button{
					cursor: pointer;
					margin: 0 auto; 
					display: block;
				}

				h3 {
					font-size: 18px !important;
					font-family: 'PlanerRegular',verdana;
					line-height: 18px !important;
					margin: 3px 0 !important;
					color: #898989;
				}

				h4 {
					font-size: 12px !important;
					font-family: 'PlanerRegular',verdana;
					line-height: 14px !important;
					margin: 3px 8px !important;
					color: #898989;
					font-weight: normal;
				}

				.fbAccount-picker {
					margin-top: 6px;
					margin-left: 10px;

					.pages-list {
						height: 300px;
						overflow-y: auto;
						padding: 2px;
					}

					#FBAccountListView {
						padding: 4px;
						min-height: 30px;
						width: 100%;

						tr {
							margin-bottom: 8px;
						}

						td {
							padding: 2px 5px;
						}

						.fbAccount {
							border-bottom: 2px solid #bbb;

							img {
								margin-right: 10px;
							}

							.name {
								font-weight: bold;
							}

							button {
								margin: 0;
							}
						}
					}
				}
			}
		}

		.info-box-ns {
			font-family: Arial;
			padding: 14px;
			
			background-color: #FBFBFB;
			width: 347px;
			//height: 574px;
			float: left;

			.title {
				font-weight: bold;
				margin-bottom: 10px;
				font-size: 1.2em;
				color: #222;
			}

			.content {
				//text-align: justify;
				color: #444;

				.image-button{
					cursor: pointer;
					margin: 0 auto; 
					display: block;
				}

				h3 {
					font-size: 18px !important;
					font-family: 'PlanerRegular',verdana;
					line-height: 18px !important;
					margin: 3px 0 !important;
					color: #898989;
				}

				h4 {
					font-size: 12px !important;
					font-family: 'PlanerRegular',verdana;
					line-height: 14px !important;
					margin: 3px 8px !important;
					color: #898989;
					font-weight: normal;
				}

				.fbAccount-picker {
					margin-top: 6px;
					margin-left: 10px;

					.pages-list {
						height: 300px;
						overflow-y: auto;
						padding: 2px;
					}

					#FBAccountListView {
						padding: 4px;
						min-height: 30px;
						width: 100%;

						tr {
							margin-bottom: 8px;
						}

						td {
							padding: 2px 5px;
						}

						.fbAccount {
							border-bottom: 2px solid #bbb;

							img {
								margin-right: 10px;
							}

							.name {
								font-weight: bold;
							}

							button {
								margin: 0;
							}
						}
					}
				}
			}
		}


		.slider {
			float: right;
			width: 347px;
			height: 600px;
			.shadowed-rounded-box(5px);
			padding: 1px;
			border: 1px solid silver;
			background-color: #f8f8fa;
			
			
			
			.ws_images>div>a {
				display: none !important;
			}
		}

		.slider-ns {
			float: right;
			width: 347px;
			height: 600px;
			padding: 1px;
			background-color: #FBFBFB;
			
			.ws_images>div>a {
				display: none !important;
			}
		}

		.button {
			.gradient(#04668e, #04668e, #06a4e5);
			.rounded(6px);
			border: none;
			padding: 8px;
			width: 180px;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
		}
	}
}

.registration-page {
	margin: 0;
	font-size: 15px;
	font-family: 'lucida grande',verdana,arial,sans-serif;
	color: #222;

	.signup-button {
		.gradient(#04668e, #04668e, #06a4e5);
		.rounded(6px);
		border: none;
		padding: 8px;
		width: 180px;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
	}

	.header {
		margin: 0px;
	}

	.ico {
		display: inline-block;
	}

	.page {
		margin: 8px;
		position: relative;

		.intro {
			width: 500px;
			margin: 0 auto;
		}

		.marketing {
			margin: 10px;
		}

		.centered {
			text-align: center;
			margin: 0 auto;
		}


		.image-button {
			cursor: pointer;
			margin: 0 auto;
			display: block;
		}

		h3 {
			font-size: 18px !important;
			font-family: 'PlanerRegular',verdana;
			line-height: 18px !important;
			margin: 3px 0 !important;
			color: #898989;
		}

		h4 {
			font-size: 12px !important;
			font-family: 'PlanerRegular',verdana;
			line-height: 14px !important;
			margin: 3px 8px !important;
			color: #898989;
			font-weight: normal;
		}

		.user-details {
			margin-top: 8px;
			font-size: 13px;

			p {
				font-size: 14px;
			}

			input[type="text"] {
				padding: 3px 6px;
				margin-bottom: 4px;
			}

			td {
				vertical-align: top;
			}

			.products {
				width: 368px;
				margin: 0 auto;

				.list {
					margin-top: 10px;
					margin-left: 20px;

					label {
						padding-left: 4px;
						display: inline-block;
						padding-top: 2px;
						vertical-align: top;
					}
				}
			}

			.update-timestamp {
				color: #700;
				padding: 10px;
				font-size: 12px;
			}
		}

		.fbAccount-picker {
			margin-top: 6px;
			margin-left: 10px;

			.pages-list {
				overflow-y: auto;
				padding: 2px;
			}

			#FBAccountListView {
				padding: 4px;
				min-height: 30px;
				width: 100%;

				tr {
					margin-bottom: 8px;
				}

				td {
					padding: 2px 5px;
				}

				.fbAccount {
					border-bottom: 2px solid #bbb;

					img {
						margin-right: 10px;
					}

					.name {
						font-weight: bold;
					}

					button {
						margin: 0;
					}
				}
			}
		}
	}
}