@import "CommonMixIns";

.ng-cloak {
    display: none !important;
}

.si-hbar {
	position: fixed;
	height: 20px;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 0px;
	z-index: 950;


	.links {
		float: right;
		font-size: 12px;
		line-height: 17px;
		font-weight: bold;

		.item {
			position: relative;
			float: left;
			margin-left: 3px;

			.ico {
				position: relative;
				display: inline-block;
				top: 2px;
				cursor: pointer;
			}
		}

		.si-apframe input {
			/*margin-bottom:5px !important;*/
			position: relative;
		}
			
	}
}





/* account picker */

.si-apframe {
	position: absolute;
	display: block;
	border: 1px solid #D4D4D4;
	border-radius: 3px 3px 3px 3px;
	background-color: #FFFFFF;
	padding: 8px !important;


	.si-aplist {
		position: absolute;
		top: 65px;
		right: 8px;
		left: 8px;
		bottom: 35px;
		overflow: auto;

		.si-aprow {
			position: relative;
			padding-top: 3px;
			padding-bottom: 3px;
			cursor: pointer;

			.si-noti {
				position: absolute;
				right: 0px;
				top: 0px;
				padding: 10px;
			}

			.ico {
				float: left;
				margin: 2px;
			}

			.si-apaddress {
				font-size: 11px;
				font-weight: normal;
				font-style: italic;
			}

			.si-apname {
				font-size: 14px;
				font-weight: bold;
				margin-left: 8px;
			}
		}

		.si-apwait {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background-color: #FFFFFF;
			z-index: 5000;
		}
	}

	.si-apfoot {
		position: absolute;
		height: 17px;
		right: 8px;
		left: 8px;
		bottom: 8px;
		padding: 2px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
}


.si-noti .single, .si-noti .multi {
    //border-radius: 15px;
    //padding: 4px;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
	text-align: center;
	padding-top: 2px;
    //border: 1px solid #404040;
}


/* account picker tree */

.ico-t {
    display:inline-block;
    position: relative;
    top:-8px !important;
    cursor:pointer;
}

.si-aprow-t {
    display:inline-block;
}

.si-aplist .si-aprow-t {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.si-aprow-t .si-apname {
    display:inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}

.si-aprow-t .si-apaddress {
    position:relative;
    top:-3px;
    margin-left: 9px;
    font-size: 11px;
    font-weight: normal;    
}




/* site layout */

.si-header {
    position: fixed;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 0px;
    z-index: 900;
}

.si-main {
    margin: 80px 0px 0px 0px;
	//min-height: 600px;
}

.si-footer {
	width: 100%;
	height: 20px;
	margin-top: 20px;
	background-color: #424242;
	color: #999;
	float: left;
	z-index: 10000;

	.footer-bar {
		width: 1000px;
		margin: auto;

		.copyright {
			float: left;
		}

		.version {
			float: right;
		}
	}
}

.si-ctr {
    position: relative;
    width: 1000px;
	/*width: 1200px;*/
    margin: auto;
    padding: 0px 0px 0px 0px;
	color: #898989;

    #StopImp{
		cursor: pointer;
		color: #FF6B46;
    }
}

.si-spinmsg {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FF6B46;
    padding: 2px 20px;
    z-index: 5010;
    display: none;
}

.si-left {
    float: left;
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	.si-title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0px 10px 0px;
    }

	.si-mitem {
        height: 29px;
        width: 175px;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        float: left;
    }
}

.si-right {
    float: left;
    /*width: 799px;*/
	width: 1000px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    //min-height: 800px;
}

.si-hleft {
    float: left;
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    word-wrap: break-word;
    height: 50px;
}

.si-hright {
	float: left;
	width: 799px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 50px;

	.publish-toolbar {
		 float: right; 
		 margin-top: 32px;
		 margin-right: 8px;

		.publishicon {
			background: url(images/publish_icon.png) no-repeat center center;
			height: 44px;
			width: 44px;
			display: inline-block;
			cursor: pointer;
		}
	}

	.todo-notifications-header {
		float: right;
		margin-top: 24px;
		margin-right: 20px;
		color: #bbb;
		padding-top: 6px;


		.globle {
			background: url(images/globe5.png) no-repeat center center;
			height: 44px;
			width: 44px;
			display: inline-block;
			cursor: pointer;
			padding: 2px 2px 0 2px;

			span {
				position: relative;
				top: 19px;
				left: 3px;
				width: 20px;
				text-align: center;
				color: #eee;
				font-weight: bold;
				font-size: 0.9em;
				display: inline-block;
			}
		}

		.todo-noti-panel {
			box-shadow: 2px 2px 7px #7d7d7d;
			.gradient(#f5f5f5, #e0e0e0, #fff);
			border-radius: 5px 0px 5px 5px;
			display: none;
			position: absolute;
			z-index: 10000;
			background-color: #fbfbfb;
			width: 400px;
			min-height: 200px; // IE 10 has a bug on the drop shadow
			right: 21px;

			.items-list {
				margin: 8px;
				
				.todo-list {
					.k-widget {
						border-color: #eee;
						background-color: transparent;
					}

					.todo-item {
						margin: 4px;
						padding: 2px;
						&:hover{
								  background-color: #f5f5f5;
						      }

						span {
							display: inline-block;
							vertical-align: top;
						}

						.todo-text {
							width: 270px;
							margin-left: 2px;
						}

						img {
							vertical-align: top;
						}
					}
				}
			}

			.header {
				width: 100%;
				font-size: 1.2em;
				font-family: 'PlanerRegular',verdana;
				color: #666;
				font-weight: bold;

				span {
					display: inline-block;
					vertical-align: middle;
				}

				hr {
					border-top: 2px solid #ccc;
				}

				a:hover {
					color: #005580;
				}
			}
		}




		.globleActive {
			background-color: #fbfbfb;
			border-radius: 5px 5px 0px 0px;
		}
	}

	.icosep {
		margin: 0 2px;
		height: 26px;
		border-right: 1px solid #bbb;
	}

	.menu {
		float: left;
		margin-top: 27px;
		min-width: 635px;
		text-align: center;

		.item {
			margin-top: 55px;
			float: left;
			font-size: 14px;
			text-transform: uppercase;
			cursor: pointer;
		}

		.sep {
			display: inline-block;
			position: relative;
			top: 59px;
			width: 2px;
			border: 0px none;
			background-color: #E6E6E6;
			height: 14px;
			margin-left: 10px;
			margin-right: 10px;
			float: left;
		}
	}
}
  	

.si-dico {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 5px;
}

.fcl {
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.hideme {
    display: none !important;
}

.si-dlgmessage {
    font-size: 15px;
    padding: 10px;
}

#Menu {
	display: inline-block;
}

	#Menu.k-menu {
		background: none !important;
		border: none !important;

		li {
			background: none !important;
			border: none !important;
			text-align: left;
		}
	}



/*.k-active-filter:hover,
.k-state-active:hover {
	color: #FFBF00 !important;
	background: none !important;
	border: none !important;
}*/

.loading-image {
	background: url(images/loading-image.gif) no-repeat center center;
	height: 100%;
	width: 100%;
}

.loading-image-img {
	background: url(images/loading-image.gif) no-repeat center center;
	min-height: 48px;
	min-width: 48px;
	border: none;
	.rounded(3px);
}


.loading-icon {
	background: url(images/loading.gif) no-repeat center center;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}

.k-tooltip {
	text-align: justify !important;
}

.k-tooltip-content {
	padding: 4px;
	max-height: 400px;
	overflow-y: auto;
}

.RadioButtonListItem {
  display: inline;
  margin-right: 16px;
}

.login-page {
	.form {
		padding-top: 10px;
		font-size: 14px;
		color: #222;

		h3{
			font-size: 1.2em;
		}

		h4{
			font-size: 0.8em;
			color: #555;
			font-weight: normal;
		}

		label {
			padding: 4px;
			color: #333;
			display: inline-block;
			vertical-align: top;
			width: 130px;
			text-align: right;
		}

		ol, ul {
			list-style: none outside none;
			margin: 4px;
		}

		li {
			padding-bottom: 8px;
			text-align: center;

			a {
				color: #444;
			}
		}

		a {
			font-weight: bold;
		}
	}
}

.login-body {
	background: url('images/splash.png') no-repeat;
	width: 100%;
	height: 994px;
	display: block;

	a {
		text-decoration: none !important;

		&:hover {
			color: #005580 !important;
		}
	}

	.button-login {
		background: none repeat scroll 0 0 #F2F2F2;
		border-color: #E6E6E6 #D1D1D1 #D1D1D1;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		box-shadow: 0 1px 2px #DDDDDD, 0 0 0 1px #FFFFFF inset;
		color: #555;
		font-weight: bold;
		cursor: pointer;
		display: inline-block;
		height: 28px;
		line-height: 28px;
		margin-top: 34px;
		padding: 0 9px 1px 10px;
		position: absolute;
		right: 10px;
		text-align: center;
		-webkit-text-shadow: 0 1px 0 #FBFBFB;
		text-shadow: 0 1px 0 #FBFBFB;
		top: 0;
	}

	.login-container {
		width: 940px;
		height: 125px;
		background-color: #FFFFFF;
		border-radius: 5px;
		box-shadow: 7px 6px 12px 7px #000000;
		opacity: 0.8;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		line-height: 25px;
		padding: 25px;
		z-index: 1;

		p {
			font-size: 14px;
		}
	}



	.login-pop {
		width: 365px;
		height: 240px;
		position: absolute;
		top: 67px;
		right: 10px;
		padding-bottom: 8px;
		background: none repeat scroll 0 0 #F2F2F2;
		z-index: 10000;
		border-radius: 5px;
		box-shadow: 7px 6px 12px 7px #000000;
		text-align: center;

		.form {
			margin: 10px;

			label {
				padding: 4px;
				font-weight: bold;
				color: #444;
				display: inline-block;
				vertical-align: top;
			}

			ol, ul {
				list-style: none outside none;
				margin: 4px;
			}

			li {
				//padding-bottom: 8px;
				text-align: center;

				a {
					color: #444;
				}
			}

			#ForgotInstructions{
				color: #f84848
			}
		}
	}
}
