@import "CommonMixIns";

.copyright{
	width: 100%;
	margin-top: 16px;
	padding: 2px 0 0 0;
	background-color: #eee;
	text-align: center;
	display: block;
	color:#888;
	
}

.validation-summary-errors{
	color: #b00;
	font-weight: bold;
}

.approvals-list {
	width: 270px;
	font-size: .8em;
	background-color: #EEE;

	.drawer-header {
		width: 100%;
		text-align: center;
		//margin: 3px;
		background-color: #4e4e4e;
		color: #fff;
		padding: 5px;
		font-weight: bold;
		background-clip: border-box;

	}

	.list-item{
		//background-color: #eee;
		&:hover{
			background-color: #eee;	
		}

		a {
			text-decoration: none;
		}
		
		.location{
			color: #369;
			font-weight: bold;
			vertical-align: top;
		}

		.screen-name{
			margin-left: 22px;
			color: #4e4e4e;
			font-size: .9em;
			vertical-align: top;
		}

	}
}

.post-details {

	.calendar {
		color: #ffc000;
		font-size: 40px;

		&:after {
			content: "\E089";
		}
	}

	.title {
		font-size: 1.2em;

		.syndicator {
			color: #ffc000;
			font-style: italic;
		}
	}

	.date-header {
		margin: 6px 0 6px 18px;

		.icon {
			float: left;
		}

		.small {
			font-size: 0.7em;
			color: #888;
			font-weight: normal;
		}

		.date {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 0.8em;
		}
	}

	.message {
		padding: 6px 0;
		margin: 3px 0;
		font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
		font-size: 14px;
		line-height: 15px;
		color: #333;
	}

	.details {
		font-size: 12px;

		img{
			.rounded(4px);
		}

		.link{
			margin: 8px;

			img{
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}
			
			a {
				color: #555;
			}

			.link-title{
				font-weight: bold;
				color: #3b5998;
			}

			.desc{
				margin-top: 6px;
				color: #555;
				clear: both;
			}
		}
	}

	.edit-button {
		display: block;
		margin: 0 5px;
		text-align: center;
		background-color: #5a5abe;
		color: #fff;
		font-weight: bold;
		font-size: 1.2em;
	}

	.autoapprove-button {
		display: block;
		margin: 5px;
		text-align: center;
		background-color: #ffc000;
		color: #333;
		font-weight: bold;
		font-size: 1.2em;

		.small-text {
			font-size: 0.7em;
			color: #777;
			font-weight: normal;
		}
	}

	.approve-button {
		text-align: center;
		width: 47%;
		background-color: #78c64f;
		color: #fff;
		font-weight: bold;
		font-size: 1.2em;
	}

	.deny-button {
		text-align: center;
		width: 47%;
		background-color: #ba5949;
		color: #fff;
		font-weight: bold;
		font-size: 1.2em;
	}
}





.n-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.facebook-icon {
	background: url("images/ico-facebook.png") no-repeat scroll 0 0;
}

.google-icon {
	background: url("images/ico-google.png") no-repeat scroll 0 0;
}

.twitter-icon {
	background: url("images/ico-twitter.png") no-repeat scroll 0 0;
}

.blogger-icon {
	background: url("images/ico-blogger.png") no-repeat scroll 0 0;
}

.youtube-icon {
	background: url("images/ico-youtube.png") no-repeat scroll 0 0;
}


.loading-image {
	background: url(images/loading_2x.gif) no-repeat center center;
	min-height: 32px;
	min-width: 32px;
}