@import "CommonMixIns";

.social-post-activity {
	margin-top: 8px;
	position: relative;

	.post-grid {
		margin-top: 8px;

		.action-dropdown {
			//position: absolute;
			//height: 164px;
			.menu {
				border-radius: 4px;

				ul {
					border-radius: 4px;
				}

				li {
					width: 100%;
					border-right: none;

					input[type="checkbox"] {
						vertical-align: top;
					}

					a:hover {
						text-decoration: none;
					}
				}

				hr {
					border-top: 2px solid #ccc;
					height: 0px;
				}
			}

			.k-link {
				padding: 3px 6px;
			}
		}

		td {
			//vertical-align: top;
			border-left: none;
			white-space: nowrap;

			.timezone {
				font-size: 9px;
				line-height: 9px;
				color: #999;
			}
		}

		.normal-wrap {
			white-space: normal !important;
		}

		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);
			//tr td {
			//	overflow: visible;
			//}
		}

		.k-grid-Edit {
			min-width: 32px;
		}

		.k-toolbar {
			background: none;
			.gradient(#EEE, #AAA, #DDD);
			padding: 8px;
		}



		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

		.vert-centered-column {
			vertical-align: middle;
		}

		.dealer-name {
			font-weight: bold;
		}

		.publish-date {
			font-weight: bold;
			color: #555;
			font-size: 0.9em;
			text-align: center;
			vertical-align: middle;
		}

		.dealer-filter {
			display: inline-block;
		}

		.status-name {
			color: #555555;
			font-size: 0.9em;
			font-weight: bold;
		}

		.status {
			color: #555555;
			font-size: 0.8em;
		}

		.net-images {
			img {
				width: 16px;
				margin: 0 2px;
			}
		}

		.title {
			font-weight: bold;
			color: #005580;
		}
	}
}

.post-confirmation {
	.fieldset {
		.rounded(4px);
		margin: 6px 1px 14px 1px;
		padding: 6px;
		border: 1px solid silver;
		width: 96%;
		height: 100%;
		background-color: #F8F8FA;

		.legend {
			display: inline-block;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.1em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #444;
			padding: 3px 3px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			font-weight: bold;
		}
	}

	label, span {
		display: inline-block;
	}

	label {
		width: 110px;
	}

	.wide-label {
		width: 160px;
	}

	span {
		color: #444;
	}

	button {
		width: 120px;
	}

	.approval-summary {
		float: right;
		width: 400px;
		display: none;
	}
}

.social-postmanagement-details {
	.fieldset {
		.rounded(4px);
		margin: 6px 1px 14px 1px;
		padding: 6px;
		border: 1px solid silver;
		width: 96%;
		height: 100%;
		background-color: #F8F8FA;

		.legend {
			display: inline;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.1em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #444;
			padding: 3px 3px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			font-weight: bold;
		}
	}

	label, span {
		display: inline-block;
	}

	label {
		min-width: 80px;
		font-size: 12px;
		vertical-align: top;
	}

	span {
		color: #444;
		vertical-align: middle;
	}
	
	td{
		vertical-align: top;
		padding: 2px;
	}
	
	img {
		border: 1px solid silver;
		.rounded(3px);
		margin: 6px;
	}
	
}



.social-compose-message {
	margin-top: 8px;
	color: #003f59;

	.fieldset {
		.rounded(4px);
		margin: 6px 2px;
		padding: 6px;
		border: 1px solid silver;
		width: 97%;
		height: 100%;
		background-color: #F8F8FA;

		.legend {
			display: inline-block;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.2em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #444;
			padding: 0px 3px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			//font-weight: bold;
		}
	}



	#LinkImage {
		border: 1px solid silver;
		.rounded(3px);
		width: 128px;
		display: none;
	}

	#ImagePlaceHolder {
		background: url('images/loading-image.gif') no-repeat;
		display: none;
		width: 130px;
		height: 64px;
		background-position: center;
		vertical-align: middle;
	}

	.leftImageIcon {
		background-image: url(images/circle_left.png);
		width: 24px;
		height: 24px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.rightImageIcon {
		background-image: url(images/circle_right.png);
		width: 24px;
		height: 24px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	label {
		display: inline-block !important;
		padding-top: 4px;
		font-size: 12px;
	}

	input[type="checkbox"] {
		margin-top: 0 !important;
	}

	textarea {
		margin-bottom: 1px !important;
	}

	.read-only-box{
		display: inline-block;
		min-height: 16px;
		padding: 4px; 
		.rounded(3px);
		.bordered(#CCC, #CCC, #CCC, #CCC);
	}

	.target-networks{
		padding: 14px;

		td{
			padding: 6px;
		}

		a{
			padding-right: 10px;
		}
	}

	.action-bar {
		padding-right: 50px;

		label {
			display: inline-block !important;
			vertical-align: top;
			padding-top: 3px;
			padding-left: 3px;
			padding-right: 12px;
		}
	}

	.link-section {
		margin: 16px 0;
		display: none;

		#LoadingPreviewIcon {
			display: none;
			width: 100%;
			text-align: center;
			background: url('images/loading-image.gif') no-repeat;
			height: 48px;
			background-position: center;
			vertical-align: middle;
		}

		#UploadedImagePreview {
			display: none;

			img {
				border: 1px solid silver;
				.rounded(3px);
				width: 128px;
				margin: 6px;
			}
		}

		#Previews {
			width: 100%;

			.image-viewer {
				float: left;
				margin: 3px 12px 4px 6px;

				.thumbnail-count {
					width: 100%;
					text-align: center;
					vertical-align: bottom;
				}
			}

			.link-details {
				float: left;

				#LinkUrlDisplay {
					margin-bottom: 10px;
					color: #555;
					max-width: 650px;
					text-overflow: ellipsis;
					-ms-text-overflow: ellipsis;
					-o-text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}

	.message-section {
		margin: 6px 3px;

		.data-inserts-bar {
			margin-bottom: 2px;
			color: #555;
			font-size: 0.9em;


			.draggable {
				display: inline-block;
				margin-left: 8px;
				color: #003f59;
				font-size: 1.0em;
				cursor: move;
			}

				.draggable::selection {
					background-color: #eee;
					color: #0094ff;
				}

				.draggable::-moz-selection {
					background-color: #eee;
					color: #0094ff;
				}
		}

		.message-count-bar {
			margin-bottom: 4px;
			font-size: 0.9em;
			color: #555;
			width: 97%;
		}

		.message-action-bar {
			margin-top: 4px;


			.add-url-bar {
				display: inline-block;
				margin-left: 20px;
				vertical-align: top;

				.many-images {
					margin-top: 20px;
					color: #c35202;
					font-size: 1.2em;
					display: none;
				}
			}

			.k-upload {
				display: inline-block;
				width: 340px;
			}

			.k-dropzone em {
				visibility: visible;
			}

			.k-upload-button {
				width: 120px;
			}
		}
	}

	.syndicaton-logo {
		position: absolute;
		top: 0px;
		right: 100px;
		height: 120px;
		vertical-align: middle;
		line-height: 120px;
	}

	.syndication-section,
	.post-date-section {
		margin: 16px 0;

		.select-time-bar {
			margin-left: 10px;
			vertical-align: top;

			input[type="radio"] {
				vertical-align: text-bottom;
			}
		}

		.title{
			color: #222;
			font-size: 1.1em;
		}

		.options{
			margin-left: 30px;

			td {
				padding-right: 8px;
			}
		}
	}
}

.social-message-accounts {

	.selected-bar {
		margin-top: 4px;
		margin-left: 18px;

		label {
			display: inline-block !important;
			vertical-align: top;
			padding-top: 3px;
			padding-left: 3px;
			padding-right: 12px;
		}
	}


	.message-accounts-grid {
		margin: 6px;

		#MessageAccounts tr {
			cursor: pointer;
		}

		td {
			vertical-align: top;
			border-left: none;
		}

		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);
			/*tr td {
				overflow: visible;
			}*/
		}

		.k-toolbar {
			background: none;
			.gradient(#EEE, #AAA, #DDD);
			padding: 8px;
		}

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

		.dealer-name {
			font-weight: bold;
		}

		.last-post-date {
			font-weight: bold;
			color: #555;
			font-size: 0.8em;
			text-align: center;
			vertical-align: middle;
		}

		.network-image{
			vertical-align: middle;
			height: 48px;

			img{
				.rounded(3px);
				background: url('images/noise.png') repeat;
				height: 100%;
			}
		}
	}
}

.social-publish {
	h3 {
		font-size: 20px !important;
		font-family: 'PlanerRegular',verdana;
		line-height: 20px;
	}
}

.content-library {
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 60px;
	color: #003f59;
	width: 900px;
	min-height: 650px;

	#TopPage.k-pager-wrap {
		.border-radius(4px, 0, 0, 4px);
	}

	#RSSItemsListView_pager.k-pager-wrap {
		.border-radius(0, 4px, 4px, 0);
	}

	label {
		display: inline-block;
	}

	#RSSItemsListView{
		background-color: #ddd !important;
		border-style: solid;
		border-width: 0 1px;
		border-color: #bbb;
	}

	.rss-items {

		.item {
			width: 210px;
			height: 280px;
			float: left;
			position: relative;
			margin: 3px 6px 6px 6px;
			border: 1px solid silver;
			.rounded(3px);
			background-color: #F4F4FA;

			.image {
				margin: 3px 3px 0;
				text-align: center;
				min-height: 152px;
				cursor: pointer;

				.image-wrapper {
					//width: 202px;
					text-align: center;
					line-height: 137px;
					height: 137px;
					overflow: hidden;
					border: 1px solid silver;
					-webkit-border-radius: 3px 3px 0px 3px;
					-moz-border-radius: 3px 3px 0px 3px;
					border-radius: 3px 3px 0px 3px;
					background: url('images/noise.png') repeat;

					.main-image {
						width: 202px;
						//margin: -100%;
						vertical-align: middle;
						z-index: -1;
					}
				}

				.click-to-view {
					width: 114px;
					height: 13px;
					float: right;
					z-index: 1;
				}

				.placeholder-image {
					border: 1px solid silver;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					width: 202px;
					height: 137px;
				}
			}

			.pub-date {
				text-align: center;
				color: #555;
				padding: 0 4px 0px 4px;
				font-size: 0.9em;
				font-weight: bold;
				white-space: nowrap;
			}

			.title {
				padding-left: 6px;
				padding-right: 6px;
				//text-align: justify;
				height: 80px;
				-ms-text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
				white-space: normal;
				overflow: hidden;
				display: table-cell;
				vertical-align: middle;
			}

			.buttons {
				position: absolute;
				bottom: 5px;
				left: 5px;

				.image-icon {
					width: 16px;
					height: 16px;
					display: inline-block;
					line-height: 0px;
					vertical-align: top;
					font-size: 0;
					overflow: hidden;
					background-repeat: no-repeat;
					padding-right: 3px;
				}
			}
		}
	}

	.k-listview:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.post-calendar {
	margin-top: 10px;
	margin-bottom: 20px;
}

.social-stream {
	margin-top: 1px;
	border-radius: 4px;

	#StreamSplitter {
		border-radius: 4px;

		#splitterTabs {
			border-radius: 0 4px 4px 0;
		}
	}


	.account-picker {
		vertical-align: top;
		overflow: hidden;

		.name {
			display: inline-block;
			width: 170px;
			overflow: hidden;
			-o-text-overflow: ellipsis;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			text-align: left;
		}

		.notif {
			display: inline-block;
			color: #c35202;
			font-weight: bold;
			width: 20px;
			text-align: right;
		}

		.title {
			background-color: #E3E3E3;
			padding: 3px;
			text-align: center;
			color: #3B5998;
			border-bottom: 1px solid #C5C5C5;
			font-weight: bold;
		}

		.treeview {
		}

		#AccountsTreeView {
			overflow-y: auto;
			overflow-x: hidden;
			padding-top: 5px;
			padding-bottom: 10px;
			text-align: center;
			min-height: 40px;
		}
	}

	.tabs {
		background-color: #F8F8FA !important;
		background-image: none;
		border: medium none;
		height: 100%;
		width: 100%;
	}

	.facebook-stream {
		font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
		font-size: 11px;
		line-height: 15px;
		color: #333;
		text-align: center;
		height: 100%;
		overflow: auto;

		#FacebookStreamListView {
			border: none !important;
		}

		#More {
			width: 90%;
			height: 30px;
			font-size: 12px;
			font-weight: bold;
			display: none;
		}

		#posts {
			min-width: 410px;
			min-height: 400px;
			position: relative;
		}

		.facebook-post {
			margin: 8px;
			.bordered(#C4CDE0,#C4CDE0,#C4CDE0,#C4CDE0);
			.rounded(3px);
			padding: 3px;
			//width: 411px;
			width: 90%;
			display: inline-block;
			text-align: left;
			vertical-align: top;
			position: relative;

			.post-details {
				padding: 10px;
				-ms-word-wrap: break-word;
				word-wrap: break-word;
			}

			a {
				color: gray;
			}

			.space-dot {
				color: gray;
				font-weight: bold;
				vertical-align: top;
				font-size: 13px;
				line-height: 8px;
			}

			.post-header {
				padding-bottom: 5px;
				margin-bottom: 5px;
				border-bottom: 1px solid #e5e5e5;

				img {
					display: inline-block;
					vertical-align: top;
					max-width: 50px;
				}

				.title {
					padding: 0 5px;
					display: inline-block;
					width: 85%;

					.pagename {
						font-weight: bold;
						color: #3b5998;
					}

					.shared {
						color: gray;
					}

					.ico {
						width: 20px;
						height: 20px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				.posted {
					color: gray;
					padding-top: 2px;
				}

				.post-delete {
					display: inline-block;
					vertical-align: top;
					margin-left: 2px;
					font-weight: bold;
					color: #546997;
					padding: 0px 4px 1px;
					visibility: hidden;

					&:hover {
						background-color: #3b5998;
						color: #fff;
					}
				}
			}

			.post-message {
				margin-top: 15px;
				margin-bottom: 15px;
				font-size: 13px;
			}

			.post-photo {
				max-width: 403px;
				//margin-left: 4px;
				//margin-bottom: 3px;
				margin: 0 auto 3px;
			}

			.post-link {
				background-color: #F6F7F9;
				border: 1px solid #D3DAE8;
				margin-bottom: 5px;

				img {
					display: inline-block;
				}

				.link-image {
					border-right: 1px solid #D3DAE8;
					border-bottom: 1px solid #D3DAE8;
					display: inline-block;
					padding: 2px;
					width: 150px;
					text-align: center;
				}

				.details {
					display: inline-block;
					padding: 5px 8px;
					vertical-align: top;
					color: gray;
					width: 70%;
					word-wrap: break-word;

					.caption {
						font-weight: bold;
						color: #3b5998;
					}
				}

				.text {
					margin: 8px;
					color: gray;
				}
			}

			.action-links {
				background-color: #edeff4;
				padding: 5px 12px;
				//width: 386px;
				a {
					color: #3b5998;
				}

				.actions {
					display: inline-block;
				}

				.icons {
					float: right;
					display: inline-block;
					color: #3b5998;

					.ico {
						display: inline-block;
						vertical-align: middle;
						margin-left: 4px;
						margin-right: 4px;
					}
				}
			}

			.post-reach {
				border: 1px solid #C4CDE0;
				color: #3B5998;
				background-color: #E7EBF2;
				//width: 210px;
				padding: 2px 5px;
				margin-top: 3px;
			}

			.more-comments {
				background-color: #edeff4;
				padding: 5px 12px;
				//width: 386px;
				margin-top: 3px;
				margin-bottom: 3px;

				a {
					color: #3b5998;
				}

				.ico {
					display: inline-block;
					vertical-align: middle;
					margin-right: 4px;
				}
			}

			.post-comments {

				.comment {
					background-color: #edeff4;
					padding: 4px;
					//width: 402px;
					margin-top: 3px;
					margin-bottom: 3px;

					.user-image {
						display: inline-block;

						img {
							display: inline-block;
							vertical-align: bottom;
						}
					}

					.info {
						display: inline-block;
						vertical-align: top;
						margin-left: 4px;
						width: 90%;

						.user-name {
							font-weight: bold;
							color: #3b5998;
						}

						.ico {
							display: inline-block;
							vertical-align: middle;
							margin-left: 4px;
							margin-right: 4px;
						}

						.ts {
							color: gray;

							a {
								color: #3b5998;
							}
						}
					}

					.delete {
						display: inline-block;
						vertical-align: top;
						margin-left: 2px;
						font-weight: bold;
						color: #546997;
						padding: 0px 4px 1px;
						visibility: hidden;

						&:hover {
							background-color: #3b5998;
							color: #fff;
						}
					}
				}
			}

			.comment-entry {
				background-color: #edeff4;
				padding: 4px;
				//width: 402px;
				margin-top: 3px;
				position: relative;

				img {
					display: inline-block;
					vertical-align: top;
				}

				.autogrow {
					display: inline-block;
					font-size: 11px;
					.rounded(0px);
					padding: 2px;
					overflow: hidden;
					width: 84%;
					margin: 4px;
				}

				.comment-save {
					background-color: #5B74A8;
					color: #FFF;
					padding: 0 8px;
					border-top: 1px solid #29447E;
					border-right: 1px solid #29447E;
					border-bottom: 1px solid #1A356E;
					border-left: 1px solid #29447E;
					font-weight: 700;
					line-height: 20px;
					text-align: center;
					vertical-align: top;
					font-size: 11px;
					//width: 20px;
					display: inline-block;
					margin-top: 6px;
				}
			}
		}
	}

	.twitter-stream {
		font-family: Arial, sans-serif;
		font-size: 12px;
		color: #292F33;
		text-align: center;
		height: 100%;
		overflow: auto;

		.tweet-list {
			//height: 100%;
			border: 1px solid #e5e5e5;
			.rounded(3px);
			width: 31%;
			padding: 2px;
			margin-left: 2px;
			margin-right: 2px;
			display: inline-block;
			vertical-align: top;


			.ico {
				display: inline-block;
				vertical-align: middle;
			}

			.space-dot {
				color: gray;
				font-weight: bold;
				vertical-align: top;
				font-size: 13px;
				line-height: 8px;
			}

			.header {
				padding: 4px 5px;
				vertical-align: top;
				.gradient();
				border-bottom: 1px solid #e5e5e5;
				text-align: left;
				margin-left: -2px;
				margin-right: -2px;


				.title {
					font-weight: bold;
					text-align: left;
					width: 43%;
					display: inline-block;
				}

				.refresh {
					width: 55%;
					text-align: right;
					display: inline-block;
					cursor: pointer;
				}
			}

			.tweet {
				text-align: left;
				margin: 5px 2px;
				border-bottom: 1px solid #e5e5e5;
				position: relative;

				&:hover {
					background-color: #f5f5f5;
				}

				.user-image {
					float: left;
					width: 48px;

					img {
						.rounded(5px);
					}
				}

				.reply-tweet {
					text-align: right;
					display: none;

					textarea {
						font-size: 12px;
					}

					.count-button {
						margin-bottom: 3px;

						.char-count {
							margin-right: 6px;
						}

						.tweet-save {
							background-color: #55ACEE;
							color: #fff;
							border: 1px solid transparent;
							.rounded(3px);
							font-size: 11px;
							font-weight: bold;
						}
					}
				}

				.details {
					float: right;
					width: 75%;

					.title {

						.name {
							font-weight: bold;
						}

						a {
							color: #292F33;
						}

						.screen-name {
							color: #8899A6;
							font-size: 11px;
							padding-left: 2px;
						}

						.time-stamp {
							color: #8899A6;
							font-size: 11px;
						}
					}

					.text {
						-ms-word-wrap: break-word;
						word-wrap: break-word;
						line-height: 16px;
					}

					.photo {
						margin-top: 2px;
						margin-bottom: 3px;

						img {
							.rounded(5px);
						}
					}
				}

				.actions {
					font-size: 11px;
					margin-top: 2px;
					text-align: left;
					white-space: nowrap;
					-ms-text-overflow: clip;
					-o-text-overflow: clip;
					text-overflow: clip;
					overflow: hidden;

					span {
						display: inline-block;
					}

					a {
						color: #999;
					}

						a:hover {
							color: #555;
						}

					.view {
						text-align: left;
						width: 16%;

						a {
							color: #0084B4;
						}
					}

					.subs {
						text-align: right;
						width: 82%;
					}
				}
			}
		}
	}

	.google-stream {
		font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
		font-size: 15px;
		line-height: 18px;
		color: #333;
		text-align: center;
		height: 100%;
		overflow: auto;

		#Googleposts {
			min-width: 358px;
			min-height: 348px;
			position: relative;
		}

		.google-post {
			margin: 10px;
			background-color: #fff;
			.bordered(#D8D8D8,#D8D8D8,#D8D8D8,#D8D8D8);
			.rounded(2px);
			padding: 3px;
			width: 90%;
			display: inline-block;
			text-align: left;
			vertical-align: top;
			position: relative;

			#GoogleMoreDiv {
				margin-bottom: 10px;
			}

			.post-details {
				//padding: 20px;
				-ms-word-wrap: break-word;
				word-wrap: break-word;
			}

			a {
				color: gray;
			}

			.post-header {
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 10px;
				margin-top: 10px;

				img {
					display: inline-block;
					vertical-align: top;
					max-width: 50px;
				}

				.title {
					padding: 0 5px;
					display: inline-block;
					width: 85%;

					.pagename {
						font-weight: bold;
						color: #262626;
						font-size: 14px;
					}

					.shared {
						color: gray;
					}

					.ico {
						width: 20px;
						height: 20px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				.posted {
					color: #999;
					font-size: 12px;
				}

				.google-post-delete {
					display: inline-block;
					vertical-align: top;
					margin-left: 2px;
					font-weight: bold;
					color: #546997;
					padding: 0px 4px 1px;
					visibility: hidden;
					font-size: 13px;

					&:hover {
						background-color: #3b5998;
						color: #fff;
					}
				}
			}

			.post-message {
				padding: 0 20px;
				font-size: 13px;
			}

			.post-photo {
				max-width: 346px;
				//max-height: 195px;
				margin: 20px 7px;
			}

			.post-link {
				border-top: 1px solid #E5E5E5;
				padding: 20px 0;
				margin: 10px 14px;

				img {
					display: inline-block;
				}

				.link-image {
					display: inline-block;
					padding: 2px;
					max-width: 120px;
					text-align: center;
				}

				.details {
					display: inline-block;
					padding: 5px 8px;
					vertical-align: top;
					color: #404040;
					width: 182px;
					-ms-word-wrap: break-word;
					word-wrap: break-word;

					.caption {
						color: #999;
						font-size: 14px;
					}

					.link {
						font-size: 12px;
					}
				}

				.text {
					margin: 8px;
					color: gray;
				}
			}

			.action-links {
				height: 30px;
				margin: 20px 0 0;
				padding: 0 0 20px 12px;

				.block {
					color: #262626;
					display: inline-block;
					font-size: 14px;
					font-weight: bold;
					opacity: 0.7;
				}

				.g-container {
					background-color: #FFFFFF;
					border: 1px solid #D9D9D9;
					border-radius: 3px;
					box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
					cursor: pointer;
					float: left;
					height: 28px;
					line-height: 28px;
					margin-left: 8px;
					padding: 0 10px;
					transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, box-shadow 0.218s ease 0s;
				}
			}

			.comment-count{
				background-color: whitesmoke;
				padding: 4px 4px 16px 4px;
				width: 98%;
			}

			.post-comments {

				.comment {
					background-color: whitesmoke;
					padding: 4px 4px 16px 4px;
					width: 98%;

					.user-image {
						display: inline-block;

						img {
							display: inline-block;
							vertical-align: bottom;
						}
					}

					.info {
						display: inline-block;
						vertical-align: top;
						margin-left: 4px;
						width: 85%;
						font-size: 13px;

						.user-name {
							font-weight: bold;
							color: #404040;
						}

						.ico {
							display: inline-block;
							vertical-align: middle;
							margin-left: 4px;
							margin-right: 4px;
						}

						.ts {
							color: #999;
							font-size: 12px;

							a {
								color: #3b5998;
							}
						}
					}

					.delete {
						display: inline-block;
						vertical-align: top;
						margin-left: 2px;
						font-weight: bold;
						font-size: 13px;
						color: #546997;
						padding: 0px 4px 1px;
						visibility: hidden;

						&:hover {
							background-color: #3b5998;
							color: #fff;
						}
					}
				}
			}
		
			.comment-entry {
				background-color: whitesmoke;
				padding: 4px;
				//width: 402px;
				margin-top: 3px;
				position: relative;

				img {
					display: inline-block;
					vertical-align: top;
				}

				.google-autogrow {
					display: inline-block;
					font-size: 11px;
					.rounded(0px);
					padding: 2px;
					overflow: hidden;
					width: 84%;
					margin: 4px;
				}

				.comment-save {
					background-color: #5B74A8;
					color: #FFF;
					padding: 0 8px;
					border-top: 1px solid #29447E;
					border-right: 1px solid #29447E;
					border-bottom: 1px solid #1A356E;
					border-left: 1px solid #29447E;
					font-weight: 700;
					line-height: 20px;
					text-align: center;
					vertical-align: top;
					font-size: 11px;
					//width: 20px;
					display: inline-block;
					margin-top: 6px;
				}
			}
			
		}



		.plus-one-icon {
			background: url(images/google_sprites.png) no-repeat scroll -166px -34px rgba(0, 0, 0, 0);
			display: inline-block;
			height: 8px;
			margin-bottom: 1px;
			margin-right: 2px;
			width: 8px;
		}

		.shared-icon {
			background: url(images/google_sprites.png) no-repeat scroll -298px 0 rgba(0, 0, 0, 0);
			display: inline-block;
			height: 16px;
			margin-bottom: 3px;
			vertical-align: middle;
			width: 16px;
		}
	}
}

.social-post-statistics {
	margin-top: 4px;
	position: relative;

	.tabs {
		background-color: #FBFBFB !important;
		background-image: none;
		border: medium none;
		height: 100%;
		width: 100%;
	}

	.k-content{
		.rounded(3px);
	}

	.twitter-stats,
	.facebook-stats {


		.stats-grid {
			margin: 4px;

			td {
				border-left: none;
				white-space: nowrap;
				vertical-align: top;

				.timezone {
					font-size: 9px;
					line-height: 9px;
					color: #999;
				}
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
			}

			.small-header a {
				font-size: 9px;
			}

			.post-image{
				.rounded(3px);
				display: inline-block;
				vertical-align: top;
				float: left;
				margin-bottom: 3px;
				margin-right: 5px;
			}
			
			.k-link {
				color: #555;
			}

			.k-grid {
				.rounded(4px);
			}

			.centered-column {
				text-align: center;
				vertical-align: top;
			}
			.overflow-column {
				//overflow: visible;
				white-space: normal;
			}
			
		}
	}
}


	.n-ico {
		display: inline-block;
		margin-right: 2px;
	}

	.n-icon {
		width: 32px;
		height: 32px;
		display: inline-block;
	}

	.facebook-icon {
		background-image: url(images/facebook.png);
	}

	.google-icon {
		background-image: url(images/Google.png);
	}

	.twitter-icon {
		background-image: url(images/twitter.png);
	}

	.blogger-icon {
		background-image: url(images/Blogger.png);
	}

	.youtube-icon {
		background-image: url(images/youtube.png);
	}

	.s-icon {
		width: 24px;
		height: 24px;
		display: inline-block;
		background-repeat: no-repeat;
	}

	.s-Published-icon {
		background-image: url(images/circle_check.png);
	}

	.s-Failed-icon {
		background-image: url(images/circle_cross.png);
	}

	.s-Scheduled-icon {
		background-image: url(images/circle_scheduled_date.png);
	}

	.s-Processing-icon {
		background-image: url(images/circle_processing.png);
	}

	.s-WaitingOnApproval-icon {
		background-image: url(images/waiting_on_approval.png);
	}

	.s-SyndicationwithNoApproverHold-icon {
		background-image: url(images/syndication_no_approver.png);
	}

	.s-Rejected-icon {
		background-image: url(images/post_rejected.png);
	}

	.s-Draft-icon {
		background-image: url(images/post_draft.png);
	}

	.post-Link-icon {
		background-image: url(images/post_link.png);
	}

	.post-Status-icon {
		background-image: url(images/post_status.png);
	}

	.post-Photo-icon {
		background-image: url(images/post_photo.png);
	}

	.post-Video-icon {
		background-image: url(images/post_video.png);
	}

	.post-DetailReport-icon {
		background-image: url(images/post_detail_report.png);
	}

	.post-StreamReport-icon {
		background-image: url(images/post_stream_report.png);
	}

	.k-window-title {
		font-family: 'PlanerRegular',verdana;
		font-weight: bold;
	}

.event-tooltip {
	width: 100%;

	.title-bar {
		.title {
			float: left;
			font-weight: bold;
			color: #0094ff;
		}

		.date-text {
			float: right;
			font-size: 0.9em;
		}
	}

	.message {
		margin: 4px;
		color: #003f59;
		font-size: 1.1em;
	}

	.posted-by {
		margin-top: 4px;
		font-weight: bold;
		font-size: 0.9em;
		color: #444;
	}

	.post-image {
		margin: 4px;
		text-align: center;

		img {
			border: none;
			margin: 0 auto;
			.rounded(3px);
		}
	}
}
