@import "CommonMixIns";

.support-center {
	width: 100%;
	height: 100%;
	overflow: hidden;

	h3 {
		font-size: 18px !important;
		font-family: 'PlanerRegular',verdana;
		line-height: 18px !important;
		margin: 3px 0 !important;
		color: #898989;
	}
	
	.left-panel-menu {
		.gradient(#EEE, #AAA, #DDD);
		width: 175px;
		height: 98%;
		float: left;
		border-radius: 5px 0px 0px 5px;
		border-left: 1px solid #bbb;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		border-right: 2px solid #888;
		padding: 3px;
	}

	.right-panel-edit {
		width: 75%;
		height: 98%;
		float: left;
		padding: 3px;
		background-color: #F8F8FA;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		border-right: 1px solid #bbb;
		border-radius: 0px 5px 5px 0px;
	}

	.close-window-button {
		bottom: 15px;
		margin-left: 30px;
		display: inline-block;
		position: absolute;
		padding: 3px;
		.rounded(3px);
		.bordered(#888,#888,#888,#888);
		cursor: pointer;
	}

	.k-menu {
		border-radius: 3px 3px 3px 3px;
		font-family: 'PlanerRegular',verdana;
		font-size: 14px;
		font-weight: bold;
	}

	.k-item {
		border-radius: 3px 3px 3px 3px;
	}

	.ico {
		display: inline-block;
	}

	.themes-verticals-edit {
		padding: 3px;

		.themes-vertical-grid {
			margin-top: 3px;
			margin-bottom: 20px;


			.k-grid-select {
				padding: 0;
			}

			.k-grid-Add,
			.k-header {
				padding: 0 !important;
			}

			.k-grid td {
				padding-top: 1px !important;
				padding-bottom: 2px !important;
				border: none;
			}

			td {
				vertical-align: top;
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
				font-size: .9em;
			}

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(3px);

				td {
					overflow: visible;
				}
			}

			.centered-column {
				text-align: center;
				vertical-align: middle;
			}
		}

		.theme-preview {
			.fieldset {
				.shadowed-rounded-box(3px);
				margin: 6px 2px;
				padding: 4px;
				border: 1px solid silver;
				//width: 100%;
				height: 100%;
				background-color: #f8f8fa;

				.legend {
					display: inline;
					top: -16px;
					left: 4px;
					position: relative;
					font-size: 1.2em;
					font-family: 'PlanerRegular',verdana;
					background-color: #efefef;
					color: #333;
					padding: 2px 5px;
					border-radius: 3px 3px 3px 3px;
					border: 1px solid #dfdfdf;
					font-weight: bold;
				}
			}

			.info {
				padding: 0 4px 2px 4px;
				min-height: 208px;
				text-align: center;
			}
		}
	}

	.packages-edit {
		padding: 3px;

		.packages-grid {
			margin-top: 3px;
			margin-bottom: 20px;


			.k-grid-select {
				padding: 0;
			}

			.k-grid-Add,
			.k-header {
				padding: 0 !important;
			}

			.k-grid td {
				padding-top: 1px !important;
				padding-bottom: 2px !important;
				border: none;
			}

			td {
				vertical-align: top;
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
				font-size: .9em;
			}

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(3px);
			}

			.centered-column {
				text-align: center;
				vertical-align: middle;
			}
		}
	}

	.employees-edit {
		padding: 3px;

		.employees-grid {
			margin-top: 3px;
			margin-bottom: 20px;


			.k-grid-select {
				padding: 0;
			}

			.k-grid-Add,
			.k-header {
				padding: 0 !important;
			}

			.k-grid td {
				padding-top: 1px !important;
				padding-bottom: 2px !important;
				border: none;
			}

			td {
				vertical-align: top;
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
				font-size: .9em;
			}

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(3px);
			}

			.centered-column {
				text-align: center;
				vertical-align: middle;
			}
		}

		.edit-section {
			.fieldset {
				.shadowed-rounded-box(3px);
				margin: 6px 2px;
				padding: 4px;
				border: 1px solid silver;
				//width: 100%;
				height: 100%;
				background-color: #f8f8fa;

				.legend {
					display: inline-block;
					top: -16px;
					left: 4px;
					position: relative;
					font-size: 1.2em;
					font-family: 'PlanerRegular',verdana;
					background-color: #efefef;
					color: #333;
					padding: 2px 5px;
					border-radius: 3px 3px 3px 3px;
					border: 1px solid #dfdfdf;
					font-weight: bold;
				}
			}

			.info {
				padding: 0 4px 2px 4px;

				input {
					margin-right: 4px;
					margin-bottom: 4px;
				}

				label {
					display: inline-block;
					margin-bottom: 0px;
					padding-top: 4px;
					vertical-align: bottom;
					font-size: 12px;
				}

				input[type="password"] {
					height: 25px;
					line-height: 20px;
					font-size: 12px;
				}


				h4 {
					color: #898989;
					font-family: 'PlanerRegular',verdana;
					font-size: 13px !important;
					font-weight: normal;
					line-height: 16px !important;
					margin: 3px 8px !important;
				}
			}
		}
	}


	.platform-message {
		padding: 3px;

		.messages-grid {
			margin-top: 3px;



			.k-grid-select {
				padding: 0;
			}

			.k-grid-Add,
			.k-header {
				padding: 0 !important;
			}

			.k-grid td {
				padding-top: 1px !important;
				padding-bottom: 2px !important;
				border: none;
			}

			td {
				vertical-align: top;
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
				font-size: .9em;
			}

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(3px);
			}

			.centered-column {
				text-align: center;
				vertical-align: middle;
			}
		}

		.message-edit {
			form {
				margin: 0;
			}

			input {
				margin-right: 4px;
				margin-bottom: 0px;
			}

			label {
				display: inline-block;
				margin-bottom: 0px;
				padding-top: 4px;
				vertical-align: top;
				font-size: 12px;
			}

			.dynamic-section {
				margin-top: 4px;
				border: 1px solid #d3d3d3;
				height: 210px;
				overflow-y: auto;
				padding: 3px;
				.rounded(3px);

				.k-editor {
					height: 120px !important;
				}

				.k-editable-area {
					height: 80px !important;
				}
			}

			.info {
				padding: 3px;

				.section {
					margin-bottom: 2px;
				}
			}
		}
	}
}
