﻿@model CompetitiveAnalysis

@{
	ViewBag.PageTitle = "Competitive Analysis";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

@if (baseModel.UserInfo.EffectiveUser.CanCompetitiveAnalysis)
{
	<div class="reputation-careport" style="min-height: 1000px;">
		<div class="scores">
			<div class="title">Satisfaction Scores</div>
			<div class="my-score">
				<div class="header">My Score</div>	
				<div class="value">@Model.MyScore</div>
			</div>
			<div class="my-score">
				<div class="header">Competitor's Score</div>	
				<div class="value">@Model.CompetitorsScore</div>
			</div>
		</div>
	
		<div class="group-averages">
			<table>
				<tr>
					<th style="visibility: hidden"></th>
					<th colspan="3">Current</th>
					<th class="divider"></th>
					<th colspan="3">Last 30 Days</th>
				</tr>
				<tr>
					<th style="visibility: hidden"></th>
					<th>Avg Score</th>
					<th colspan="2">Review Count</th>
					<th class="divider"></th>
					<th>Avg Score</th>
					<th colspan="2">Review Count</th>
				</tr>
				<tr style="background-color: #eaf2fb;">
					<td class="name">@Model.MyLocationGroupAvg.Name</td>
					<td>@Model.MyLocationGroupAvg.CurrentCounts.AvgScore</td>
					<td>
						@Model.MyLocationGroupAvg.CurrentCounts.Count
					</td>
					<td>
						<span class="positive">@Model.MyLocationGroupAvg.CurrentCounts.PositiveCount</span> / <span class="negative">@Model.MyLocationGroupAvg.CurrentCounts.NegativeCount</span>
					</td>
					<td class="divider"></td>
					<td>@Model.MyLocationGroupAvg.Days30Counts.AvgScore</td>
					<td>
						@Model.MyLocationGroupAvg.Days30Counts.Count
					</td>
					<td>
						<span class="positive">@Model.MyLocationGroupAvg.Days30Counts.PositiveCount</span> / <span class="negative">@Model.MyLocationGroupAvg.Days30Counts.NegativeCount</span>
					</td>
				</tr>
				<tr>
					<td class="name">@Model.MyGroupsAvg.Name</td>
					<td>@Model.MyGroupsAvg.CurrentCounts.AvgScore</td>
					<td>
						@Model.MyGroupsAvg.CurrentCounts.Count
					</td>
					<td>
						<span class="positive">@Model.MyGroupsAvg.CurrentCounts.PositiveCount</span> / <span class="negative">@Model.MyGroupsAvg.CurrentCounts.NegativeCount</span>
					</td>
					<td class="divider"></td>
					<td>@Model.MyGroupsAvg.Days30Counts.AvgScore</td>
					<td>
						@Model.MyGroupsAvg.Days30Counts.Count
					</td>
					<td>
						<span class="positive">@Model.MyGroupsAvg.Days30Counts.PositiveCount</span> / <span class="negative">@Model.MyGroupsAvg.Days30Counts.NegativeCount</span>
					</td>
				</tr>
				<tr style="background-color: #eaf2fb;">
					<td class="name">@Model.CompetitorsGroupAvg.Name</td>
					<td>@Model.CompetitorsGroupAvg.CurrentCounts.AvgScore</td>
					<td>
						@Model.CompetitorsGroupAvg.CurrentCounts.Count
					</td>
					<td>
						<span class="positive">@Model.CompetitorsGroupAvg.CurrentCounts.PositiveCount</span> / <span class="negative">@Model.CompetitorsGroupAvg.CurrentCounts.NegativeCount</span>
					</td>
					<td class="divider"></td>
					<td>@Model.CompetitorsGroupAvg.Days30Counts.AvgScore</td>
					<td>
						@Model.CompetitorsGroupAvg.Days30Counts.Count
					</td>
					<td>
						<span class="positive">@Model.CompetitorsGroupAvg.Days30Counts.PositiveCount</span> / <span class="negative">@Model.CompetitorsGroupAvg.Days30Counts.NegativeCount</span>
					</td>
				</tr>
			</table>
		

		</div>
	
		<div class="location-averages">
	
			<table>
				<tr>
					<th style="visibility: hidden"></th>
					<th colspan="3">Current</th>
					<th class="divider"></th>
					<th colspan="3">Last 24 Hours</th>
					<th class="divider"></th>
					<th colspan="3">Last 7 Days</th>
					<th class="divider"></th>
					<th colspan="3">My Last 30 Days</th>
				</tr>
				<tr>
					<th style="visibility: hidden"></th>
					<th>Avg Score</th>
					<th colspan="2">Review Count</th>
					<th class="divider"></th>
					<th>Avg Score</th>
					<th colspan="2">New Reviews</th>
					<th class="divider"></th>
					<th>Avg Score</th>
					<th colspan="2">New Reviews</th>
					<th class="divider"></th>
					<th>Avg Score</th>
					<th colspan="2">New Reviews</th>
				</tr>
				@{
					int row = 0;
					string color = "#eaf2fb";
				}
				@foreach (CALocationAverages averages in Model.LocationAverages)
				{
					if (row%2 == 0)
					{
						color = "#eaf2fb";
					}
					else
					{
						color = "transparent";
					}
					<tr style="background-color: @color;">
						<td class="name">@averages.Name</td>
						<td>@averages.CurrentCounts.AvgScore</td>
						<td>
							@averages.CurrentCounts.Count
						</td>
						<td>
							<span class="positive">@averages.CurrentCounts.PositiveCount</span>/<span class="negative">@averages.CurrentCounts.NegativeCount</span>
						</td>
						<td class="divider"></td>
						<td>@averages.Last24Counts.AvgScore</td>
						<td>
							@averages.Last24Counts.Count
						</td>
						<td>
							<span class="positive">@averages.Last24Counts.PositiveCount</span>/<span class="negative">@averages.Last24Counts.NegativeCount</span>
						</td>
						<td class="divider"></td>
						<td>@averages.Last7DaysCounts.AvgScore</td>
						<td>
							@averages.Last7DaysCounts.Count
						</td>
						<td>
							<span class="positive">@averages.Last7DaysCounts.PositiveCount</span>/<span class="negative">@averages.Last7DaysCounts.NegativeCount</span>
						</td>
						<td class="divider"></td>
						<td>@averages.Last30DaysCounts.AvgScore</td>
						<td>
							@averages.Last30DaysCounts.Count
						</td>
						<td>
							<span class="positive">@averages.Last30DaysCounts.PositiveCount</span>/<span class="negative">@averages.Last30DaysCounts.NegativeCount</span>
						</td>
					

					</tr>

					row++;

				}
			</table>
			
		</div>
	
	
	
	</div>
}