﻿@{
	ViewBag.PageTitle = "Review Stream";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	
}

<div class="reputation-stream">
	<div class="header">
		@{ Html.RenderAction("ReviewStreamHeader", "Reputation"); }
	</div>
	<div class="list">
		@Html.Partial("_ReviewStreamList")
	</div>
	
</div>