﻿<tr>
    <td style="width: 20%; margin: 0 auto; padding: 0; padding: 0px 0px 0px 0px; font-family: Calibri; vertical-align: top;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: bold; color: #000000; padding: 0px 0px 0px 0px;">
            Images:
        </div>
                                                            
    </td>
    <td style="width: 80%; margin: 0 auto; padding: 0; padding: 0px 0px 0px 0px; font-family: Calibri; vertical-align: top;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px;  vertical-align: top;">
            <ul style="padding: 0px 0px 0px 10px; margin: 0px;">                                                                    
                [$Image$]
                <!--<li><a target="_blank" href="http://img2.netcarshow.com/BMW-M-Zero_Concept_2008_1024x768_wallpaper_01.jpg">Image 1</a></li>-->                                                                    
            </ul>
        </div>                                                           
    </td>
</tr>