﻿<tr>
    <td style="width: 20%; margin: 0 auto; padding: 0; padding: 0px 0px 0px 0px; font-family: Calibri; vertical-align: top;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: bold; color: #000000; padding: 0px 0px 0px 0px;">
            Link:
        </div>

    </td>
    <td style="width: 80%; margin: 0 auto; padding: 0; padding: 0px 0px 0px 0px; font-family: Calibri; vertical-align: top;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px; vertical-align: top;">
            <table style="padding: 0px 0px 0px 0px; margin: 0px;">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;">
                            <div style="font-family: Calibri; font-size: 15px; font-weight: bold; color: #000000; padding: 0px 0px 0px 0px;">
                                Link Title:
                            </div>
                        </td>
                        <td>
                            <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px;">
                                [$LinkTitle$]
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="font-family: Calibri; font-size: 15px; font-weight: bold; color: #000000; padding: 0px 0px 0px 0px;">
                                Link URL:
                            </div>
                        </td>
                        <td>
                            <a target="_blank" href="[$LinkURL$]">URL
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="font-family: Calibri; font-size: 15px; font-weight: bold; color: #000000; padding: 0px 0px 0px 0px;">
                                Thumbnail:
                            </div>
                        </td>
                        <td>
                            <a target="_blank" href="[$Thumbnail$]">Thumbnail</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <div style="font-family: Calibri; font-size: 15px; font-weight: bold; color: #000000; padding: 0px 0px 0px 0px;">
                                Link Description:
                            </div>
                        </td>
                        <td>
                            <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px;">
                                [$LinkDescription$]
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </td>
</tr>