﻿<tr>
    <td style="vertical-align:top;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px;">
            [$AccountName$]
        </div> 
    </td>
    <td>
        <a target="_blank" href="[$AccountFacebookURL$]" style="margin-right: 5px; text-decoration: none; display: [$FacebookShowHide$];">
            <img border="0" src="http://cdn.socialintegration.com/socialnetwork/facebook-20.gif" alt="Facebook"/>
        </a>
        <a target="_blank" href="[$AccountTwitterURL$]" style="margin-right: 5px; text-decoration: none; display: [$TwitterShowHide$];">
            <img border="0" src="http://cdn.socialintegration.com/socialnetwork/twitter-20.gif" alt="Twitter"/>
        </a>
        <a target="_blank" href="[$AccountGooglePlusURL$]" style="margin-right: 5px; text-decoration: none; display: [$GooglePlusShowHide$];">
            <img border="0" src="http://cdn.socialintegration.com/socialnetwork/googleplus-20.png" alt="Google+"/>
        </a>
    </td>
</tr>