﻿
@model  AccountEdit

@{
	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Areas/Admin/Views/Shared/_AccountEdit.min.js"></script>

<script>
	AccountEdit.accountID = '@Model.ID';
	AccountEdit.parentAccountID = '@ViewBag.ParentAccountID';
</script>

<div class="admin-account-edit">
	
	<div class="left-panel-menu">
		@if (Model.Success)
		{
			@(Html.Kendo().Menu()
			      .Name("AccountMenu")
			      .Items(m =>
				      {
					      m.Add().Text("General Config").SpriteCssClasses("ico-home").Selected(true).HtmlAttributes(new {view = "LocationEdit"});
						  m.Add().Text("Product Selection").SpriteCssClasses("ico-folder").HtmlAttributes(new {view = "ProductsEdit"}).Visible(Model.CanViewProducts);
                          //m.Add().Text("Product Config").SpriteCssClasses("ico-preferences").HtmlAttributes(new { view = "ProductConfigEdit", perms = Model.CanViewSocialConfig ? "1" : "0"  }).LinkHtmlAttributes(new { @id = "menuPC" }).Visible(Model.CanViewProducts);
                          m.Add().Text("Product Config").SpriteCssClasses("ico-preferences").HtmlAttributes(new { view = "ProductConfigEdit"}).Visible(Model.CanViewSocialConfig);
						  m.Add().Text("Account Settings").SpriteCssClasses("ico-edit").HtmlAttributes(new { view = "AccountSettingsEdit" }).Visible(Model.CanViewAccountSettings);
						  m.Add().Text("Sub-Accounts").SpriteCssClasses("ico-accounts").HtmlAttributes(new { view = "SubAccountsEdit", perms = Model.CanAddChildren ? "1" : "0" }).Visible(Model.CanViewChildren);
						  m.Add().Text("Users").SpriteCssClasses("ico-users").HtmlAttributes(new { view = "UsersEdit", perms = Model.CanViewUserSSIKey ? "1" : "0" }).Visible(Model.CanViewUsers);
						  m.Add().Text("User Access").SpriteCssClasses("ico-adduser").HtmlAttributes(new { view = "UsersAccessEdit" }).Visible(Model.CanViewUsers);
						  m.Add().Text("Alerts").SpriteCssClasses("ico-alert").HtmlAttributes(new { view = "AlertsEdit" }).Visible(Model.CanViewAlerts);
						  m.Add().Text("Scheduled Reports").SpriteCssClasses("ico-calendar").HtmlAttributes(new { view = "ScheduledEdit" }).Visible(Model.CanViewSchedule);
						  m.Add().Text("Inventory").SpriteCssClasses("ico-edit").HtmlAttributes(new { view = "InventoryEdit" }).Visible(Model.CanViewInventory);
						  m.Add().Text("Competitors").SpriteCssClasses("ico-vg-edit").HtmlAttributes(new { view = "CompetitorsEdit" }).Visible(Model.CanViewCompetitors);
						  
				      })
			      .Orientation(MenuOrientation.Vertical)
			      .Events(e => e.Select("AccountEdit.menuSelect"))
				  )  
		}
		<div class="close-window-button" >
			<span class="k-icon k-i-close"></span>Close Window
		</div>
	</div>
	<div id="LoadingLoacations" class="right-panel-edit">
		<div class="loading-image"></div>
	</div>
	<div id="LocationEdit" class="right-panel-edit" style="display: none;">
		@if (Model.Success)
		{
			Html.RenderAction("LocationEdit", "Admin");
		}
		else
		{
			<text>
				@Model.Message
			</text>
		}
	
	</div>
	<div id="ProductsEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="UsersEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="UsersAccessEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="UsersExistingEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="SubAccountsEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="ProductConfigEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="AccountSettingsEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="AlertsEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="ScheduledEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="InventoryEdit" class="right-panel-edit" style="display: none;"></div>
	<div id="CompetitorsEdit" class="right-panel-edit" style="display: none;"></div>
	
	
</div>

<script>
	$(function () {
		AccountEdit.Init();
	});

</script>