﻿
@model  AccountSettings

<script src="~/Areas/Admin/Views/Shared/_AccountSettingsEdit.min.js"></script>

<div class="account-settings">
	
	@using (Ajax.BeginForm("AccountSettingsEdit", "Admin", new { area = "Admin" },
	                       new AjaxOptions
		                       {
								   OnBegin = "AccountSettings.BeginSubmit",
								   OnSuccess = "AccountSettings.InfoSave",
								   OnFailure = "AccountSettings.SaveFailure",
								   LoadingElementId = "LoadingIconSaveAccountSettings",
			                       LoadingElementDuration = 2000
							   }, new { @id = "formAccountSettings" }))
	{
		@Html.HiddenFor(m => m.AccountID)

		<div class="button-bar">
			<h3>Account Settings</h3>
		</div>

		<div style="margin-left: 10px;">
			@Html.CheckBoxForWithLabel(m => m.PostRequireApproval, "Post Require Approval")

		</div>
		<div style="margin-top: 20px; margin-right: 20px;">
			<div style="float: left; width: 400px;">
				@Html.ValidationSummary("Please review Errors.")
								
			</div>
			<div style="text-align: right; float: right;">
				<span id="resultsAccountSettings" class="update-timestamp" ></span>
				<button id="saveButtonAccountSettings" class="k-button" type="button"><span class="k-icon k-update"></span>Save Account Settings
					<span id="LoadingIconSaveAccountSettings" style="padding-left: 5px; display: none;">
						<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
					</span>
				</button>
			</div>	
			<div class="fcl"></div>		
		</div>
	 
	 
	}
</div>
