﻿
@using SI.Services.Admin.Models
@model  AlertEdit


<script>
	//TODO WHAT ARE WE SAVING HERE?? not in design
	
	var AlertEdit = {
		submitCountAlerts: 0,
		BeginSubmitAlerts: function() {
			if (AlertEdit.submitCountAlerts > 0) return false;
			AlertEdit.submitCountAlerts++;

			EditSaved = true;
		},

		SaveFailure: function () {
			SIGlobal.formSaveFailure();
			AlertEdit.submitCount = 0;
		},
		
		AlertsSave: function (response) {
			$("#resultsAlerts").html(response.message);
			$("#UserAlertGrid").data("kendoGrid").dataSource.read();
			AlertEdit.submitCountAlerts = 0;
		}
	};

	
</script>


@using (Ajax.BeginForm("AlertsEdit", "Admin", new { area = "Admin" },
                       new AjaxOptions
	                       {
							   OnBegin = "AlertEdit.BeginSubmitAlerts",
							   OnSuccess = "AlertEdit.AlertsSave",
							   OnFailure = "AlertEdit.SaveFailure",
							   LoadingElementId = "LoadingIconSaveAlerts",
		                       LoadingElementDuration = 2000
	                       }, new {@id = "formAlertConfig"}))
{

	<div class="alerts-config">
	
		<div class="button-bar">
			<h3>Alerts</h3>
		</div>
	
		<div class="action-bar">
			@Html.CheckBoxForWithLabel(m => m.DisableAll, "Disable all notifications for current account")
		</div>
	
		<div class="alerts-grid">
			@(Html.Kendo().Grid<UserAlert>()
			      .Name("UserAlertGrid")
			      .Columns(columns =>
				      {
					      columns.Bound(c => c.AccountName).Title("Account");
					      columns.Bound(c => c.UserName).Title("Name");
					      columns.Bound(c => c.Email);
					      columns.Bound(c => c.AlertName).Title("Alert").HtmlAttributes(new {@class = "centered-column"}).Width(170);
					      columns.Bound(c => c.Status).Width(80);
				      })
			      .DataSource(ds => ds.Ajax()
			                          .Read(read => read.Action("AlertsGridList", "Admin"))
			                          .Model(model => model.Id(a => a.ID)).ServerOperation(false))
			      .Sortable()
			      .Resizable(r => r.Columns(true))
			      .Selectable(s => s.Enabled(false))
			      .Scrollable(s => s.Height("360px"))
			      .Pageable(p => p.Enabled(false))
				  )
	
		</div>
	</div>
	
	<div style="text-align: right;margin-right: 20px;">
		<span id="resultsAlerts" class="update-timestamp" ></span>
		<button id="saveButtonAlerts" class="k-button" type="submit"><span class="k-icon k-update"></span>Save Alerts
			<span id="LoadingIconSaveAlerts" style="padding-left: 5px; display: none;">
				<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
			</span>
		</button>
	</div>
}