﻿@using SI.Services.Admin.Models

<script>

	var CompEdit = {
		ApplyCompFilters: function() {
			var filterObj = [];
			var search = $("#SearchTextComp").val();
			if (search != null && search != "") {
				var multiFilterObj = { logic: "or", filters: [] };
				multiFilterObj.filters.push({ field: "Name", operator: "startswith", value: search });
				multiFilterObj.filters.push({ field: "City", operator: "startswith", value: search });
				filterObj.push(multiFilterObj);
			}

			$('#CompetitorGrid').data("kendoGrid").dataSource.filter(filterObj);
			$('#CompetitorGrid').data("kendoGrid").refresh();
		},

		competitorRemove: function(e) {
			var data = this.dataItem(this.select());
			SIGlobal.confirmDialog("Remove", "Are you sure you want to Remove the Competitor " + data.Name + "?", function(button) {
				if (button == "Yes") {
					var url = '@Url.Action("CompetitorRemove", "Admin", new { area = "Admin"})';
				    //var addData = { competitorID: data.ID, accountID: '@(ViewBag.AccountID)' };
				    var addData = { ID: data.ID };
					$.post(url, addData, function(data) {
					    $('#CompetitorGrid').data("kendoGrid").dataSource.read();
					    $("#CompetitorAddGrid").data("kendoGrid").dataSource.read();
					    SIGlobal.alertDialog("Competitor Remove", data.message, data.success ? "i" : "e");
					});
				}
			});
		}
	};
	
	$(function () {
		SIGlobal.placeHolderSim(this);

		$("#SearchTextComp").keyup(function (e) {
			CompEdit.ApplyCompFilters();
		});

	});
	

</script>

<div class="users-edit">
	<div class="button-bar">
		<h3>Competitors</h3>
		<h4>This can only be changed once per 30 day period except by Client Services. Max. @(ViewBag.maxCompetitor) Competitors Allowed.</h4>
	</div>
	
	<div class="search-bar">
		<span class="k-textbox k-space-left" style="width:290px;">
			<input id="SearchTextComp" type="text" placeholder="Search Name and City..." style="width:265px;" class="noDirtyFlag"/>
			<span class="k-icon k-i-search">&nbsp;</span>
		</span>
	</div>
	<div class="users-grid" style="height: 184px;">
		
		@(Html.Kendo().Grid<Competitor>()
              .Name("CompetitorGrid")
              .Columns(columns =>
                  {
                      columns.Bound(c => c.Name).Title("Name");
                      columns.Bound(c => c.City).Width(120);
                      columns.Bound(c => c.State).Width(90).HtmlAttributes(new { @class = "centered-column" });
                      columns.Bound(c => c.ZipCode).Width(70).HtmlAttributes(new { @class = "centered-column" });
                      columns.Command(c =>
                      {
                          c.Custom("Remove").Click("CompEdit.competitorRemove");
                      }).Width(90);

                  })
              .DataSource(ds => ds.Ajax()
                                  .Read(read => read.Action("CompetitorEditGrid", "Admin", new { accountID = ViewBag.AccountID }))
                                  .Model(model => model.Id(a => a.ID)).ServerOperation(false))
              .Sortable()

              .Resizable(r => r.Columns(true))
              .Selectable()
              .Scrollable(s => s.Height("160px"))
              .Pageable(p => p.Enabled(false))
              )

	</div>
	<div class="edit-section">
		<div>
			@Html.Partial("_CompetitorAddEdit")
		</div>
	</div>

	
</div>
