﻿@model Inventory


<script>

	var InventoryEdit = {
		kendoValidator: null,
		submitCountInventory: 0,
		BeginSubmitInventory: function() {
			if (InventoryEdit.submitCountInventory > 0) return false;
			InventoryEdit.submitCountInventory++;

			$(".validation-summary-errors").removeClass("validation-summary-errors").addClass("validation-summary-valid");
			EditSaved = true;
		},
		
		SaveFailure: function () {
			SIGlobal.formSaveFailure();
			InventoryEdit.submitCountInventory = 0;
		},

		InventoryInfoSave: function(response) {
			$("#formInventoryEdit").dirtyFlagReset();
			$("#resultsInventory").html(response.message);
			InventoryEdit.submitCountInventory = 0;
		}
	};

	$(function() {
		InventoryEdit.kendoValidator = $("#formInventoryEdit").kendoValidator().data("kendoValidator");
		
		$("#saveButtonIventory").click(function () {
			if (InventoryEdit.kendoValidator.validate()) {
				SIGlobal.ValidationSummaryClear();
				$("#resultsInventory").html("");

				$("#formInventoryEdit").submit();
			} else {
				SIGlobal.ValidationSummaryPopulate(InventoryEdit.kendoValidator.errors());
			}
		});
	});

</script>

<div class="inventory-config">
	
	@using (Ajax.BeginForm("InventoryEdit", "Admin", new {area = "Admin"},
	                       new AjaxOptions
		                       {
								   OnBegin = "InventoryEdit.BeginSubmitInventory",
								   OnSuccess = "InventoryEdit.InventoryInfoSave",
								   OnFailure = "InventoryEdit.SaveFailure",
			                       LoadingElementId = "LoadingIconSaveInventory",
			                       LoadingElementDuration = 2000
		                       }, new {@id = "formInventoryEdit"}))
	{
		@Html.HiddenFor(m => m.AccountID)

		<div class="button-bar">
			<h3>Inventory</h3>
		</div>

		<div>
			<div><label for="InventoryID">Inventory ID:</label>@Html.TextBoxFor(m => m.InventoryID)<span class="ico ico-required"></span></div>
		
			@if (Model.LastImported.HasValue)
			{
				<div><label>Last Import:</label>@(Model.LastImported.Value.ToString("MMMM dd yyyy h:mm tt"))</div>
			}
			else
			{
				<div><label>Last Import:</label>Never</div>
			}
			<div><label># of Vehicles:</label><span>@Model.NumberOfVehicles</span></div>
			<div><label>Inventory App:</label><a href="@Model.InventoryAppUrl" target="_blank">@Model.InventoryAppUrl</a></div>

		</div>
		<div style="margin-top: 20px; margin-right: 20px;">
			<div style="float: left; width: 400px;">
				@Html.ValidationSummary("Please review Errors.")
								
			</div>
			<div style="text-align: right; float: right;">
				<span id="resultsInventory" class="update-timestamp" ></span>
				<button id="saveButtonIventory" class="k-button" type="button"><span class="k-icon k-update"></span>Save Inventory
					<span id="LoadingIconSaveInventory" style="padding-left: 5px; display: none;">
						<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
					</span>
				</button>
			</div>	
			<div class="fcl"></div>		
		</div>
	 
	 
	}
</div>
