﻿@model SI.Services.Admin.Models.AccountLocationEdit

@{
	string _pfx = ViewData.TemplateInfo.HtmlFieldPrefix;

	string cascadePrefix = _pfx;
	if (!string.IsNullOrEmpty(_pfx))
	{
		cascadePrefix += "_";
	}

	long resellerAccountID = ViewBag.AccountID;
	if (ViewBag.AccountID == 0)
	{
		resellerAccountID = Model.ParentAccountID.GetValueOrDefault();
	}
}


<script src="~/Areas/Admin/Views/Shared/_LocationEdit.min.js"></script>
<script>
	LocationEdit.prefix = '@(_pfx)';
	LocationEdit.loadAccountID = '@Model.ID';
	LocationEdit.loadAccountName = '@Model.DisplayName.IsNullOptional(Model.Name)';
	LocationEdit.loadNewSubAccount = '@(Model.NewSubAccountAdd.ToString().ToLower())';
	LocationEdit.FacebookLoginURL = '@Html.Raw(ViewBag.FacebookLoginURL)';
	LocationEdit.FacebookStateContext = '@ViewBag.FacebookStateContext';
	LocationEdit.resellerAccountID = '@resellerAccountID';

</script>


<div class="location-edit">
	
@using (Ajax.BeginForm("LocationEdit", "Admin", new {area = "Admin"}, 
	new AjaxOptions
		{
			OnBegin = "LocationEdit.BeginSubmit",
			OnSuccess = "LocationEdit.LocationInfoSave",
			OnFailure = "LocationEdit.SaveFailure",
			LoadingElementId = "LoadingIconSave" + ViewData.TemplateInfo.HtmlFieldPrefix, 
			LoadingElementDuration = 2000
		}, new { @id = "formLocationEdit" + ViewData.TemplateInfo.HtmlFieldPrefix }))
{
	@Html.HiddenFor(m => m.ID)
	@Html.HiddenFor(m => m.ParentAccountID)
	@Html.HiddenFor(m => m.FacebookAccountID)
	
	<div>
		<div style ="float: left;">
			<h3>General Configuration</h3>
		</div>
		@if (Model.ID.GetValueOrDefault() == 0)
		{
			<div id="FacebookSection@(_pfx)" style="float: right;">
				<img id="FacebookLoginButton@(_pfx)" src="~/assets/style/aristo/images/login-with-facebook.png" style="cursor: pointer;"/>
			</div>
			<div class="fcl">
				<div id="accountPicker@(_pfx)"></div>
				<iframe id="FacebookFrame@(_pfx)" style="border: none; overflow: hidden; display: none;" width="600" height="300" src=""></iframe>
			</div>
		}
	</div>
	<div class="fcl"></div>	 
	<div id="FormSection@(_pfx)">
		<table>
			<tr>
				<td class="form-label">Account Type:</td>
				<td colspan="3">
					@(Html.Kendo().DropDownListFor(m => m.AccountTypeID)
					      .DataTextField("Name")
					      .DataValueField("ID")
					      .OptionLabel("Select...")
						  .Events(e => e.Change("LocationEdit.AccountTypeChange").DataBound("LocationEdit.AccountTypeChange"))
					      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "accounttypes" })))
						  )
					&nbsp;
					@if (Model.CanViewDemoFlag)
					{
						@Html.CheckBoxForWithLabel(m => m.IsDemoAccount, "Demo Account")
					}
					else
					{
						@Html.HiddenFor(m => m.IsDemoAccount)
					}
					
				</td>
				
				<td ></td>
			</tr>
			<tr>
				<td class="form-label">Account Name:</td>
				<td>
					@Html.TextBoxFor(m => m.Name)
					<span class="ico ico-required"></span>
				</td>
				<td></td>
				<td class="form-label">Country:</td>
				<td>
					@(Html.Kendo().DropDownListFor(m => m.CountryID)
					      .DataTextField("Name")
					      .DataValueField("ID")
					      .OptionLabel("Select Country...")
					      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "countries" })))
						  )
					<span class="ico ico-required"></span>
				</td>
			</tr>
			<tr>
				<td class="form-label">Display Name:</td>
				<td>
					@Html.TextBoxFor(m => m.DisplayName)
				</td>
				<td></td>
				<td class="form-label">Address:</td>
				<td>
					@Html.TextBoxFor(m => m.StreetAddress1)
					<span class="ico ico-required required-company"></span>
				</td>
			</tr>
			<tr>
				<td class="form-label">Franchises:</td>
				<td>
					@(Html.Kendo().MultiSelectFor(m => m.FranchiseTypeIDs)
					      .Placeholder("None")
					      .DataTextField("Name")
					      .DataValueField("ID")
					      .HtmlAttributes(new { style = "width:200px;" })
					      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "franchises" })))
						  )
				</td>
				<td></td>
				<td class="form-label">Address 2:</td>
				<td>
					@Html.TextBoxFor(m => m.StreetAddress2)
				</td>
			</tr>
			<tr>
				<td class="form-label">Website URL:</td>
				<td>
					@Html.TextBoxFor(m => m.WebsiteURL)
				</td>
				<td></td>
				<td class="form-label">City:</td>
				<td>
					@Html.TextBoxFor(m => m.CityName)
					<span class="ico ico-required"></span>
				</td>
			</tr>
			<tr>
				<td class="form-label">Phone #:</td>
				<td>
					@Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "(123)123-1234" })
				</td>
				<td></td>
				<td class="form-label">State/Province:</td>
				<td>
					@(Html.Kendo().DropDownListFor(m => m.StateID)
						  .HtmlAttributes(new { style = "width:200px;" })
						  .OptionLabel("Select Country & State/Province...")
					      .DataTextField("Name")
					      .DataValueField("ID")
					      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "states" }).Data("LocationEdit.filterStates")).ServerFiltering(true))
						  .Enable(false)
						  .AutoBind(false)
						  .CascadeFrom(cascadePrefix + "CountryID")
						  )
					<span class="ico ico-required"></span>
				</td>
			</tr>
			<tr>
				<td class="form-label">Email Address:</td>
				<td>
					@Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "General Contact Email" })
				</td>
				<td></td>
				<td class="form-label">Postal Code:</td>
				<td>
					@Html.TextBoxFor(m => m.PostalCode, new { style = "width: 100px" })
					<span class="ico ico-required"></span>
				</td>
			</tr>
			<tr>
				<td class="form-label">Time Zone:</td>
				<td colspan="4">
					@(Html.Kendo().DropDownListFor(m => m.TimeZoneID)
					      .HtmlAttributes(new { style = "width:350px;" })
					      .DataTextField("Name")
					      .DataValueField("ID")
					      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "timezones" })))
					      .AutoBind(true)
						  )
				</td>
			</tr>
			<tr>
				<td class="form-label">Vertical Market:</td>
				<td colspan="4">
					@(Html.Kendo().DropDownListFor(m => m.VerticalMarketID)
									.DataTextField("Name")
									.DataValueField("ID")
									.HtmlAttributes(new { style = "width:250px;" })
									.OptionLabel("Vertical Market ...")
									.DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "verticalmarkets" })))
									.AutoBind(true)
								)
				</td>
			</tr>
			<tr>
				<td colspan="5"><hr/></td>
			</tr>
			<tr>
				<td class="form-label">CRM System:</td>
				<td>
					@(Html.Kendo().DropDownListFor(m => m.CRMSystemTypeID)
					      .DataTextField("Name")
					      .DataValueField("ID")
					      .OptionLabel("None")
					      .DataSource(ds => ds.Read(read => read.Action("List", "Public", new { area = "", type = "crmsystems" })))
						  )
				</td>
				<td></td>
				<td class="form-label">Account ID:</td>
				<td>
					@Html.DisplayFor(m => m.ID)
				</td>
			</tr>
			<tr>
				<td class="form-label">CRM Email:</td>
				<td>
					@Html.TextBoxFor(m => m.CRMSystemEmail)
				</td>
				<td></td>
				@if (Model.CanViewExternalID)
				{
					<td class="form-label">External ID:</td>
					<td>
						@Html.TextBoxFor(m => m.ExternalAccountID)
					</td>
				}
				else
				{
					<td colspan="2">@Html.HiddenFor(m => m.ExternalAccountID)</td>
				}
				
			</tr>
			@*<tr>
				<td colspan="5" style="text-align: right;padding-right: 20px;">&nbsp;
					<span id="resultsTS@(_pfx)" class="update-timestamp" ></span>
				</td>
			</tr>*@
			<tr>
				<td colspan="3">
					@Html.ValidationSummary("Please review Errors.")
					<div id="resultsTS@(_pfx)" class="update-timestamp" style="width: 300px;" ></div>
				</td>
				<td colspan="2" style="text-align: right;padding-right: 20px;vertical-align: top;">
					<button id="NewAccountCancel@(_pfx)" type="button" class="k-button" style="display: none;"><span class="k-icon k-update"></span> Cancel Add</button>&nbsp;
					<button id="saveButton@(_pfx)" class="k-button" type="button"><span class="k-icon k-update"></span> Save Location
						<span id="LoadingIconSave@(_pfx)" style="padding-left: 5px; display: none;">
							<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
						</span>
					</button>
				</td>
			</tr>         
		</table>
	</div>



}
	

</div>


<script>
	$(function () {
		LocationEdit.Init();
	});
	
</script>
