﻿

<div class="product-config">
	
	<div class="button-bar">
		<h3>Product Configuration</h3>
	</div>
	
	<div>
		@(Html.Kendo().TabStrip()
		      .Name("ConfigTabs")  
		      .HtmlAttributes(new { @class="configTabs" })
		      .Animation(a => a.Open(e => e.Fade(FadeDirection.In).Duration(AnimationDuration.Fast)))
		      .Items(tabs =>
			      {
				      tabs.Add().Text("Social").SpriteCssClasses("ico-users").LoadContentFrom("SocialConfig", "Admin", new { area = "Admin", accountID = ViewBag.AccountID }).ContentHtmlAttributes(new { style = "height: 420px;" });
				      tabs.Add().Text("Reputation").SpriteCssClasses("ico-myprofile").LoadContentFrom("ReputationConfig", "Admin", new { area = "Admin", accountID = ViewBag.AccountID }).ContentHtmlAttributes(new { style = "height: 420px;" });
				      //tabs.Add().Text("Syndication").SpriteCssClasses("ico-eml-send").LoadContentFrom("SyndicationConfig", "Admin", new { area = "Admin", accountID = ViewBag.AccountID }).ContentHtmlAttributes(new { style = "height: 400px;" });
			      }))
		
		

	</div>
</div>

<script>
	$(function() {
		setTimeout(function() {
			var tabs = $("#ConfigTabs").data("kendoTabStrip");
			if (tabs.select().index() < 0) {
				tabs.select(0);
			}
		}, 600);
	})
</script>