﻿
@model List<ReputationConfigLink>

<script src="~/Areas/Admin/Views/Shared/_ReputationConfig.min.js"></script>
<script>
	RepConfig.AccountID = '@(ViewBag.AccountID)';
</script>

@using (Ajax.BeginForm("ReputationConfig", "Admin", new { area = "Admin", accountID = ViewBag.AccountID },
	    new AjaxOptions
		    {
				OnBegin = "RepConfig.BeginSubmitReputation",
				OnSuccess = "RepConfig.ReputationInfoSave",
				OnFailure = "RepConfig.SaveFailure",
				LoadingElementId = "LoadingIconSaveLinks",
			    LoadingElementDuration = 2000
		    }, new {@id = "formReputationConfig"}))
{
	<div id="ReputationConfigTab" class="config-section">
		<div style="height: 350px;overflow-y: auto;">
			
			@foreach (ReputationConfigLink link in Model)
			{
				string cid = string.Format("{0}_{1}", link.Name.StripWhiteSpace().Replace(".", "").Replace("'", ""), @link.ID);

				<div class="link-item">
					<label for="@cid">@(link.Name):</label>
					<span class="clearable">
						<input id="@cid" class="link-field" name="@cid" data-id="@link.ID" type="text" value="@link.Url" style="width: 380px;"/>
						<span class="iconclear" title="Clear Link">X</span>
					</span>
					<div class="actions">
						<span class="ico-zoom-in ico linkItemAutoPop" title="Auto Populate" data-source="@link.Name" data-input="@cid"></span> <span class="ico-worldgo ico linkItemBrowser" title="Load URL in Browser" data-input="@cid"></span> 
						@if (link.SuccessProcessed)
						{
							<span class="ico-selected ico" title="Successfully processed"></span>
						}
						else
						{
							<span class="ico-nogood ico" title="Unsuccessfully processed"></span>
						}
					</div>
				</div>
			}
			@if (!Model.Any())
			{
				<div class="link-item">No Reputation Links</div>
			}
		</div>

		<div class="save-section">
			<span id="resultsRCTS" class="update-timestamp" ></span>
			<button id="AutoPopulate" class="k-button" type="button">Auto Populate All</button>&nbsp;
			<button id="saveLinksButton" class="k-button" type="submit"><span class="k-icon k-update"></span>Save Links
				<span id="LoadingIconSaveLinks" style="padding-left: 5px; display: none;">
					<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
				</span>
			</button>
		</div>	

	</div>
}

<script>
	$(function () {
		RepConfig.Init();
	});
</script>