﻿
<script src="~/Areas/Admin/Views/Shared/_SocialConfig.min.js"></script>
<script>
	SocialConfig.AccountID = '@(ViewBag.AccountID)';
</script>

<script type="text/x-kendo-tmpl" id="configTemplate">
	<div class="social-config-item">
		<div class="fieldset">
			<div class="legend"><span class="ico-#=NetworkName.toLowerCase()#24"></span><span class="ico-sc-#=ConnectionStatus#"></span> <span style="position: relative; top:-7px;">#=NetworkName#</span></div>
			<div class="info">
				<div class="status">
					<label>Status:</label> #=StatusMessage#
					#if (IsRefreshable){#
						<button class="k-button action-refresh" data-id='#=ID#' data-url="#=NetworkConnectionUrl#" data-context='#=StateContext#' data-network="#=NetworkName.toLowerCase()#" data-socialappid="#=SocialAppID#" type="button"><span class="k-icon k-i-refresh"></span> Refresh...</button>
					#}#
				</div>
				<div>
					<img src="#=NetworkImageUrl#" >
					<span>#=NetworkDescription#</span>
					#if (IsConnected) {#
						<button class="k-button action-disconnect" data-id='#=ID#' type="button"><span class="k-icon k-i-cancel"></span> Disconnect</button>
					#}else{#
						<button class="k-button action-button" data-url="#=NetworkConnectionUrl#" data-id='#=ID#' data-context='#=StateContext#' data-network="#=NetworkName.toLowerCase()#" data-socialappid="#=SocialAppID#" type="button"><span class="k-icon k-edit"></span> Login to #=NetworkName# to Connect...</button>
					#}#
				</div>
			</div>	
			<div id="connectionPages_#=SocialAppID#" class="location-edit connectionPages" style="height: auto;"></div>
			<div id="error_#=SocialAppID#"></div>
		</div>
	</div>
</script>

<div class="product-config">
	<div class="config-section">
		@(Html.Kendo().ListView<SocialConfig>()
		      .Name("SocialConfigListView")
		      .TagName("div")
		      .ClientTemplateId("configTemplate")
		      .Events(e => e.DataBound("SocialConfig.listViewBound"))
		      .DataSource(data => data.Read(read => read.Action("SocialConfigListView", "Admin", new { area = "Admin", accountID = ViewBag.AccountID })).Events(e => e.RequestStart("SocialConfig.ShowLoading").RequestEnd("SocialConfig.HideLoading"))))
	</div>
</div>

<script>
	$(function () {
		SocialConfig.Init();
	});

</script>