﻿
<script src="~/Areas/Admin/Views/Shared/_SyndicationConfig.min.js"></script>

<div class="config-section">
	<div>
		<h4>Select the Content you wish to receive.</h4>
	</div>
	<div class="syndication-grid">
		@(Html.Kendo().Grid<SyndicationConfig>()
		      .Name("SyndicationGrid")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.Source).HtmlAttributes(new {@class = "source"}).Width(120);
					  columns.Bound(c => c.Description).HtmlAttributes(new { @class = "description" });
					  columns.Bound(c => c.AutoApproved).Title("Auto-Approved").ClientTemplate("<input type='checkbox' #= AutoApproved ? checked='checked':'' # class='chkbxAutoApproved' />").Width(100).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.ManualApproval).Title("Manual Approval").ClientTemplate("<input type='checkbox' #= ManualApproval ? checked='checked':'' # class='chkbxManualApproval' />").Width(110).HtmlAttributes(new { @class = "centered-column" });
				      
			      })
			  
		      .DataSource(ds => ds.Ajax().Batch(true)
		                          .Read(read => read.Action("SyndicationEditGrid", "Admin"))
		                          .Model(model =>
			                          {
				                          model.Id(a => a.ID);
				                          model.Field(f => f.Source).Editable(false);
										  model.Field(f => f.Description).Editable(false);
			                          }).ServerOperation(false))
		      .Sortable()
		      .Resizable(r => r.Columns(false))
		      .Scrollable(s => s.Height("290px"))
		      .Pageable(p => p.Enabled(false))
		      .Events(e => e.DataBound("SynConfig.syngridDataBound"))
			  )
	
	
	</div>	
	<div style="text-align: right; margin-right: 20px;">
		<span id="resultsSyndication" class="update-timestamp" ></span>&nbsp;
		<button id="saveButtonSyndication" class="k-button" type="button"><span class="k-icon k-update"></span>Save Syndication
			<span id="LoadingIconSaveSyndication" style="padding-left: 5px; display: none;">
				<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
			</span>
		</button>
	</div>

</div>


<script>
	$(function () {
		SynConfig.Init();

	});

</script>

