﻿@model UserEdit

<script src="~/Areas/Admin/Views/Shared/_UsersEdit.min.js"></script>

<script type="text/x-kendo-template" id="action-template">
	<div class='action-dropdown' data-user-id='#=UserID#'>
		<ul class='menu'>
			<li>Actions
				<ul>
					<li data-action='markasinactive'><span class='k-icon k-i-expand'></span>Mark Inactive</li>
					<li data-action='resetpassword'><span class='k-icon k-i-expand'></span>Reset Password</li>
					@*<li data-action='invitereinvite'><span class='k-icon k-i-expand'></span>Invite/Reinvite</li>
					<li data-action='possess'><span class='k-icon k-i-expand'></span>Possess</li>
					<li data-action='access'><span class='k-icon k-i-expand'></span>Access</li>*@
				</ul>
			</li>
		</ul>
	</div>
</script>

<div class="users-edit">
	<div class="button-bar">
		<h3 style="float: left;">Users</h3>
		<div style="float: right;">
			<button id="AddExistingUserButton" class="k-button" type="button"><span class='k-icon k-i-plus'></span> Add Existing User</button>&nbsp;
			<button id="NewUserButton" class="k-button" type="button"><span class='k-icon k-i-pencil'></span> New User</button>
		</div>
		<div class="fcl"></div>
	</div>
	<div class="search-bar">
		<span class="k-textbox k-space-left" style="width:290px;">
			<input id="SearchText" type="text" placeholder="Search Last Name and Email..." style="width:265px;" class="noDirtyFlag"/>
			<span class="k-icon k-i-search">&nbsp;</span>
		</span>
	</div>
	<div class="users-grid" >
		@(Html.Kendo().Grid<UserEdit>()
			    .Name("UsersGrid")
			    .Columns(columns =>
				    {
					    columns.Bound(c => c.LastName).Title("Name").ClientTemplate("#=FirstName# #=LastName#").Width(160);
					    columns.Bound(c => c.Email).Width(150);
					    columns.Bound(c => c.CreateDate).Title("Created").Format("{0:d}").Width(90).HtmlAttributes(new { @class = "centered-column" });
						columns.Bound(c => c.RoleName).Title("Role").HtmlAttributes(new { @class = "centered-column" });
						//columns.Bound(c => c.SSOKey).Title("SSO Key").Visible((bool) ViewBag.ShowSSIKeyColumn);
					    @*columns.Bound(c => c.Status).HtmlAttributes(new { @class = "centered-column" });*@
						columns.Template(t => t).ClientTemplate("#=UserEdit.getActions(UserID)#").Title("").Width(100).HtmlAttributes(new { style = "overflow: visible;" });
				    })
			    .DataSource(ds => ds.Ajax()
			                        .Read(read => read.Action("UsersEditGrid", "Admin", new { accountID = Model.AccountID })) 
			                        .Model(model => model.Id(a => a.UserID)).ServerOperation(false))
			    .Sortable()
			    .Resizable(r => r.Columns(true))
			    .Selectable()
			    .Scrollable(s => s.Height("200px"))
			    .Events(e =>
				    {
						e.DataBound("UserEdit.userDataBound");
						e.Change("UserEdit.userEdit");
				    }
				)
			)
	</div>
	
	<div class="edit-section">
		@using (Ajax.BeginForm("UsersEdit", "Admin", new {area = "Admin"},
							   new AjaxOptions
								   {
									   OnBegin = "UserEdit.BeginSubmitUser",
									   OnSuccess = "UserEdit.UserInfoSave",
									   OnFailure = "UserEdit.SaveFailure",
									   LoadingElementId = "LoadingIconSaveUser",
									   LoadingElementDuration = 2000
								   }, new {@id = "formUserEdit"}))
		{
			@Html.HiddenFor(m => m.UserID)
			@Html.HiddenFor(m => m.MemberOfLocationID)
			@Html.HiddenFor(m => m.AccountID)

	  		<div id="EditAddUser">
				<div class="fieldset">
					<div class="legend"><span id="EditTitle">Edit User</span></div>
					<div class="info">
						<div>
							@Html.TextBoxFor(m => m.FirstName, new { style="width: 180px;", placeholder = "First Name ..." })<span class="ico ico-required"></span>&nbsp;
							@Html.TextBoxFor(m => m.LastName, new { style="width: 180px;",placeholder = "Last Name ..."} )<span class="ico ico-required"></span>&nbsp;
							@Html.TextBoxFor(m => m.Email, new { style="width: 180px;",placeholder = "Email ..." })<span class="ico ico-required"></span>
						</div>	
						<div>
							<span class="k-invalid-msg" data-for="FirstName"></span>
							<span class="k-invalid-msg" data-for="LastName"></span>
							<span class="k-invalid-msg" data-for="Email"></span>
						</div>
						<div style="margin-top: 4px;">
							<label>Role: </label>                            
							@(Html.Kendo().DropDownListFor(m => m.Role)                                 
							      .HtmlAttributes(new {style = "width:175px;"})
							      .DataTextField("Name")
							      .DataValueField("ID")
							      .OptionLabel("Select Role...")
								  .Events(e => e.DataBound("UserEdit.RolesDataBound"))
							      .DataSource(ds => ds.Read(read => read.Action("RoleTypeList", "Admin", new { area = "Admin" })))                                                                    
								  )
							&nbsp;
							@Html.CheckBoxWithLabel("CascadeRole", "Cascade Locations")
				  
						</div>	
						@if ((bool) ViewBag.ShowSSIKeyColumn)
						{
							<div style="margin-top: 4px;">
								<label>SSO Key: </label>  
								<input id="SSOKey" type="text" style="width:300px"/>
							</div>
						}
						<div style="margin-top: 2px;">
							<div style="float: left; width: 400px;">
								@Html.ValidationSummary("Please review Errors.")
								
							</div>
							<div style="text-align: right; float: right;">
								<span id="resultsUTS" class="update-timestamp" ></span>
								<button id="saveButtonUserEdit" class="k-button" type="button"><span class="k-icon k-update"></span>Save User
									<span id="LoadingIconSaveUser" style="padding-left: 5px; display: none;">
										<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
									</span>
								</button>
							</div>	
							<div class="fcl"></div>		
						</div>
					</div>
				</div>
			</div>
		}
		<div id="AddExistingUser" style="display: none;">
			@Html.Partial("_UsersExistingEdit", "UsersGrid")
		</div>
	</div>
</div>

<script>
	$(function () {
		UserEdit.Init();
	});

</script>