﻿<script>
	var initAccountID = '@ViewBag.AccountID';
	var userID = '@ViewBag.UserID';

	function ShowDetailsWindow(reportLogId, notificationId) {
		var kendoWindow = $("#DetailsWindow").data("kendoWindow");
		if (!kendoWindow) {
			kendoWindow = $("#DetailsWindow").kendoWindow({
				title: "Report/Notification Details",
				content: '/Admin/Admin/UserReportNotificationDetails?reportLogId=' + reportLogId + "&notificationId=" + notificationId,
				modal: true,
				iframe: false,
				draggable: true,
				visible: false,
				width: 960,
				minHeight: 300,
				actions: ["Close"],
				refresh: function () {
					kendo.ui.progress($(".k-window"), false);
					$(".k-window-content").fadeIn("fast");
					this.center();
				}
			}).data("kendoWindow");
		} else {
			$(".k-window-content").hide();
			kendoWindow.refresh({ url: '/Admin/Admin/UserReportNotificationDetails?reportLogId=' + reportLogId + "&notificationId=" + notificationId });
		}

		kendo.ui.progress($(".k-window"), true);
		kendoWindow.center();
		kendoWindow.open();
	}

	$(function() {
		$("#saveButton").click(function () {
			$("#LoadingIconSave").show();
			
			var memberOfAccount = $("#UserMemberOfAccount").data("kendoComboBox").value();
			if (initAccountID != memberOfAccount) {
				$.ajax({ type: "POST", url: "/Admin/Admin/UserChangeMemberOfAccount", data: { userID: userID, accountID: memberOfAccount }, async: false, dataType: "json" }).done(function (data) {
					if (data.Success == false) {
						$("#memberError").html("Could not change member of Account.");
					} else
						initAccountID = memberOfAccount;
				});
			}

			$("#ReportConfig .emlConfigEnabled").each(function () {
				var me = $(this);
				if (me.data("dirty")) {
					var url = '/Admin/Admin/EmailedReportsSaveConfig';
					var addData = { templateID: me.data("id"), subscriptionID: me.data("subid"), spec: me.data("spec"), enabled: me.prop("checked") };
					$.ajax({ type: "POST", url: url, data: addData, async: false, dataType: "json" }).done(function(data) {
						if (data.Success) {
							me.data("dirty", "false");
						}
					});
				}
			});
			
			$("#NotificationConfig .notifConfigEnabled").each(function () {
				var me = $(this);
				if (me.data("dirty")) {
					var url = '/Admin/Admin/NotificationSaveConfig';
					var addData = { userID: me.data("id"), type: me.data("type"), method: me.data("method"), enabled: me.prop("checked") };
					$.ajax({ type: "POST", url: url, data: addData, async: false, dataType: "json" }).done(function (data) {
						if (data.Success) {
							me.data("dirty", "false");
						}
					});
				}
			});
			
			$("#LoadingIconSave").hide();
		});

		$("#PasswordButton").click(function() {
			$.get("/Admin/Admin/GetUserPasswordLink?userID=" + userID, function (data) {
				$("#PasswordInput").val(data.link).show();
				$("#PasswordButton").hide();
			});
			
		});
	});

</script>

<div>
	
	<div style="float: left;">
		<span>Member of Account:</span>
		@(Html.Kendo().ComboBox()
		      .Name("UserMemberOfAccount")  
		      .DataTextField("Name")
		      .DataValueField("ID")
		      .DataSource(ds => ds.Read(read => read.Action("AccountListOfUsersMembers", "Admin", new { area = "Admin" })).ServerFiltering(true))			     
		      .HighlightFirst(true)
		      .Placeholder("Type Account Name...")
		      .HtmlAttributes(new {style = "width:280px;"})
		      .Filter("startswith")
		      .Delay(600)
		      .AutoBind(false)
		      .Suggest(true)
		      .Text((string)ViewBag.AccountName)
		      .Value(((long)ViewBag.AccountID).ToString())
			  )
		&nbsp;
		<span id="memberError" class="field-validation-error"></span>
		
	</div>
	<div style="float: left;">
		<button id="PasswordButton" type="button" class="k-button" style="display: inline-block;"><span class="k-sprite ico-worldgo"></span> Show Reset Password Link</button>
		<input id="PasswordInput" type="text" readonly="readonly" style="display: none;width: 420px;padding: 2px 6px;"/>
	</div>
	<div class="fcl"></div>
	
	<div class="details-tab">
		@(Html.Kendo().TabStrip()
		      .Name("UserTabs")  
		      .Animation(a => a.Open(e => e.Fade(FadeDirection.In).Duration(AnimationDuration.Fast)))
		      .Items(tabs =>
			      {
				      tabs.Add().Text("Notifications").SpriteCssClasses("ico-eml-send").LoadContentFrom("UserDetailNotifications", "Admin", new { area = "Admin", userID = ViewBag.UserID }).ContentHtmlAttributes(new { style = "height: 180px;" }).Selected(true);
				      tabs.Add().Text("Emailed Reports").SpriteCssClasses("ico-calendar").LoadContentFrom("UserDetailEmailedReports", "Admin", new { area = "Admin", userID = ViewBag.UserID }).ContentHtmlAttributes(new { style = "height: 180px;" });
                      tabs.Add().Text("User Activity").SpriteCssClasses("ico-user").LoadContentFrom("UserDetailActivity", "Admin", new { area = "Admin", userID = ViewBag.UserID }).ContentHtmlAttributes(new { style = "height: 180px;" });
			      })
			  )

	</div>
	<div id="DetailsWindow"></div>
	<div class="details-button">
		<button id="saveButton" class="k-button" type="button"><span class="k-icon k-update"></span> Save User Details
			<span id="LoadingIconSave" style="padding-left: 5px; display: none;">
				<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
			</span>
		</button>
	</div>
</div>

