﻿
<script src="~/Areas/Admin/Views/Shared/_UsersAccessEdit.min.js"></script>

<script type="text/x-kendo-template" id="action-template-ua">
	<div class='action-dropdown' data-user-id='#=UserID#' data-role-id='#=RoleID#'>
		<ul class='menu'>
			<li>Actions
				<ul>
					#if(LocalUser){#
						<li data-action='remove'><span class='k-icon k-i-expand'></span>Revoke User Access</li>
					#} else {#
						<li disabled='disabled' data-action='remove' title='User belongs to another account, not local to this account' ><span class='k-icon k-i-expand'></span>Revoke User Access</li>
					#}#
				</ul>
			</li>
		</ul>
	</div>
</script>


<div class="users-edit">
	
	<div class="button-bar">
		<h3 style="float: left;">User Access</h3>
			<div style="float: right;">
				<button id="AddAccessExistingUserButton" class="k-button" type="button"><span class='k-icon k-i-plus'></span> Grant Access to a User not listed below</button>&nbsp;
			</div>
			<div class="fcl"></div>
	</div>
	
	<div class="search-bar">
		<span class="k-textbox k-space-left" style="width:290px;">
			<input id="SearchTextUA" type="text" placeholder="Search Last Name and Email ..." style="width:265px;" class="noDirtyFlag"/>
			<span class="k-icon k-i-search">&nbsp;</span>
		</span>

		@(Html.Kendo().DropDownList() 
		      .Name("StatusSearch")
		      .DataTextField("Text")
		      .DataValueField("Value")
		      .OptionLabel("Status...")
			  .Events(e => e.Change("UserAccess.ApplyFilters"))
		      .BindTo(new List<SelectListItem>()
			      {
				      new SelectListItem() {Text = "Active", Value = "Active"},
				      new SelectListItem() {Text = "In-Active", Value = "In-Active"},
				      new SelectListItem() {Text = "Deleted", Value = "Deleted"}
			      })
						
			  )
		&nbsp;
		@Html.CheckBoxWithLabel("LocalUsersOnly", "Local Users Only")
	</div>
	<div class="users-grid" >
		
		@(Html.Kendo().Grid<UserEdit>()
		      .Name("UsersAccessGrid")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.LastName).Title("Name").ClientTemplate("#=FirstName# #=LastName#");
				      columns.Bound(c => c.Email).Width(150);
                      //columns.Bound(c => c.CreateDate).Title("Created").Format("{0:d}").Width(90).HtmlAttributes(new { @class = "centered-column" });
                      columns.Bound(c => c.RoleName).Title("Role").HtmlAttributes(new { @class = "centered-column" }).Width(80);
                      //columns.Bound(c => c.Status).HtmlAttributes(new { @class = "centered-column" });
                      columns.Bound(c => c.AccountName).Title("Account");
					  columns.Template(t => t).ClientTemplate("#=UserAccess.getUAActions(UserID, RoleID, LocalUser)#").Title("").Width(100).HtmlAttributes(new { style = "overflow: visible;" });
			      })
		      .DataSource(ds => ds.Ajax()
		                          .Read(read => read.Action("UsersAccessEditGrid", "Admin", new { accountID = ViewBag.AccountID }))
		                          .Model(model => model.Id(a => a.UserID)).ServerOperation(false))
		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      .Selectable()
		      .Scrollable(s => s.Height("200px"))
		      .Pageable(p => p.Enabled(false))
		      .Events(e => e.DataBound("UserAccess.userAccessDataBound"))
			  )

	</div>
	<div class="edit-section">
		<div id="AddAccessExistingUser" style="display: none;">
			@Html.Partial("_UsersExistingEdit", "UsersAccessGrid")
		</div>
	</div>

	
</div>

<script>
	$(function () {
		UserAccess.Init();
	});

</script>