﻿body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #000099;
}

#maintable
{
    border: 1px solid #000099;
}

.reviewblock
{
    border: 1px solid #6600FF;
    vertical-align: top;
}

.reviewsourcelabel {
    font-weight: bold;
}

.reviewsourcevalue {
    
}

.reviewdatelabel {
    font-weight: bold;
}

.reviewdatevalue {
   
}

.reviewerlabel {
    font-weight: bold;
}

.reviewervalue {
    
}


.reviewratinglabel {
    font-weight: bold;
}

.reviewratingvalue {
    
}

.reviewbodylabel {
    font-weight: bold;
}

.reviewbodyvalue {
    
}









