﻿body
{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}

.labelmed {
    font-size: 12px;
    font-weight: bold;
}

.valuemed {
    font-size: 12px;
    font-weight: bold;
}

.floatitem
{
    float: left;
}

.alignright
{
    text-align: right;
}

.floatclear {
    float: none;
}

.aligncenter
{
    text-align: center;
}

#meg {
    width: 1000px;
    height: 205px;
}

#meg-1
{
    width: 150px;
    height: 205px;
    background-color: #000000;
    margin-right: 2px;
}

.meg-1-box
{
    background-color: #9e0d0d;
    margin-bottom: 2px;
    height: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

#meg-2
{
    width: 150px;
    height: 205px;
    background-color: #8383eb;
    margin-right: 2px;
}

#meg-3
{
    width: 150px;
    height: 205px;
    background-color: #6a6aea;
    margin-right: 2px;
}

#meg-4
{
    width: 150px;
    height: 205px;
    background-color: #5151e9;
    margin-right: 2px;
}

#meg-5
{
    width: 150px;
    height: 205px;
    background-color: #3434e8;
    margin-right: 2px;
}

#meg-results
{
    width: 150px;
    height: 205px;
}

.meg-results-box
{
    background-color: #009933;
    margin-bottom: 2px;
    height: 50px;
}

.paddingtop30 
{
    padding-top: 30px;
}

.paddingtop20
{
    padding-top: 20px;
}

.paddingtop10
{
    padding-top: 10px;
}

.megmetricLg
{
    font-size: 18px;
    text-align: center;
}

.megmetricMed {
    font-size: 14px;
    text-align: center;
}

.megmetricSm {
    font-size: 12px;
    text-align: center;
}

.pres {
    width: 350px;
    height: 230px;
}

.pres-label
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #413d3d;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.pres-header
{
    width: 350px;
    height: 30px;
    background-image: url("http://cdn.socialintegration.com/socialnetwork/presheaderimg.png");
    background-repeat: repeat-x;
}

.pres-body
{
    width: 350px;
    height: 200px;
    background-color: #4d4a4a;
}

.pres-body-row {
    width: 350px;
    height: 50px;
}

.pres-body-label
{
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 10px;
    color: #0671f4;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
}

.pres-body-value {
    padding-top: 15px;
    padding-bottom: 0px;
    
    color: #CCCCCC;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
}

.pres2-body
{
    width: 350px;
    height: 175px;
    background-color: #4d4a4a;
}

.pres2-body-row {
    width: 175px;
    height: 80px;
}

.pres2-body-label
{
    padding-top: 2px;
    padding-bottom: 0px;

    color: #0671f4;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 175px;

}

.pres2-body-value {
    padding-top: 15px;
    padding-bottom: 0px;
    
    color: #CCCCCC;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 175px;
}