﻿@model SI.Services.Dashboard.Models.NotificationConfigItem

@Html.HiddenFor(m => m.ID)
<div style=" margin-bottom: 6px;">
    @(Html.Kendo().MultiSelect()
          .Name("Accounts_" + @Model.ID.ToString())
          .DataTextField("Name")
          .DataValueField("ID")
          .Placeholder("Select Accounts (All)...")
          .HtmlAttributes(new { style="width:420px;" })
          .DataSource(ds => ds.Read(read => read.Action("NotificationConfigAccounts", "Dashboard", new {area = "Dashboard", configID = Model.ID}))))
	
    <div style="margin-top: 6px;">
	@if (Model.HasHourConfig)
	{
		<text>
			<label>Time of Day:</label>
		    @Html.Kendo().TimePicker().Name("HourConfig_" + @Model.ID.ToString()).HtmlAttributes(new {style = "width:100px;"})
		    <script>
				$("#HourConfig_" + '@Model.ID.ToString()').data("kendoTimePicker").value('@Model.HourConfig');
			</script>
		</text>
	}
	else if (Model.HasDayConfig)
	{
		<text>
			<label>Day of the Week:</label>
		    @(Html.Kendo().DropDownList()
		          .Name("DayConfig_" + @Model.ID.ToString())
		          .HtmlAttributes(new {style = "width:105px;"})
		          .DataTextField("Text")
		          .DataValueField("Value")
		          .BindTo(new List<SelectListItem>()
		          {
		              new SelectListItem() {Text = "Sunday", Value = "Sunday"},
		              new SelectListItem() {Text = "Monday", Value = "Monday"},
		              new SelectListItem() {Text = "Tuesday", Value = "Tuesday"},
		              new SelectListItem() {Text = "Wednesday", Value = "Wednesday"},
		              new SelectListItem() {Text = "Thursday", Value = "Thursday"},
		              new SelectListItem() {Text = "Friday", Value = "Friday"},
		              new SelectListItem() {Text = "Saturday", Value = "Saturday"}
		          }))
		    <script>
				$("#DayConfig_" + '@Model.ID.ToString()').data("kendoDropDownList").value('@Model.DayConfig');
			</script>
		</text>
	 
	}
	else if (Model.HasHourIntervalConfig)
	{
		<text>
			<label>Hour Interval:</label>
		    @Html.Kendo().IntegerTextBox().Name("HourInterval_"+ @Model.ID.ToString()).Min(1).Max(12).HtmlAttributes(new {style = "width:100px;"})
		    <script>
				$("#HourInterval_" + '@Model.ID.ToString()').data("kendoNumericTextBox").value(@Model.HourIntervalConfig.ToString());
			</script>
		</text>
	}
	else if (Model.HasDayOfMonthConfig)
	{
		<text>
			<label>Day of Month:</label>
		    @Html.Kendo().IntegerTextBox().Name("DayOfMonthConfig_"+ @Model.ID.ToString()).Min(1).Max(31).HtmlAttributes(new {style = "width:100px;"})
		    <script>
				$("#DayOfMonthConfig_" + '@Model.ID.ToString()').data("kendoNumericTextBox").value(@Model.DayOfMonthConfig.ToString());
			</script>
		</text>
		
	}
		

	</div>

</div>

<script>
	$(function () {
		var accounts = @(Html.Raw(Json.Encode(Model.AccountIDs)));
		$("#Accounts_" + '@Model.ID.ToString()').data("kendoMultiSelect").value(accounts);
		
		
	});
</script>