﻿@model SI.Services.Dashboard.Models.MyPrefPassword

<script src="~/assets/script/jquery.validate.unobtrusive.min.js"></script>

<script>
	$(function() {
		$("#formPasswordEdit").dirtyFlagSet();
		$(".ico-required").attr("title", "Required");
		SIGlobal.placeHolderSim(this);
	});


	var UPPassword = {
		
		submitCount: 0,
		BeginSubmit: function () {
			if (UPPassword.submitCount > 0) return false;
			UPPassword.submitCount++;

			$(".validation-summary-errors").removeClass("validation-summary-errors").addClass("validation-summary-valid");
			EditSaved = true;
		},

		InfoSave: function (response) {
			$("#formPasswordEdit").dirtyFlagReset();
			$("#resultsPassword").html(response.message);
			UPPassword.submitCount = 0;
		}
	}
</script>


<div class="password-config">
	@using (Ajax.BeginForm("UserPreferencesPassword", "Dashboard", new { area = "Dashboard" },
	                       new AjaxOptions
		                       {
								   OnBegin = "UPPassword.BeginSubmit",
								   OnSuccess = "UPPassword.InfoSave",
			                       OnFailure = "SIGlobal.formSaveFailure",
			                       LoadingElementId = "LoadingIconSavePassword",
			                       LoadingElementDuration = 2000
		                       }, new {@id = "formPasswordEdit"}))
	{
		@Html.AntiForgeryToken()

		<div class="button-bar">
			<h3>Password</h3>
			<h4>* Password requires one special case letter and one digit. Minumum length of 8 characters*</h4>
		</div>

		<div style="padding: 8px;">
			<div>
				<label for="CurrentPassword">Current Password:</label>
				@Html.PasswordFor(m => m.CurrentPassword, new {@class = "k-textbox k-input", style = "width: 180px;", placeholder = "Current Password ..."}) <span class="ico ico-required"></span>
				@Html.ValidationMessageFor(m => m.CurrentPassword)	
			</div>
			<div style="margin-top: 8px;">
				<label for="Password">Change Password:</label>
				@Html.PasswordFor(m => m.Password, new {@class = "k-textbox k-input", style = "width: 180px;", placeholder = "Change Password ..."}) <span class="ico ico-required"></span>
				@Html.ValidationMessageFor(m => m.Password)	
			</div>
			<div style="margin-top: 8px;">
				<label for="VerifyPassword">Verify Password:</label>
				@Html.PasswordFor(m => m.VerifyPassword, new {@class = "k-textbox k-input", style = "width: 180px;", placeholder = "verify Password ..."}) <span class="ico ico-required"></span>
				@Html.ValidationMessageFor(m => m.VerifyPassword)	
			</div>
			
		</div>
		<div style="margin-top: 4px;margin-right: 10px;">
			<div style="text-align: right; float: right;">
				<span id="resultsPassword" class="update-timestamp" ></span>
				<button id="savePassword" class="k-button" type="submit"><span class="k-icon k-update"></span>Save Password
					<span id="LoadingIconSavePassword" style="padding-left: 5px; display: none;">
						<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
					</span>
				</button>
			</div>	
			<div class="fcl"></div>		
		</div>

	}
	
</div>
