﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
	
	<link rel="stylesheet" href="~/assets/script/kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="~/assets/script/kendo/kendo.mobile.all.min.css" />
    <link href="~/assets/Mobile/Mobile.min.css" rel="stylesheet" />

    <script src="~/assets/script/kendo/jquery.min.js"></script>
    <script src="~/assets/script/kendo/kendo.mobile.min.js"></script>
	<script src="~/assets/script/kendo/kendo.aspnetmvc.min.js"></script>
	
	<script>
			var kendoAppInit = false;
			var kendoApp = new kendo.mobile.Application($(document.body), {
				hideAddressBar: true,
				updateDocumentTitle: true,
				serverNavigation: false,
				init: function() {
					kendoAppInit = true;
					this.showLoading();
				}
			});
	</script>

    @RenderSection("HeadContent", false)   
</head>
	<body>
		
		@RenderBody()
		
		
	</body>
</html>