﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
        <h1 style="font-family: Arial">SORRY!</h1>
        <h2 style="font-family: Arial">It appears that the there was an unexpected error. </h2>
        
        <a href="http://platform.socialintegration.com" style="font-family: Arial">Click here to go back and sign in</a>
    </body>
</html>
