﻿@model SI.WEB.Portal.Models.BaseMembersModel
@using SI.WEB.Portal.Models
@using SI.DTO

@foreach (MenuItemDTO menu in Model.MenuItems)
{
    if (menu.Selected)
    {
        foreach (MenuItemDTO subMenu in menu.Items)
        {
    <div onclick="window.location='@( subMenu.URL)'" class="si-mitem @( subMenu.Selected ? "" : "d")sel">
        @( subMenu.Name)
    </div>
            if (subMenu.Selected)
            {
    <div class="si-lnav-sel"></div>
            }
    <div class="fcl"></div>                            
        }
        break;
    }
}
