﻿@model SI.WEB.Portal.Models.FormModel
@using SI.WEB
@using SI.WEB.Portal.Models


<input type="text" id="siuser" />
<input type="text" id="sipwd" />
<button type="button" onclick="signIn()">Log On</button>

