﻿@model SI.WEB.Portal.Models.BaseMembersModel

<script>
	    $(function () {
	        var menuDataSource = new kendo.data.DataSource({
	        	transport: { read: { url: "/Public/GetMenu", dataType: "json" } },
	            schema: { data: "Data"}
	        });
	        
	        menuDataSource.fetch(function (data) {
	            $("#Menu").kendoMenu({
	            	dataSource: data.sender._pristineData,
	            	select: function () { SIGlobal.showGridErrors = false; }
	            });
	        });
			
	        $(".globle").on("click", function () {
		        var panel = $(".todo-noti-panel");
		        if (panel.css("display") == "none") {
		        	$(".globle").addClass("globleActive");
		        	$("#panelContent").hide();
		        	
		        	panel.slideDown("fast", function () {
		        		kendo.ui.progress(panel, true);
	        			$("#panelContent").load('@Url.Action("Notifications", "Dashboard", new { area="DashBoard"})');
	        		});
	        	} else {
		        	panel.slideUp("fast", function () {
	        			$(".globle").removeClass("globleActive");
	        		});
	        	}
	        });
		    
	        $(document).click(function (e) {
		        if ($(e.target).closest(".globle").length == 0 &&
			        $(e.target).closest(".todo-noti-panel").length == 0) {
		        	$(".todo-noti-panel:visible").slideUp("fast");
		        	$(".globle").removeClass("globleActive");
		        }
		        
		        if ($(e.target).closest(".account-picker").length == 0) {
					if ($(".si-apframe").css("display") != "none")
						$("#pickparent").click();
		        }
	        });
	    });
	
	</script>


<div class="menu">
	<div class="title-bar">@ViewBag.PageTitle</div>
	<ul id="Menu"></ul>
</div>

@if (Model.UserInfo.EffectiveUser.CanViewNotificationGlobe)
{
	<div class="todo-notifications-header">
		<div class="globle" title="Notifications"><span id="totalTodoNotifications">@(Model.UserInfo.EffectiveUser.NotificationCount > 99 ? "99+" : Model.UserInfo.EffectiveUser.NotificationCount.ToString())</span></div>
		<div class="todo-noti-panel">
			<div id="panelContent"></div>
		</div>
	</div>
}

@if (Model.UserInfo.EffectiveUser.CanPublish)
{
	<div class="publish-toolbar">
		<a href='@Url.RouteUrl("SocialPublish")'>
			<div class="publishicon" title="Publish"></div>	
		</a>
	</div>
}