﻿@model SI.WEB.Portal.Models.BaseMembersModel
@using SI.WEB.Portal.Models
@using SI.WEB

@{
	ViewBag.PageTitle = "Admin - Accounts";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

<div ng-controller="SIAccountSearchController">
    <div class="si-grid">
        <div class="si-filter">
            <div class="si-title">
                Filter Accounts
            </div>
            <div class="si-item fl">
                <input type="text" ng-model="filters.SearchString" placeholder="@(Html.Local("searcheverything"))..." style="width: 250px;" />
            </div>
            <div class="si-item fl">
                <select ng-model="filters.FranchiseTypeIDs" ng-options="item.ID as item.Name for item in franchises" data-style="btn-primary" bs-select multiple title="OEM">
                </select>
            </div>
            <div class="si-item fl">
                <select ng-model="filters.PackageIDs" ng-options="item.ID as item.Name for item in packages" data-style="btn-primary" bs-select multiple title="Package">
                </select>
            </div>
            <div class="si-item fl">
                <select ng-model="filters.PerPage" ng-options="item.ID as item.Name for item in perpages" data-style="btn-primary" bs-select title="Per Page">
                </select>
            </div>
            <div class="fcl"></div>
        </div>
        <div class="si-pag">
            <div class="si-info fl">
                {{results.TotalRecords}} Accounts Found
            </div>
            
            <div class="fl" ng-show="filters.SearchString.length>0">
                <div class="si-crit fl">
                    (<a href="javascript:void(0)" ng-click="filters.SearchString=''">X</a>) {{filters.SearchString}} 
                </div>
            </div>
            <div class="fl" ng-show="filters.FranchiseTypeIDs.length>0" ng-repeat="item in filters.FranchiseTypeIDs">
                <div class="si-crit fl">
                    (<a href="javascript:void(0)" ng-click="rfid(item)">X</a>) {{getById(franchises,item)}} 
                </div>
            </div>
            <div class="fl" ng-show="filters.PackageIDs.length>0" ng-repeat="item in filters.PackageIDs">
                <div class="si-crit fl">
                    (<a href="javascript:void(0)" ng-click="rpck(item)">X</a>) {{getById(packages,item)}} 
                </div>
            </div>
            <div class="fr si-pager">
                Showing {{filters.StartIndex}} - {{endIndex()}}
                <span ng-show="showPrev">
                    <a href="javascript:void(0);" ng-click="prevPage();">&lt;</a>
                </span>
                <span ng-show="showNext">
                    <a href="javascript:void(0);" ng-click="nextPage();">&gt;</a>
                </span>
            </div>
            <div class="fcl"></div>
        </div>
        <div class="si-results">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Account</th>
                        <th>Parent</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in results.Items">
                    <tr onclick="si_dlg('account', {{item.ID}}, 0);">
                        <td></td>
                        <td>{{item.ID}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.ParentAccountName}}</td>
                        <td>{{item.Address}}</td>
                        <td>{{item.City}}</td>
                        <td>{{item.State}}</td>
                        <td>{{item.ZipCode}}</td>
                        <td>{{item.DateCreated}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
</script>
