﻿@model SDReviewRotator.Web.Models.Review
@using SDReviewRotator.Web.Models;
@{
    const int previewCharacters = 200;
    string previewText = Model.Body;
    string remainingText = "";
    string baseID = Guid.NewGuid().ToString("N");

    string moreID = String.Format("more_{0}", baseID);
    string remainingID = String.Format("rem_{0}", baseID);
    string anchorID = String.Format("anc_{0}", baseID);

    if (Model.Body.Length > previewCharacters + 10)
    {
        int splitPoint = Model.Body.IndexOf(' ', previewCharacters);
        if (splitPoint > -1)
        {
            previewText = Model.Body.Substring(0, splitPoint);
            remainingText = Model.Body.Substring(splitPoint);
        }
    }   
    
}

<div id="bubble-area">
    <div id="bubble-content">
        <div id="bubble-content-rating-area">
            <div id="bubble-content-rating1">
                @{
                    Html.RenderPartial("RatingImage", new RatingImage() { MaxImageHeight = 19, Rating = Model.Rating, SourceID = Model.RatingSourceID });                    
                }
                <br />
            </div>
            <div id="bubble-content-text2">
                <strong>
                    @if (!String.IsNullOrEmpty(Model.LocationURL))
                    {
                        @:<a href="@(Model.LocationURL)" target="_blank">
                    }
                    @Model.LocationName
                    @if (!String.IsNullOrEmpty(Model.LocationURL)) 
                    {
                        @:</a>
                    }
                </strong>
            </div>
        </div>
        <h1>
            @(Model.Reviewer)
        </h1>
        @(Model.Date)
        <br />
        <p>
            @if (remainingText.Length > 0)
            {
                @(previewText)
                <span id="@(moreID)">...&nbsp<a href="javascript:void(0);" onclick="showMore('@(moreID)','@(remainingID)');">more</a></span>
                <span style="display:none;" id="@(remainingID)">@(remainingText)</span>
            }
            else
            {
                @(Model.Body)
            }
            <br />
            <div id="bubble-content-review-icon">
                <a href="@(Model.URL)" target="_blank">
                    <img src="@(Model.SourceImage)" width="75" height="50" alt="Review Site" border="0" />
                </a>
            </div>
        </p>
    </div>
    <div id="bubble-bottom">
    </div>
</div>
