﻿@model SDReviewRotator.Web.Models.Review
@using SDReviewRotator.Web.Models;
<span class="reviewblock"><span class="reviewsourcevalue"><img src="@(Model.SourceImage)" /></span>
    <br />
    <span class="reviewdatelabel">ReviewDate: </span><span class="reviewdatevalue">@(Model.Date)</span>
    <br />
    <span class="reviewerlabel">Reviewer: </span><span class="reviewervalue">@(Model.Reviewer)</span>
    <br />
    <span class="reviewratinglabel">Rating: </span><span class="reviewratingvalue">@(Model.Rating)</span>
    <br />
    <span class="reviewbodylabel">ReviewBody: </span><span class="reviewbodyvalue">@(Model.Body)</span>
</span>