﻿@model SDReviewRotator.Web.Models.ReviewRotator
@using SDReviewRotator.Web.Models;
@{
    int currentColumn = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Reviews</title>
    <link rel="Stylesheet" href="@(ReviewRotator.StyleURL(ViewContext))" />
</head>
<body>
    <div style="align: center;">
        <table style="width: 650px" id="maintable">
            <tr>
                @foreach (Review review in Model.Reviews)
                {
                    <td>
                        @{Html.RenderPartial(ReviewRotator.TemplateViewName(ViewContext), review);}
                    </td>
                    currentColumn++;
                    if (currentColumn >= 2)
                    {                        
                        @:</tr><tr>
                        currentColumn = 0;
                    }                    
                }     
            </tr>
        </table>
    </div>
</body>
</html>
