﻿@model SDReviewRotator.Web.Models.ReviewRotator
@using SDReviewRotator.Web.Models;
@{
    int currentColumn = 0;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>My Reviews</title>
        <link rel="Stylesheet" href="@(ReviewRotator.StyleURL(ViewContext))" />
        <script src="../../../scripts/jquery-1.4.1.min.js"></script>
    </head>
    <body>    
        <div style="margin:auto;width: 940px;">
            <table style="width: 940px;" id="maintable">
                <tr>
                    @foreach (Review review in Model.Reviews)
                    {
                        <td valign="top">
                            @{Html.RenderPartial(ReviewRotator.TemplateViewName(ViewContext), review);}
                        </td>
                        currentColumn++;
                        if (currentColumn >= 2)
                        {                        
                            @:</tr><tr>
                            currentColumn = 0;
                        }                    
                    }     
                </tr>
            </table>
        </div>
        <script type="text/javascript">
            function showMore(toHide, toShow) {                
                $('#' + toHide).hide();
                $('#' + toShow).show();
                return false;
            }
        </script>
    </body>
</html>
