﻿@model SDReviewRotator.Web.Models.ReviewRotator
@using SDReviewRotator.Web.Models;
@{
    int currentColumn = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Reviews</title>
    <link rel="Stylesheet" href="@(ReviewRotator.StyleURL(ViewContext))" />
    <script src="../../../scripts/jquery-1.4.1.min.js"></script>
    <script src="../../../scripts/review-scroller-1.0.0.js"></script>
</head>
<body>
    <div id="myscrollframe" class="rrframe">
        <div id="myinnerscroll" style="position: relative; top: 0px;">
            @foreach (Review review in Model.Reviews)
            {
                Html.RenderPartial(ReviewRotator.TemplateViewName(ViewContext), review);
            }
        </div>
    </div>
</body>
</html>
