﻿@model SDReviewRotator.Web.Models.Review
@using SDReviewRotator.Web.Models;
<div class="rritem">
    <div class="rrinfo">
        <div class="rrdate">
            @( Convert.ToDateTime(Model.Date).ToString("MMM dd, yyyy"))
        </div>
        <div class="rrreviewer">
            @(Model.Reviewer)
        </div>
    </div>
    <div class="rrstars">
        @{ Html.RenderPartial("RatingImage", new RatingImage() { MaxImageHeight = 19, Rating = Model.Rating, SourceID = Model.RatingSourceID }); }
    </div>
    <div class="rrlogo">
        <img src="@(Model.SourceImage)" width="75" height="50" alt="Review Site" border="0" />
    </div>
    <div class="fcl">
    </div>
    <div class="rrbody">
        @(Model.Body)
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.LocationURL))
    {
        <div class="rrread">
            Visit <a href="@(Model.LocationURL)" target="_blank">@(Model.LocationName)</a>
        </div>
        <div class="fcl"></div>
    }
</div>
