﻿
@{
    ViewBag.PageTitle = "Enterprise Reputation & Social Report";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

<script type="text/javascript">
	var boundOnce = false;
	function addHeader() {
		if (!boundOnce) {
			$(".k-grid-header-wrap>table>thead").first().prepend("<tr><th class='k-header added-header' colspan='6'>Reputation Summary</th><th class='k-header added-header' colspan='7'>Facebook Summary</th><th class='k-header added-header' colspan='3'>Twitter Summary</th><th class='k-header added-header' colspan='2'>YouTube Summary</th><th class='k-header added-header' colspan='2'>Google Summary</th></tr>");
			$(".k-grid-header-locked>table>thead").first().prepend("<tr><th class='k-header' >Summary</th></tr>");
			boundOnce = true;
		}
	}
	
	function gridBound() {
		var data = this.dataSource.data();
		$.each(data, function (i, row) {
			if (row.PercentPositiveColor != "")
				$('tr[data-uid="' + row.uid + '"] td:nth-child(4)').css("background-color", row.PercentPositiveColor);
		});
	}
	
	function getNegPos(value) {
		if (value >= 0)
			return value;
		return "<span style='color:darkred;'>(" + Math.abs(value) + ")</span>";
	}

	function getNegPosPer(value) {
		return getNegPos(value) + "%";
	}
	
	function ExcelExport() {
		// Create the spreadsheet.
		var url = '@Url.Action("ExportToExcel", "Reports", new { area = "Reports"})';
		$.post(url, GetGridData(), function(response) {
			if (response.success)
				window.location = '@Url.Action("GetExcelFile", "Reports", new { area = "Reports"})' + "?title=EnterpriseReputationandSocialReport";
		});
	}
	
	function GetGridData() {
		var grid = $("#ReportSummary").data("kendoGrid");

		// Create a datasource for the export data.
		var ds = new kendo.data.DataSource({
			data: grid.dataSource.data()
		});
		ds.query({
			aggregate: grid.dataSource._aggregate,
			filter: grid.dataSource._filter,
			sort: grid.dataSource._sort
		});
		
		var detailGrid = $("#ReportDetail").data("kendoGrid");
		var dsD = new kendo.data.DataSource({
			data: detailGrid.dataSource.data()
		});
		dsD.query({
			aggregate: detailGrid.dataSource._aggregate,
			filter: detailGrid.dataSource._filter,
			sort: detailGrid.dataSource._sort
		});

		// Define the data to be sent to the server to create the spreadsheet.
		var data = {
			model: JSON.stringify(grid.columns),
			data: JSON.stringify(ds._view),
			title: "EnterpriseReputationandSocialReport",
			detailModel: JSON.stringify(detailGrid.columns),
			detailData: JSON.stringify(dsD._view)
		};

		return data;
	}
	
	function ExcelPdf() {
		// Create the pdf.
		var url = '@Url.Action("ExportToPDF", "Reports", new { area = "Reports"})';
		$.post(url, GetGridData(), function(response) {
			if (response.success)
				window.location = '@Url.Action("GetPDFFile", "Reports", new { area = "Reports"})' + "?title=EnterpriseReputationandSocialReport";
		});
	}


	function Print() {
		$('#printSection').printThis({
			debug: false,
			importCSS: true,
			printContainer: true,
			loadCSS: "/assets/print.css",
			pageTitle: "Enterprise Reputation and Social Report",
			removeInline: false,
			printDelay: 333,
			header: null,
			formValues: false
		});

	}
	
	function Preview() {
		$('#ReportSummary').data("kendoGrid").dataSource.read();
		$('#ReportDetail').data("kendoGrid").dataSource.read();
	}


	function getFilter(e) {
		var filter = "";
		if (e.filter && e.filter.filters && e.filter.filters.length > 0)
			filter = e.filter.filters[0].value;
		return {
			dealerFilter: filter
		};
	}
	
	function getAccounts(e) {
		accounts = '@baseModel.UserInfo.EffectiveUser.CurrentContextAccountID';
		var ms = $("#Accounts").data("kendoMultiSelect");
		if (ms != null) {
			var accounts = $("#Accounts").data("kendoMultiSelect").value().join();
			if ((accounts + "") == "")
				accounts = '@baseModel.UserInfo.EffectiveUser.CurrentContextAccountID';
		}
		return {
			accountIDs: accounts,
			VGID: $("#VirtualGroup").data("kendoComboBox").value()
		}
	}

	function SetDefault(e) {
		e.sender.value('@baseModel.UserInfo.EffectiveUser.CurrentContextAccountID');
	}
	
</script>



<div class="reports-entrepsocial">
	
	<div class="grid">
		<div class="report-toolbar k-toolbar">
			<div style="float:left; padding-top: 4px;">
				@(Html.Kendo().ComboBox()
				      .Name("VirtualGroup")
					  .HtmlAttributes(new { style="width:180px;" })
				      .DataTextField("Text")
				      .DataValueField("Value")
				      .DataSource(ds => ds.Read(read => read.Action("VirtualGroupList", "Reputation", new { area = "Reputation" })).ServerFiltering(true))			     
				      .HighlightFirst(true)
				      .Placeholder("Type Group...")
				      .Filter("startswith")
				      .AutoBind(false)
				      .Suggest(true)
					  )
				&nbsp;
			</div>
			<div style="float:left; padding-top: 4px;">
				@(Html.Kendo().MultiSelect()
				      .Name("Accounts")
				      .DataTextField("Text")
				      .DataValueField("Value")
				      .Placeholder("Select Accounts ...")
				      .AutoBind(true)
					  //.MinLength(2)
				      .Filter(FilterType.StartsWith)
				      .Delay(600)
				      .HighlightFirst(true)
				      .HtmlAttributes(new { style="width:400px;" })
				      .DataSource(ds => ds.Read(read => read.Action("ReportAccounts", "Reports", new {area = "Reports"}).Data("getFilter")).ServerFiltering(true))
				      .Events(e => e.DataBound("SetDefault")))
			</div>
			<div style="float:left; margin-left: 10px;">
				@(Html.Kendo().Button().Name("Preview").SpriteCssClass("ico-refresh").Content(" Preview").Events(e => e.Click("Preview")).HtmlAttributes(new { style = "padding: 5px 6px;"}))
			</div>
			<div style="float: right;">
				@(Html.Kendo().Button().Name("ExportExcel").ImageUrl("/assets/style/aristo/images/Excel-icon.png").Content(" Export To Excel").Events(e => e.Click("ExcelExport")))
				&nbsp;
				@*@(Html.Kendo().Button().Name("ExportPDF").ImageUrl("/assets/style/aristo/images/Excel-icon.png").Content(" Export To PDF").Events(e => e.Click("ExcelPdf")))
				&nbsp;*@
				@(Html.Kendo().Button().Name("PrintGrid").SpriteCssClass("ico-printer").Content(" Print").Events(e => e.Click("Print")).HtmlAttributes(new { style = "padding: 5px 6px;"}))
			</div>
			<div class="fcl"></div>
		</div>
		
		<div id="printSection">
			@(Html.Kendo().Grid<EnterpriseReputationSocial>()
			      .Name("ReportSummary")
			      .Columns(columns =>
				      {
					      columns.Bound(c => c.AccountName).Title("Name").Locked(true).Lockable(false).Width(160).HtmlAttributes(new { @class = "account-name" }).HeaderHtmlAttributes(new { @class="account-header" });
					      columns.Bound(c => c.TotalReviews).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.YTDGrowth).ClientTemplate("#=getNegPos(YTDGrowth)#").Width(70);
					      columns.Bound(c => c.YTDPercentGrowth).ClientTemplate("#=getNegPosPer(YTDPercentGrowth)#").Title("YTD % Growth").Width(70);
					      columns.Bound(c => c.PercentPositive).Title("% Positive").Format("{0}%").Width(70);
					      columns.Bound(c => c.Rating).Width(70);
					      columns.Bound(c => c.RatingPercentChange).ClientTemplate("#=getNegPosPer(RatingPercentChange)#").Title("Rating % Chg").Width(70).HeaderHtmlAttributes(new { @class = "border-right" });

					      columns.Bound(c => c.TotalFans).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.YTDFanGrowth).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.YTDPercentFanGrowth).ClientTemplate("#=getNegPosPer(YTDPercentFanGrowth)#").Title("YTD % Growth").Width(70);
					      columns.Bound(c => c.YTDEngagedUsers).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.YTDFanImpressions).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.YTDTotalImpressions).Format("{0:n0}").Format("{0:n0}").Width(80);
					      columns.Bound(c => c.YTDPaidPostImpressions).Format("{0:n0}").Width(80).HeaderHtmlAttributes(new { @class = "border-right" });

					      columns.Bound(c => c.TotalFollowers).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.YTDFollowersGrowth).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.YTDTwitterPercentGrowth).ClientTemplate("#=getNegPosPer(YTDTwitterPercentGrowth)#").Title("YTD % Growth").Width(70).HeaderHtmlAttributes(new { @class = "border-right" });

					      columns.Bound(c => c.TotalSubscribers).Format("{0:n0}").Width(80);
					      columns.Bound(c => c.YTDSubscribersGrowth).Width(80).HeaderHtmlAttributes(new { @class = "border-right" });

					      columns.Bound(c => c.TotalPlusOnes).Format("{0:n0}").Title("Total PlusOne's").Width(70);
					      columns.Bound(c => c.YTDPlusOnesGrowth).Title("YTD PlusOne's Growth").Width(70).HeaderHtmlAttributes(new { @class = "border-right" });
				      })
			
			      .DataSource(ds => ds.Ajax()
			                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
			                          .Read(read => read.Action("EnterpriseReputationSocialGrid", "Reports", new { area = "Reports" }).Data("getAccounts")).Model(model => model.Id(a => a.AccountID))
			                          .ServerOperation(true)
				  )
			      .AutoBind(true)
			      .Sortable()
			      .Scrollable(scrollable => scrollable.Height(580))
			      .Resizable(r => r.Columns(false))
			      .Reorderable(r => r.Columns(false))
			      .Pageable(p => p.Enabled(false))
			      .Events(e => e.DataBinding("addHeader").DataBound("gridBound"))
		     
				  )
			<div class="fcl"></div>	
			<div style="margin-top: 8px; font-size: 1.2em; font-weight: bold;">Last Month Details</div>
		
			@(Html.Kendo().Grid<EnterpriseReputationSocialDetail>()
			      .Name("ReportDetail")
			      .Columns(columns =>
				      {
					      columns.Bound(c => c.AccountName).Title("Name").Locked(true).Lockable(false).Width(160).HtmlAttributes(new { @class = "account-name" }).HeaderHtmlAttributes(new { @class="account-header" });
					      columns.Bound(c => c.TotalReviews).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.PositiveReviews).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.NegativeReviews).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.Rating).Format("{0:n1}").Width(70);
					      columns.Bound(c => c.NewReview).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.Fans).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.NewFans).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.EngagedUsers).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.FanImpressions).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.TotalImpressions).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.PaidPostImpressions).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.Followers).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.SubScribers).Format("{0:n0}").Width(70);
					      columns.Bound(c => c.PlusOnes).Format("{0:n0}").Width(70);
				      })
			
			      .DataSource(ds => ds.Ajax()
			                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
			                          .Read(read => read.Action("EnterpriseReputationSocialDetailGrid", "Reports", new { area = "Reports" }).Data("getAccounts")).Model(model => model.Id(a => a.AccountID))
			                          .ServerOperation(true)
				  )
			      .AutoBind(true)
			      .Sortable()
			      .Scrollable(scrollable => scrollable.Height(580))
			      .Resizable(r => r.Columns(false))
			      .Reorderable(r => r.Columns(false))
			      .Pageable(p => p.Enabled(false))
		     
				  )
		

		</div>
	</div>

</div>
