﻿@{
	ViewBag.PageTitle = "Social Snapshot Report";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

<script>
	$(function () {
		$("#printButton").click(function () {
			var accounts = $("#Accounts").data("kendoComboBox")._selectedValue;
			var month = $("#Month").data("kendoDropDownList").value();
			var year = $("#Year").data("kendoDropDownList").value();
			var dates = kendo.format("{0}/1/{1}", month, year);

			window.open('@Url.Action("SocialSnapshotHtml", "Reports", new { area="Reports" })' + '?accountID=' + accounts + '&reportDate=' + dates + "&printHtml=True")
		})
		
		$("#viewButton").click(function () {
			ReloadReport();
		});
	});

	function getFilter(e) {
		var filter = "";
		if (e.filter && e.filter.filters && e.filter.filters.length > 0)
			filter = e.filter.filters[0].value;
		return {
			dealerFilter: filter
		};
	}
	
	function ReloadReport() {
		var accounts = $("#Accounts").data("kendoComboBox")._selectedValue;
		var month = $("#Month").data("kendoDropDownList").value();
		var year = $("#Year").data("kendoDropDownList").value();
		var dates = kendo.format("{0}/1/{1}", month, year);
		$("#Report").load('@Url.Action("SocialSnapshotHtml", "Reports", new { area="Reports" })' + '?accountID=' + accounts + '&reportDate=' + dates + "&printHtml=False", function () {
			
		});
	}
</script>

<div style="margin: 8px;">
	@(Html.Kendo().ComboBox()
	      .Name("Accounts")
	      .DataTextField("Text")
	      .DataValueField("Value")
	      .Placeholder("Select Accounts ...")
	      .AutoBind(false)
	      .MinLength(2)
	      .Filter(FilterType.StartsWith)
		  .Delay(600)
		  .HighlightFirst(true)
	      .HtmlAttributes(new { style="width:320px;" })
	      .DataSource(ds => ds.Read(read => read.Action("ReportAccounts", "Reports", new {area = "Reports"}).Data("getFilter")).ServerFiltering(true)))
	&nbsp;
	@(Html.Kendo().DropDownList()
			.Name("Month")
			.DataTextField("Text")
			.DataValueField("Value")
			.OptionLabel("Select Month...")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {Text = "January", Value = "1"},
				new SelectListItem() {Text = "Feburary", Value = "2"},
				new SelectListItem() {Text = "March", Value = "3"},
				new SelectListItem() {Text = "April", Value = "4"},
				new SelectListItem() {Text = "May", Value = "5"},
				new SelectListItem() {Text = "June", Value = "6"},
				new SelectListItem() {Text = "July", Value = "7"},
				new SelectListItem() {Text = "August", Value = "8"},
				new SelectListItem() {Text = "September", Value = "9"},
				new SelectListItem() {Text = "October", Value = "10"},
				new SelectListItem() {Text = "November", Value = "11"},
				new SelectListItem() {Text = "December", Value = "12"}
			})
						
		)
	&nbsp;	
	@(Html.Kendo().DropDownList()
			.Name("Year")
			.OptionLabel("Select Year...")
			.BindTo((List<int>)ViewBag.Years)
			
		  )
	&nbsp;
	&nbsp;
	<button id="viewButton" type="button" class="k-button">View Report</button>
	&nbsp;
	<button id="printButton" type="button" class="k-button">Print</button>
</div>


<div id="Report">
	
</div>
