﻿<style>
    body {
        margin: 0;
        overflow-x: hidden;
    }
</style>

<div>
    <div class="landingpage" style="margin: 0;">
        <div class="header" style="background-image: url('http://cdn.socialintegration.com/contentsyndication/ally/cfc-header-bg.jpg'); background-color: white;">
            <div class="logo">
                <img src="http://cdn.socialintegration.com/contentsyndication/ally/ally-cfc-header.png" alt="" />
            </div>

        </div>
    </div>


</div>

