﻿<style>
    body {
        margin: 0;
        overflow-x: hidden;
    }

    /* define this for a custom sign-up button, use background image for images*/
	.registration-page .signup-button {
		background: inherit;		
        background-image: url(http://cdn.socialintegration.com/contentsyndication/ally/connect_now.png);
        background-size: contain;
        background-repeat: no-repeat;   
        width: 200px;
        height: 50px; 
        padding-top: 10px;   
	}

    .signup-button2 {
		background: inherit;		
        background-image: url(http://cdn.socialintegration.com/contentsyndication/ally/connect_now.png);
        background-size: contain;
        background-repeat: no-repeat;   
        width: 200px;
        height: 50px; 
        padding-top: 10px; 
        margin-left: 70px;
        text-align: right;  
        cursor: pointer;
	}

    .info-boxAlly {        
        float: left;
        height: 500px;
        padding-top: 14px;
        width: 347px;
    }

    .sliderAlly {
        background-color: #F8F8FA;        
        border-radius: 5px;        
        float: right;        
        padding: 1px;
        width: 370px;
        margin-top: 15px;
    }

	.sliderAlly .ws_images>div>a {
				display: none !important;
			}
</style>
<script>
    $(function () {
        $("#Step1Button").hide();

        $("#signup2").click(function () {
            $("#Page1").fadeOut("fast", function () {
                $("#Page2").fadeIn("fast");
            });
        });
    });
</script>

<div>
    <div class="landingpage" style="margin: 0;">        
       <div class="title-bar">
            ALLY Content Syndication Signup
        </div>
        <div style="width: auto; margin: 0; text-align: center;">
            <p style="font-weight: bold; font-size: 17px">
                <b>Get Connected. Get Social.</b><br />
                <b>Enroll NOW for Ally Auto's Social Media Program.</b>
            </p>
        </div>
        <div style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 800px;">
            <div style="text-align: justify; text-justify: inter-word;">
                <p style='font-size: 15px;'>
                    As a valued Ally Auto dealer, you have been invited to enroll in a <strong>free</strong> social media program that provides you access to Ally’s 
                        <strong>engaging</strong> automotive content for your dealership’s Facebook page. Get relevant automotive information that can help drive 
                        more consumers to your Facebook, and more consumers into your showroom. Simply enroll in the program and you will start 
                        receiving emails each week that provide the Ally post. The email gives you the option to approve or deny publishing the post. If 
                        you approve it, it is automatically posted to your Facebook page. It’s that simple!
                </p>
            </div>
        </div>
        <div class="container">
            <div class="info-boxAlly">
                <div class="content">
                    <p style='font-size: 15px; text-align: justify;'>
                        <strong>TO ENROLL:</strong> Click on the ‘Connect Now’ button below.
                        You will need your Facebook business page username(s) 
                        and password(s) to complete the setup process. It only
                        takes a couple of minutes to complete.
                    </p>                    
                    <div style='font-size: 15px; text-align: justify;'>
                        <div class="content signup-button2" id="signup2" style="">                        
                        </div>
                    </div>
                    <p style='font-size: 15px; text-align: justify;'>If you have setup questions, call 866-914-1819</p>
                    <p style='font-size: 15px; text-align: justify;'>Remember, there is <strong>no cost</strong> to you. It is Ally’s way of showing you we are ‘all-in’ in serving our customers together.</p>
                </div>
            </div>

            <div class="sliderAlly">
                <div style="text-align: center; padding-bottom: 10px; padding-bottom: 10px; font-weight: bold;">
                    EXAMPLE POST
                </div>
                <div id="wowslider-container1">
                    <div class="ws_images">
                        <ul>
                            <li><img src="http://cdn.socialintegration.com/contentsyndication/ally/ally-post-002.png" alt="Example Post 1" title="Example Post 1" id="wows1_0" /></li>
                            <li><img src="http://cdn.socialintegration.com/contentsyndication/ally/ally-post-003.png" alt="Example Post 2" title="Example Post 2" id="wows2_0" /></li>
                            <li><img src="http://cdn.socialintegration.com/contentsyndication/ally/ally-post-004b.png" alt="Example Post 3" title="Example Post 3" id="wows3_0" /></li>
                            <li><img src="http://cdn.socialintegration.com/contentsyndication/ally/ally-post-07.png" alt="Example Post 4" title="Example Post 4" id="wows4_0" /></li>
                            <li><img src="http://cdn.socialintegration.com/contentsyndication/ally/ally-post-08.png" alt="Example Post 5" title="Example Post 5" id="wows5_0" /></li>  
                            <li><img src="http://cdn.socialintegration.com/contentsyndication/ally/ally-post-004b.png" alt="Example Post 6" title="Example Post 6" id="wows6_0" /></li>                          
                        </ul>
                    </div>
                    <div class="ws_shadow"></div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div class="container" style="display: none;">
            <div class="info-box" style="width: 100%; height: auto;">
                <div class="title">Get Connected. Get Social.</div>                               
            </div>
            <div class="info-box" style="width: 100%; height: auto; margin-top: 20px;">
                <div class="content">
                    <div>                        
                        <p>If you connect with Facebook, you must LOGOUT of Facebook before you start this process.</p>
                        <p>OR</p>
                        <p>You must be logged in to your personal Facebook profile that has admin rights to any Facebook Pages you wish to enroll. You CAN NOT be possessing a dealership page.</p>
                        <p>During the connection process, Facebook will prompt you about giving us permission to post on your behalf. Neither SOCIALDEALER nor the sydicator will be publishing content to your personal profile. We will only be publishing content to the pages you enroll.To enroll more than one page, please complete this process for each page.</p>
                        <p>For questions or assistance contact support at <a href='tel:8669141819'>866-914-1819</a>. You may also email <a href='mailto:support@socialdealer.com?subject=Syndication Signup'>support@socialdealer.com</a> or visit our <a href='https://socialdealer1.zendesk.com/home' target='_blank'>Online Support Site</a>.</p>
                    </div>                                        
                </div>
            </div>
        </div>
    </div>


</div>


<script>
    function ws_fly(c, a, b) {
        var d = jQuery;
        var f = { position: "absolute", left: 0, top: 0, width: "100%", height: "100%" };
        var e = d("<div>").addClass("ws_effect").css(f).css({ overflow: "visible" }).appendTo(b.parent());
        this.go = function (m, j, p) {
            var i = !!c.revers;
            if (p) {
                if (p >= 1) {
                    i = 1
                }
                if (p <= -1) {
                    i = 0
                }
            }
            var h = -(c.distance || e.width() / 4), k = Math.min(-h, Math.max(0, d(window).width() - e.offset().left - e.width())), g = (i ? k : h), n = (i ? h : k);
            var o = d(a.get(j)).clone().css(f).css({ "z-index": 1 }).appendTo(e);
            var l = d(a.get(m)).clone().css(f).css({ opacity: 0, left: g, "z-index": 3 }).appendTo(e).show();
            l.animate({ opacity: 1 }, { duration: c.duration, queue: false });
            l.animate({ left: 0 }, { duration: 2 * c.duration / 3, queue: false });
            setTimeout(function () {
                var q = b.find("ul").hide();
                o.animate({ left: n, opacity: 0 }, 2 * c.duration / 3, function () {
                    o.remove();
                    q.css({ left: -m + "00%" }).show();
                    l.remove()
                })
            }, c.duration / 3);
            return m
        }
    };

    $("#wowslider-container1").wowSlider({
        effect: "fly",
        prev: "",
        next: "",
        duration: 5 * 100,
        delay: 68 * 100,
        width: 347,
        height: 598,
        autoPlay: true,
        playPause: false,
        stopOnHover: true,
        loop: false,
        bullets: 0,
        caption: false,
        captionEffect: "slide",
        controls: true,
        onBeforeStep: 0,
        images: 0
    });

</script>