﻿<div class="landingpage" style="padding-bottom: 40px;">
    <div class="title-bar">
        AutoConverse Content Syndication Signup
	
    </div>
    <div id="Page1" class="container">
        <div class="info-box">
            <div class="title">SIGN UP FOR ACCESS TO GREAT SOCIAL MEDIA CONTENT FROM AUTOCONVERSE</div>
            <div class="content">
                <p>
                    Follow the instructions below to enroll your store with Connect4Content to receive great
                             social media content for your dealership. You will be prompted to connect your Facebook
                             page to the Social Integration platform where AutoConverse will be able to supply you with
                             content for your social networks. You will also be able to optionally connect your Twitter
                             handle (if desired).
                </p>
                <br>
                To view the type of content you can expect to receive, visit the 
                               
                <a target="_blank" href="https://www.facebook.com/AutoConverseMagazine">AutoConverse Facebook Page</a>.
                                Of course, you would only receive content associated with your brand.By enrolling your dealership you will:
                           
                <ul>
                    <li>Receive great content for your Dealership Facebook Page</li>
                    <li>Gain access to terrific Social Media tools and resources</li>
                    <li>Receive a free Reputation + Social Media assessment of your dealership</li>
                </ul>
            </div>
        </div>


        <div class="slider">
            <div style="text-align: center; padding-bottom: 10px; padding-bottom: 10px; font-weight: bold;">
                EXAMPLE POST
            </div>
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        <li>
                            <img src="http://cdn.socialintegration.com/contentsyndication/autoconverse/cas-sample-post.png" alt="Example Post 1" title="Example Post 1" id="wows1_0" /></li>
                        <li>
                            <img src="http://cdn.socialintegration.com/contentsyndication/autoconverse/cas-sample-post2.png" alt="Example Post 2" title="Example Post 2" id="wows2_0" /></li>
                        <li>
                            <img src="http://cdn.socialintegration.com/contentsyndication/autoconverse/cas-sample-post3.png" alt="Example Post 3" title="Example Post 3" id="wows3_0" /></li>
                        <li>
                            <img src="http://cdn.socialintegration.com/contentsyndication/autoconverse/cas-sample-post4.png" alt="Example Post 4" title="Example Post 4" id="wows4_0" /></li>
                        <li>
                            <img src="http://cdn.socialintegration.com/contentsyndication/autoconverse/cas-sample-post5.png" alt="Example Post 5" title="Example Post 5" id="wows5_0" /></li>
                        <li>
                            <img src="http://cdn.socialintegration.com/contentsyndication/autoconverse/cas-sample-post6.png" alt="Example Post 6" title="Example Post 6" id="wows6_0" /></li>
                    </ul>
                </div>
                <div class="ws_shadow"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>


<script>
    function ws_fly(c, a, b) {
        var d = jQuery;
        var f = { position: "absolute", left: 0, top: 0, width: "100%", height: "100%" };
        var e = d("<div>").addClass("ws_effect").css(f).css({ overflow: "visible" }).appendTo(b.parent());
        this.go = function (m, j, p) {
            var i = !!c.revers;
            if (p) {
                if (p >= 1) {
                    i = 1
                }
                if (p <= -1) {
                    i = 0
                }
            }
            var h = -(c.distance || e.width() / 4), k = Math.min(-h, Math.max(0, d(window).width() - e.offset().left - e.width())), g = (i ? k : h), n = (i ? h : k);
            var o = d(a.get(j)).clone().css(f).css({ "z-index": 1 }).appendTo(e);
            var l = d(a.get(m)).clone().css(f).css({ opacity: 0, left: g, "z-index": 3 }).appendTo(e).show();
            l.animate({ opacity: 1 }, { duration: c.duration, queue: false });
            l.animate({ left: 0 }, { duration: 2 * c.duration / 3, queue: false });
            setTimeout(function () {
                var q = b.find("ul").hide();
                o.animate({ left: n, opacity: 0 }, 2 * c.duration / 3, function () {
                    o.remove();
                    q.css({ left: -m + "00%" }).show();
                    l.remove()
                })
            }, c.duration / 3);
            return m
        }
    };

    $("#wowslider-container1").wowSlider({
        effect: "fly",
        prev: "",
        next: "",
        duration: 5 * 100,
        delay: 68 * 100,
        width: 347,
        height: 598,
        autoPlay: true,
        playPause: false,
        stopOnHover: true,
        loop: false,
        bullets: 0,
        caption: false,
        captionEffect: "slide",
        controls: true,
        onBeforeStep: 0,
        images: 0
    });

</script>