﻿<style>
    body {
        margin: 0;
        overflow-x: hidden;        
        display: block;
    }
</style>

<div>
    <div class="landingpage" style="margin: 0;">
        <div class="header" style="background-color: white;">
            <div class="logo">
                <img src="http://cdn.socialintegration.com/contentsyndication/autoconverse/logo-autoconverse-new-spaced.png" alt="" />
            </div>

        </div>
    </div>


</div>

