﻿<style>
    body {
        margin: 0;
        overflow-x: hidden;
    }
</style>

<div>
    <div class="landingpage" style="margin: 0;">
        <div style="background-image: url('http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-header-bg.jpg'); background-color: #007fb2;" class="header">
            <div class="logo">
                <img alt="" src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-header2.jpg">
            </div>

        </div>
    </div>


</div>

