﻿<style>
    body {
        margin: 0;
        overflow-x: hidden;
        background-color: #fff;        
    }

   .info-boxcarfax {        
        float: left;        
        padding-top: 14px;
        margin: 0 15px 0 0;
        width: 410px;
    }
   .registration-page .page .marketing {
    margin: 0px;
}
   .registration-page .page {
    margin: 0px;
    position: relative;
}

    h1 {
    color: #666666;
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
    padding: 0;
}

    h2 {
    color: #666666;
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    margin: 0;
    padding: 0;
}

    
.pageh3  {
    color: #666666;
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px !important;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.landingpage .container {    
     padding: 25px 65px;
     width: 900px;
}

 .sliderCARFAX {
        background-color: #fff;        
        border-radius: 5px;        
        float: right;        
        padding: 1px;
        width: 465px;
        margin-top: 15px;
    }

    .sliderCARFAX .ws_images > div > a {
        display: none !important;
    }
    #signup2 {
        cursor: pointer;
        text-decoration: none;
    }
    
    /*.landingpage .container .slider{
        width: 465px;
    }*/

</style>
<script>
    $(function () {
        $("#Step1Button").hide();
        
        $("#signup2").click(function () {
            $("#Page1").fadeOut("fast", function () {
                $("#Page2").fadeIn("fast");
            });
        });
    });
</script>

<div class="landingpage" style="padding-bottom: 0px;">
    <div class="container">
        <div class="info-boxcarfax">
           <div id="content-left">
                    <h1>
                        Let’s Get Social!</h1>
                    <br>
                    <br>
                    <h2>
                        As a CARFAX dealer you have access to FREE and ENGAGING social media content
                        for your Facebook and Twitter feeds. Our program automatically posts content that
                        gets your fans involved and lets your visitors know you are a CARFAX dealer. Prior
                        to every post, you will receive an email showing you the post and giving you the
                        chance to approve or deny the post before it gets published on your pages.<br>
                        <br>
                        Not to worry, we won’t post anything you haven’t approved. You will need your Facebook
                        and/or Twitter business page username(s) and password(s) to complete the setup process.
                        It only takes a couple minutes to complete the process. For setup questions, call
                        SOCIALDEALER Support at <strong>877-326-7624 ext #1.</strong>
                    </h2>
                    <p style="text-align: center;">
                        <br>
                        <br>
                        <br>
                        <a id="signup2">
                            <img width="200" height="39" class="button-padding" alt="Connect Now" src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-connect-now-button.jpg"></a>
                        <br>
                        <br>
                           <a target="_self" href="http://socialdealer.com/carfaxhelp/">
                            <img width="200" height="39" class="button-padding" alt="Sign Up Help Guide" src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-helpguide-button.jpg"></a>
			<br>
			<br>
                      
                        </p>
               <p style="font-size: 13px;">
                            If you have any questions about this Free program, please email me at <a href="mailto:rickbrennan@carfax.com">
                                rickbrennan@carfax.com</a>.
                            <br>
                            <br>
                            <strong>Rick Brennan</strong><br>
                            Dealer Marketing Manager/Brand Programs<br>
                            <a target="_blank" href="http://www.carfax.com">CARFAX</a>
                            <br>
                           			  

                        </p>
                    <p></p>
                                               
                    <br>
                    <div class="pageh3">
                        Privacy Policy: Your account information will be kept confidential, limited to <a target="_blank" href="http://www.socialdealer.com">SOCIALDEALER</a>, to allow
                        their platform to publish <a target="_blank" href="http://www.carfax.com">CARFAX</a>
                        content to your social sites. Your information will not be shared with any third
                        parties.</div>
                </div>
        </div>

	    <div class="sliderCARFAX">
		    
			<div id="wowslider-container1">
				<div class="ws_images">
                    <ul>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-post1.jpg" alt="Example Post 1" title="Example Post 1" id="wows1_0" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-post2.jpg" alt="Example Post 2" title="Example Post 2" id="wows2_1" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-post3.jpg" alt="Example Post 3" title="Example Post 3" id="wows3_2" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-post4.jpg" alt="Example Post 4" title="Example Post 4" id="wows4_3" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-post5.jpg" alt="Example Post 5" title="Example Post 5" id="wows5_4" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-post6.jpg" alt="Example Post 6" title="Example Post 6" id="wows6_5" /></li>
					</ul>                    
				</div>				
				<div class="ws_shadow"></div>
			
			</div>
			
	    </div>
        <div style="clear: both;"></div>
    </div>
    <div style="width: 100%; text-align: center !important; background-color: #007FB2">
        <img src="http://cdn.socialintegration.com/contentsyndication/carfax/carfax-cfc-footer2.jpg" />        
    </div>
</div>

<script>
    function ws_fly(c, a, b) {
        var d = jQuery;
        var f = { position: "absolute", left: 0, top: 0, width: "100%", height: "100%" };
        var e = d("<div>").addClass("ws_effect").css(f).css({ overflow: "visible" }).appendTo(b.parent());
        this.go = function (m, j, p) {
            var i = !!c.revers;
            if (p) {
                if (p >= 1) {
                    i = 1
                }
                if (p <= -1) {
                    i = 0
                }
            }
            var h = -(c.distance || e.width() / 4), k = Math.min(-h, Math.max(0, d(window).width() - e.offset().left - e.width())), g = (i ? k : h), n = (i ? h : k);
            var o = d(a.get(j)).clone().css(f).css({ "z-index": 1 }).appendTo(e);
            var l = d(a.get(m)).clone().css(f).css({ opacity: 0, left: g, "z-index": 3 }).appendTo(e).show();
            l.animate({ opacity: 1 }, { duration: c.duration, queue: false });
            l.animate({ left: 0 }, { duration: 2 * c.duration / 3, queue: false });
            setTimeout(function () {
                var q = b.find("ul").hide();
                o.animate({ left: n, opacity: 0 }, 2 * c.duration / 3, function () {
                    o.remove();
                    q.css({ left: -m + "00%" }).show();
                    l.remove()
                })
            }, c.duration / 3);
            return m
        }
    };

    $("#wowslider-container1").wowSlider({
        effect: "fly",
        prev: "",
        next: "",
        duration: 5 * 100,
        delay: 68 * 100,
        width: 465,
        height: 800,
        autoPlay: true,
        playPause: false,
        stopOnHover: true,
        loop: false,
        bullets: 0,
        caption: false,
        captionEffect: "slide",
        controls: true,
        onBeforeStep: 0,
        images: 0
    });

</script>