﻿<style>
	.lexus-marketing {
		height: 280px;
		width: 100%;
		background-color: #fafad2;
	}

		.lexus-marketing .content {
			width: 100%;
			height: 100%;
			text-align: center;
			vertical-align: middle;
		}

			.lexus-marketing .content h3 {
				color: #444;
			}
	/* define this for a custom sign-up button, use background image for images*/
	/*.registration-page .signup-button {
		background: inherit;
		background-color: red !important;	
	}*/
</style>

<div class="landingpage" style="margin: 0px;">
	<div id="Page1" class="container">
		<div class="info-box-ns">
			<div class="title">WELCOME TO THE LEXUS SOCIAL MEDIA PUBLISHING PROGRAM</div>
			<div class="content">
				<p>This exclusive program is designed to provide your dealership with direct access to social media content, assets and training to help promote the Lexus brand, products and customer experience as well as provide you with the needed support to enhance your social media efforts. </p>
				<p>In this program you will receive:</p>
				<ul style="color: #666666; font-family: Arial; font-size: 11pt; list-style-image: url(http://cdn.socialintegration.com/contentsyndication/lexus/bullet.png);">
					<li>Lexus branded content for your dealerships’ Facebook and Twitter business pages.</li>
					<br>
					<li>An editorial calendar with information on posting frequency.</li>
					<br>
					<li>Social media best practices for automotive dealers.</li>
					<br>
					<li>Program support and additional social training from SOCIALDEALER.</li>
					<br>
				</ul>
				<p><strong style="color: #000000">IT'S EASY TO GET STARTED: </strong>Simply click on the CONNECT NOW button below to complete the setup process.  You will need your dealership’s Facebook and Twitter business page username(s) and password(s).</p>
				<p>Once connected, you will receive an email that confirms your successful enrollment in the Lexus Dealer Social Media Publishing Program.</p>
				<p>Should you have additional questions about the program, please contact your Lexus Area Sales Support Manager.</p>
				<p><span style="color: #666666; font-family: Arial; font-size: 11pt;">For technical setup questions, call <span style="color: #666666; font-family: Arial; font-size: 11pt; font-weight: bold;">SOCIAL</span><span style="color: #fdc849; font-family: Arial; font-size: 11pt; font-weight: bold;">DEALER</span> Support at <span style="color: #666666; font-family: Arial; font-size: 11pt; font-weight: bold;"><span class="skype_c2c_print_container notranslate">877-326-7624</span><span skype_menu_props="{&quot;numberToCall&quot;:&quot;+18773267624&quot;,&quot;isFreecall&quot;:false,&quot;isMobile&quot;:false,&quot;isRtl&quot;:false}" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span_ui1"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_free_text_span_ui1"></span><span class="skype_c2c_text_span_ui1">877-326-7624</span></span></span></span> ext #1</span> </span></p>
			</div>
		</div>

		<div class="slider-ns">
			<div style="text-align: center; padding: 14px 0 5px 0;">
				<img src="http://cdn.socialintegration.com/contentsyndication/lexus/sample_post.png">
			</div>

			<div id="wowslider-container1">
				<div class="ws_images">
					<ul>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/lexus/lexus-cfc-post1.jpg" alt="Example Post 1" title="Example Post 1" id="wows1_0" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/lexus/lexus-cfc-post2.jpg" alt="Example Post 2" title="Example Post 2" id="wows2_0" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/lexus/lexus-cfc-post3.jpg" alt="Example Post 3" title="Example Post 3" id="wows3_0" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/lexus/lexus-cfc-post4.jpg" alt="Example Post 4" title="Example Post 4" id="wows4_0" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/lexus/lexus-cfc-post5.jpg" alt="Example Post 5" title="Example Post 5" id="wows5_0" /></li>
						<li>
							<img src="http://cdn.socialintegration.com/contentsyndication/lexus/lexus-cfc-post6.jpg" alt="Example Post 6" title="Example Post 6" id="wows6_0" /></li>
					</ul>
				</div>
				<div class="ws_shadow"></div>
			</div>

		</div>
		<div style="clear: both;"></div>
		@*<div style="width: 100%; margin: 18px 18px 72px 18px;">
			<button style="margin: 0 auto; display: block;" class="button" id="Step1Button">Connect Now</button>
		</div>*@
	</div>
</div>


<script>
	function ws_fly(c, a, b) {
		var d = jQuery;
		var f = { position: "absolute", left: 0, top: 0, width: "100%", height: "100%" };
		var e = d("<div>").addClass("ws_effect").css(f).css({ overflow: "visible" }).appendTo(b.parent());
		this.go = function (m, j, p) {
			var i = !!c.revers;
			if (p) {
				if (p >= 1) {
					i = 1
				}
				if (p <= -1) {
					i = 0
				}
			}
			var h = -(c.distance || e.width() / 4), k = Math.min(-h, Math.max(0, d(window).width() - e.offset().left - e.width())), g = (i ? k : h), n = (i ? h : k);
			var o = d(a.get(j)).clone().css(f).css({ "z-index": 1 }).appendTo(e);
			var l = d(a.get(m)).clone().css(f).css({ opacity: 0, left: g, "z-index": 3 }).appendTo(e).show();
			l.animate({ opacity: 1 }, { duration: c.duration, queue: false });
			l.animate({ left: 0 }, { duration: 2 * c.duration / 3, queue: false });
			setTimeout(function () {
				var q = b.find("ul").hide();
				o.animate({ left: n, opacity: 0 }, 2 * c.duration / 3, function () {
					o.remove();
					q.css({ left: -m + "00%" }).show();
					l.remove()
				})
			}, c.duration / 3);
			return m
		}
	};

	$("#wowslider-container1").wowSlider({
		effect: "fly",
		prev: "",
		next: "",
		duration: 5 * 100,
		delay: 68 * 100,
		width: 347,
		height: 598,
		autoPlay: true,
		playPause: false,
		stopOnHover: true,
		loop: false,
		bullets: 0,
		caption: false,
		captionEffect: "slide",
		controls: true,
		onBeforeStep: 0,
		images: 0
	});

</script>