﻿@using SI.WEB
@using SI.WEB.Portal.Models
@model SI.WEB.Portal.Models.LoginModel

@{
	Layout = null;
	BaseModel baseModel = ViewBag.BaseModel as BaseModel;
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="msapplication-config" content="none"/>

		<link rel="stylesheet" href="/assets/style/bootstrap.css" />
		<link rel="stylesheet" href="@(baseModel.CSSUrl)" />
		
		<script src="~/assets/script/kendo/jquery.min.js"></script>
		<script src="~/assets/script/jquery.validate.min.js"></script>
		<script src="~/assets/script/jquery.validate.unobtrusive.min.js"></script>

		<title>Reputation & Social Management - Login</title>
	
		<script>
			$(function () {
			    $("#loginButton").click(function() {
			        $("#loginPopup").slideToggle("fast");
			    });

			    $("#SubmitButton").click(function() {
			        $(".validation-summary-errors").html("");
			    });

				if ($(".validation-summary-errors").length > 0) {
					$("#loginPopup").show();
				}

				$("#ForgotLink").click(function () {
					$("#ForgotInstructions").hide();
					
					if ($("#UserName").valid() == true) {
						$("#LoadingIcon").show();
						var url = '@Url.Action("SendResetPasswordEmail", "Account")';
						var addData = { __RequestVerificationToken: $('form input[name=__RequestVerificationToken]').val(), userName: $("#UserName").val() };
						$.post(url, addData, function (data) {
							$("#LoadingIcon").hide();
							if (data.success) {
								$("#ForgotInstructions").html("Instructions to reset your password have been sent to your email address.").show();
							} else {
								$("#ForgotInstructions").html("Could not send the Reset Password email to your email address.").show();
							}
						});
					}
				});
			});
		</script>
	</head>
	<body class="login-body">

	
		<div class="si-header">
			<div class="si-hbar">
				<div class="si-ctr"></div>
			</div>
			<div class="si-ctr">
				<div class="si-hleft">
					@*<div class="logo"></div>*@
				</div>
				<div>
					<a id="loginButton" class="button-login" href="#">Login <span class="k-icon k-i-arrow-s"></span></a>
				</div>
				<div id="loginPopup" class="login-pop" style="display: none;">
					<div class="form">
						@using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl}))
						{
							@Html.AntiForgeryToken()
							@Html.ValidationSummary(true)

							<ol>
								<li>
									@Html.LabelFor(m => m.UserName, new { style="width:90px;"})
									@Html.TextBoxFor(m => m.UserName, new {tabindex = "1"})
									@Html.ValidationMessageFor(m => m.UserName)
								</li>
								<li>
									@Html.LabelFor(m => m.Password, new { style="width:90px;"})
									@Html.PasswordFor(m => m.Password, new {tabindex = "2"})
									@Html.ValidationMessageFor(m => m.Password)
								</li>
								<li>
									@Html.CheckBoxForWithLabel(m => m.RememberMe, "Keep me logged in")
								</li>
								<li>
									<button id="SubmitButton" class="k-button" type="submit" tabindex="3" style="font-weight: bold;padding: 4px 8px 4px 2px;"><span class="k-icon k-i-expand"></span> Log In</button>	
								</li>
								<li>&nbsp;</li>
								<li>
									<a id="ForgotLink" href="#">
										Forgot your Password? 
										<span id="LoadingIcon" style="padding-left: 5px; display: none;">
											<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
										</span>
									</a>
								</li>
								<li>
									<div id="ForgotInstructions" style="display: none;">
										
									</div>
								</li>
							</ol>
						}
					</div>
				</div>
			</div>
		</div>

		@*<div class="login-container">
			<p>
				<strong>Social Integration (SI)</strong> is an enterprise-level software-as-a-service (SaaS) platform meant for monitoring online reviews and managing select social media sites for a brand or collection of brands. The system is especially designed for people and organizations assisting brick and mortar businesses in these areas. SI can be white-labeled to provide a more personalized customer experience for enterprises and agencies. It also features a content syndication model that allows brands to seamlessly deliver a consistent message across a myriad of relevant merchant social properties.
			</p>
		</div>
		*@
		
	</body>
</html>
