﻿<tr>
    <td style="width: 2%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px;">[$ID$]</div>
    </td>
    <td style="width: 18%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px;">[$Name$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$Total Reviews$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: [$YTD Growth Color$]; padding: 0px 0px 0px 0px; text-align:center;">[$YTD Growth$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD % Growth$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666; background-color: [$% Positive Color$];">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$% Positive$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$Rating$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: [$Rating Chg Color$]; padding: 0px 0px 0px 5px; text-align:right;">[$Rating Chg$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$Total Fans$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD Fan Growth$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD % Growth$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD Engaged Users$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD Fan Impressions$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD Total Impressions$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD Paid Post Impressions$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$Total Followers$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD Followers Growth$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD Growth % Twitter$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$Total Subscribers$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 0px; text-align:right;">[$YTD Subscribers Growth$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$Total PlusOne's$]</div>
    </td>
    <td style="width: 4%; border: 1px solid #666666;">
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px; text-align:right;">[$YTD PlusOne's Growth$]</div>
    </td>
</tr>