﻿<tr>
    <td style="width: 3%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">[$ID$]</div>
    </td>    
    <td style="width: 27%;border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 0px 0px 5px">[$AccountName$]</div>
    </td>                                                        
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$TotalReviews$]</div>
    </td>    
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$PositiveReviews$]</div>
    </td>    
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$NegativeReviews$]</div>
    </td>    
        <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$Rating$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$NewReview$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$Fans$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$NewFans$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$EngagedUsers$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$FanImpressions$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$TotalImpressions$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$PaidPostImpressions$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$Followers$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$Subscribers$]</div>
    </td> 
    <td style="width: 5%; border: 1px solid #666666;"> 
        <div style="font-family: Calibri; font-size: 15px; font-weight: normal; color: #000000; padding: 0px 5px 0px 0px; text-align: right;">[$PlusOnes$]</div>
    </td> 
</tr>   