﻿@{
    ViewBag.Title = "Post Approval";
    Layout = "~/Views/Shared/_layoutMobile.cshtml";
}

@section HeadContent
{
	<style>
  
		.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
		
	</style>
 	
}

<div data-role="view" data-title="Post Approval" id="approvalView" data-show="filterApprovals" data-layout="drawer-layout" class="post-details" data-zoom="false">
	<ul data-role="listview" data-source="dsDetails" data-auto-bind="false" data-template="detailsTemplate"></ul>
	
	<a id="editButton" href="#EditPost" data-role="button" data-icon="compose" class="edit-button">Edit</a>	
	<a id="autoApproveButton" data-click="autoApproveClick" data-role="button" data-icon="action" class="autoapprove-button">
		Auto Approve
		<div class="small-text">Approve all future posts</div>
	</a>
	<div style="width: 100%; text-align: center;">
		<a id="approveButton" data-click="approveClick" data-role="button" data-icon="action" class="approve-button">Approve</a>
		<a id="denyButton" data-click="denyClick" data-role="button" data-icon="reply" class="deny-button">Deny</a>
	</div>
	<div class="copyright">Copyright &#169;2014 SOCIALDEALER Inc.</div>
</div>
	
<script type="text/x-kendo-template" id="detailsTemplate">
	<div class='title'>A new message from <span class='syndicator'>#=SyndicatorName#</span> needs your approval.</div>
	<div class='date-header'>
		<div class='icon'><span class='km-icon calendar'></span></div> 
		<div class-'icon'>
			<span class='small'>Scheduled for:</span><br/>
			<span class='date'>#=kendo.toString(kendo.parseDate(AlertDateLocal), "dddd MMMM d at h:mm tt")#</span>
		</div>
	</div>
	<div class="message">#: Description #</div>
	<div class="details">  
	#if (ImageUrl != '') {#
		<img src='/ImageSizer?image=#=ImageUrl#&w=480' style='max-width: 100%;' class='loading-image'/>
	#} else {#
		<div class='link'>
			<img src='#=LinkImageUrl#' style='max-width: 150px;'/>
			<div>
				<div class='link-title'>#=LinkTitle#</div>
				<a href='#=Link#' target='_blank'>Post Link</a>
			</div>
			<div class='desc'>#=LinkDescription#</div>
		</div>
	#}#
	</div>
</script>

<div data-role="drawer" id="approvalsDrawer" class="approvals-list" data-views="['approvalView', 'NoData', 'EditPost']">
	<ul data-role="listview" data-type="group" data-source="dsApprovals" data-template="approvalsTemplate"></ul>
</div>

<script id="approvalsTemplate" type="text/x-kendo-template">
	<div class='list-item'>
		<a href="\#approvalView?pti=#:PostTargetID#&id=#:ID#" data-target="drawer-layout">
			<span class='#=NetworkName#-icon n-icon' title='#=NetworkName#'/>
			<span class='location'>#=LocationName#</span>
			<div class='screen-name'>
				<span>#=kendo.toString(kendo.parseDate(AlertDateLocal), "M/d/yy")# - </span>
				<span>#=ScreenName#</span>
			</div>
		</a>
	</div>
</script>
    

<div data-role="layout" data-id="drawer-layout">
    <header data-role="header">
        <div data-role="navbar">
            <a id="drawerAllLink" data-role="button" data-rel="drawer" href="#approvalsDrawer" data-icon="drawer-button" data-align="left">All</a>
            <span data-role="view-title"></span>
             <a data-align="right" data-role="button" class="nav-button" href="#approvalView?home">Home</a>
        </div>
    </header>
</div>

<div data-role="view" id="NoData" data-title="No Pending Approvals"  data-layout="drawer-layout" >
	<div style="background-color: lightgray; color: black; width: 100%; height: 480px;padding-top: 20px;">
		<p>There are no more posts that require your approval. Thank you!</p>
	</div>
</div>	
	

<div data-role="view" id="EditPost" data-title="Publish Options" data-init="initForm" data-show="showForm"  data-layout="drawer-layout" >
	<ul data-role="listview" data-style="inset">
		<li id="dateSection">
			<label>Schedule Date:
				<input id="ScheduleDate" type="date" value="" data-isDirty="false" />
			</label>
		</li>
		<li id="timeSection">
			<label>Schedule Time:
				<input id="ScheduleTime" type="time" value="" data-isDirty="false" />
			</label>
		</li>
		<li id="messageSection">
			<label>Message:
				<textarea id="Message" rows="5" style="resize: none; width: 70%;" data-isDirty="false" ></textarea>
			</label>
		</li>
		<li>
			<div id="errors" class="validation-summary-errors"></div>
		</li>
	</ul>
	
</div>

<script>
	var selectedPTI = '';
	var setFirstItem = false;
	var dsDetails = new kendo.data.DataSource();
	var dsApprovals = new kendo.data.DataSource({
		transport: { read: { url: '@Url.Action("ApprovalsList", "Mobile", new { area = "Mobile" })', dataType: "json" } },
		change: function(e) {
			dsDetails.data(this.data());
		},
		requestStart: function(e) {
			if (kendoAppInit) kendoApp.showLoading();
		},
		requestEnd: function(e) {
			if (kendoAppInit) kendoApp.hideLoading();
			$("#drawerAllLink").html("All (" + e.response.length + ")");
			if (e.response.length > 0) {
				if (setFirstItem) {
					selectedID = e.response[0].ID;
					dsDetails.filter({
						field: "ID",
						operator: "eq",
						value: selectedID
					});
					setFirstItem = false;
				}
			} else {
				kendoApp.navigate("#NoData");
			}
		}
	});

	function filterApprovals(e) {
		debugger
		if (e.view.params.pti == null)
			e.view.params.pti = '@ViewBag.PostTargetID';
		if (e.view.params.home != null) {
			e.view.params.pti = selectedPTI;
		}
		selectedPTI = e.view.params.pti;
		selectedID = e.view.params.id;
		
		dsDetails.filter({
			field: "PostTargetID",
			operator: "eq",
			value: parseInt(e.view.params.pti)
		});

		var dataItem = dsDetails.view()[0];
		if (dataItem != null && dataItem.AllowChanges)
			$("#editButton").show();
		else if (dataItem != null){
			$("#editButton").hide();
		}

	}
	
	function approveClick() {
		this.enable(false);
		SendAction(selectedID, "approve");
	}
	
	function denyClick() {
		this.enable(false);
		SendAction(selectedID, "reject");
	}
	
	function autoApproveClick() {
		this.enable(false);
		ApproveAll("auto-approve");
	}

	function SendAction(id, type) {
		var url = '@Url.Action("PostApprovalAction", "Dashboard", new { area = "Dashboard" })';
		var addData = { postApprovalID: id, action: type };
		kendoApp.showLoading();
		$.post(url, addData, function (data) {
			kendoApp.hideLoading();
			if (data.success) {
				setFirstItem = true;
				$("#approveButton").data("kendoMobileButton").enable(true);
				$("#denyButton").data("kendoMobileButton").enable(true);
				dsApprovals.read();
			}
		});
	}
	
	function ApproveAll(action) {
		var data = dsApprovals.data();
		var ids = [];
		for (var idx = 0; idx < data.length; idx++) {
			ids.push(data[idx].ID);
		}

		var url = '@Url.Action("PostApprovalActionAll", "Dashboard", new { area = "Dashboard"})';
		var addData = { postApprovalIDS: ids.join(), action: action };
		kendoApp.showLoading();
		$.post(url, addData, function (data) {
			kendoApp.hideLoading();
			if (data.success) {
				setFirstItem = true;
				$("#autoApproveButton").data("kendoMobileButton").enable(true);
				dsApprovals.read();
			}
		});
	}
	
	function initForm() {
		$("#ScheduleDate").focusout(SavePost).change(function() {
			$(this).data("isDirty", true);
		});
		$("#ScheduleTime").focusout(SavePost).change(function () {
			$(this).data("isDirty", true);
		});
		$("#Message").focusout(SavePost).change(function () {
			$(this).data("isDirty", true);
		});
	}
	
	function showForm() {
		var dataItem = dsDetails.view()[0];

		if (dataItem.AllowScheduleDateChange) {
			$("#dateSection").show();
			$("#timeSection").show();
		} else {
			$("#dateSection").hide();
			$("#timeSection").hide();
		}
		if (dataItem.AllowMessageChange) {
			$("#messageSection").show();
		} else {
			$("#messageSection").hide();
		}
			
		$("#Message").val(dataItem.Description);
		
		var schDate = kendo.parseDate(dataItem.AlertDateLocal);
		$("#ScheduleDate").val(kendo.toString(schDate, "yyyy-MM-dd"));
		$("#ScheduleTime").val(kendo.toString(schDate, "HH:mm"))
	}
	
	function SavePost() {
		var isDirty = false;
		var dataItem = dsDetails.view()[0];
		if (dataItem.AllowMessageChange) {
			dataItem.Description = $("#Message").val();
			if ($("#Message").data("isDirty") == true)
				isDirty = true;
			$("#Message").data("isDirty", false);
		}

		if (dataItem.AllowScheduleDateChange) {
			dataItem.AlertDateLocal = kendo.parseDate($("#ScheduleDate").val() + " " + $("#ScheduleTime").val());
			if ($("#ScheduleDate").data("isDirty") == true || $("#ScheduleTime").data("isDirty") == true)
				isDirty = true;
			$("#ScheduleDate").data("isDirty", false);
			$("#ScheduleTime").data("isDirty", false);
		}

		if (isDirty) {
			var url = '@Url.Action("PostSave", "Mobile", new { area = "Mobile" })';
			var addData = { postTargetID: dataItem.PostTargetID, postID: dataItem.PostID, accountID: dataItem.TargetAccountID, message: dataItem.Description, scheduleDate: kendo.toString(dataItem.AlertDateLocal, "MM-dd-yyyy HH:mm") };
			$.post(url, addData, function(data) {
				if (data.success == false) {
					$("#errors").html(data.message);
				}
			});
		}
	}
</script>

