﻿<div style="align: center;">
    <table style="width: 650px" id="maintable">
        <tr>
            <td>
                %LEFTITEM%
            </td>
            <td>
                %RIGHTITEM%
            </td>
        </tr>
    </table>
</div>
