﻿<div bgcolor="#eeeeee" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: gray; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0; text-align: left;">
    <div style="background: #eee; margin: 0; padding: 0;">
        <table class="head-wrap" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
                <td class="header container" align="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin-left: 10px; padding: 0;">


                    <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 840px; display: block; margin-left: 10px; padding: 15px;">
                        <table bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
                            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                    <img src="[$ResellerLogo$]" class="socLogo" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;"></td>
                            </tr>
                        </table>
                    </div>

                </td>
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            </tr>
        </table>
        <table class="head-wrap" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9&gt;&#10;&#9;&#9;&lt;td height=">
                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9 class=" header="" container="" align="">


                    <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 840px; display: block; margin-left: 0px;">
                        <table bgcolor="#eeeeee" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;" height="9" border="0" cellspacing="0" cellpadding="0">
                            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9">
                                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" height="9">
                                    <img src="http://cdn.socialintegration.com/contentsyndication/sd/ribbonTop.png" style="vertical-align: bottom; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin-left: 25px; height: 9px;"></td>
                            </tr>
                        </table>
                    </div>

                </td>
                <td height="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" class="body-wrap" bgcolor="" style="width: 100%; margin: 0; padding: 0;">
            <tbody style="margin: 0; padding: 0;">
                <tr style="margin: 0; padding: 0;">
                    <td class="container" bgcolor="#FFFFFF" style="display: block !important; width: 840px !important; clear: both !important; margin-left: 10px; padding: 0;">
                        <div class="content" style="width: 100%; display: block; margin-left: 10px; padding: 0 15px 15px;">
                            <table border="0" cellspacing="0" cellpadding="0" style="width: 99%; margin: 0; padding: 0px 0px 0px 0px;">
                                <tbody style="margin: 0; padding: 0;">
                                    <tr style="margin: 0; padding: 0;">
                                        <td style="margin: 0; padding: 0;">
                                            <img class="ribbonBottom" src="http://cdn.socialintegration.com/contentsyndication/sd/ribbonBottom.png" align="left" style="max-width: 100%; margin: 0; padding: 0 25px 0 0; padding-right: 25px;">
                                            <h1 style="font-size: 28px; font-weight: normal; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #333; margin: 0 0 15px; padding: 15px 0 0; margin-bottom: 15px;">Social Snapshot</h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="width: 100%; padding: 0px 0px 0px 20px;">
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr style="background-color: #efefef; font-weight: bold; font-size: 20px; border: 1px solid #000; text-align: left;">
                                    <td colspan="7" style="width: 100%;">Social Snapshot ([$AccountName$])</td>
                                </tr>
                                <tr style="background-color: white; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">
                                    <td style="width: 15%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Month: </td>
                                    <td style="width: 85%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="6">[$Month$] - [$Year$]</td>
                                </tr>
                                <tr style="background-color: white; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">
                                    <td style="width: 20%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">Audience: </td>
                                    <td style="width: 40%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="3">[$TotalAudiences$]</td>
                                    <td style="width: 20%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left;">New Audience: </td>
                                    <td style="width: 45%; font-weight: bold; font-size: 18px; border: 1px solid #000; text-align: left; padding-left: 10px;" colspan="2">[$NewAudience$]</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">&nbsp;</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month6$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month5$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month4$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month3$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month2$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Total Audience:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">New Audience:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewAudience_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewAudience_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewAudience_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewAudience_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewAudience_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewAudience_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;" colspan="7">&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Facebook:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Faebook_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Faebook_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Faebook_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Faebook_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Faebook_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Faebook_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Twitter:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Twitter_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Twitter_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Twitter_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Twitter_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Twitter_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Twitter_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Google+:</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Google_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Google_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Google_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Google_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Google_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$TotalAudience_Google_Month1$]</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">Facebook Post Stats</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month6$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month5$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month4$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month3$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month2$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Post</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Post_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Post_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Post_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Post_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Post_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Post_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">New Likes</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewLikes_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewLikes_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewLikes_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewLikes_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewLikes_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$NewLikes_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Comments</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Comments_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Comments_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Comments_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Comments_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Comments_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Comments_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Clicks</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Clicks_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Clicks_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Clicks_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Clicks_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Clicks_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Clicks_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Shares</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Shares_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Shares_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Shares_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Shares_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Shares_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Shares_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Organic Impressions</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$OrganicImpressions_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$OrganicImpressions_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$OrganicImpressions_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$OrganicImpressions_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$OrganicImpressions_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$OrganicImpressions_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Paid Impressions</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PaidImpressions_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PaidImpressions_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PaidImpressions_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PaidImpressions_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PaidImpressions_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$PaidImpressions_Month1$]</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">Twitter Post Stats</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month6$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month5$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month4$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month3$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month2$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Tweets</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Tweets_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Tweets_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Tweets_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Tweets_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Tweets_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Tweets_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Re-Tweets</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Re-Tweets_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Re-Tweets_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Re-Tweets_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Re-Tweets_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Re-Tweets_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Re-Tweets_Month1$]</td>
                                </tr>
                            </table>
                            <br />
                            <table width="800px" style="border-collapse: collapse; border: 1px solid #808080; fon; font-family: Calibri; color: black;">
                                <tr>
                                    <td style="width: 22%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: left;">Google+ Post Stats</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month6$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month5$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month4$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month3$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month2$]</td>
                                    <td style="width: 13%; font-weight: bold; font-size: 16px; border: 1px solid #666666; text-align: center; background-color: #efefef; padding-left: 5px;">[$Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Posts</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Posts_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Posts_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Posts_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Posts_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Posts_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Posts_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Comments</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Comments_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Comments_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Comments_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Comments_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Comments_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+Comments_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">Plus Ones</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+PlusOnes_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+PlusOnes_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+PlusOnes_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+PlusOnes_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+PlusOnes_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+PlusOnes_Month1$]</td>
                                </tr>
                                <tr>
                                    <td style="width: 22%; font-weight: normal; font-size: 16px; border: 1px solid #666666; text-align: left;">ReShares</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+ReShares_Month6$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+ReShares_Month5$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+ReShares_Month4$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+ReShares_Month3$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+ReShares_Month2$]</td>
                                    <td style="width: 13%; font-weight: normal; font-size: 15px; border: 1px solid #666666; text-align: left; padding-left: 5px;">[$Google+ReShares_Month1$]</td>
                                </tr>
                            </table>
                            <br />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
