﻿@model SI.WEB.Portal.Models.DialogModel

@using SI.WEB.Portal.Models
@using SI.WEB

@{
    //***************************************************************
    // Set the basic dialog properties here
    //***************************************************************    
    Model.Width = 300;
    Model.Resizable = false;
    Model.Modal = true;
    
}

<div ng-controller="SIJobTypeController">
    <div style="float: left; font-size: 20px; margin: 5px; margin-left:12px;">
        <div>
            Batch Size:
            <input type="text" ng-model="entity.BatchSize" style="width: 30px; text-align: center;position:relative;top:4px;" />
        </div>
        <div>
            Load Rating:
            <input type="text" ng-model="entity.LoadRating" style="width: 30px; text-align: center;position:relative;top:4px;" />
        </div>
    </div>
    <div class="fcl"></div>

    <div class="si-dlg-buttons">
        <button ng-click="save()" class="btn btn-success">Save</button>
    </div>

</div>












