﻿<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
    <table border="0" cellspacing="0" cellpadding="0" bgcolor="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;width: 100%;margin: 0;padding: 0;">
        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;margin: 0;padding: 0;">
            <td class="small" width="20%" style="vertical-align: top;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #333231;font-size: 12px;text-align: center;margin: 0;padding: 0 10px 0 0;" align="center" valign="top">
                <img src="[$ReviewSourceImagePath$]" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;max-width: 100%;margin: 0;padding: 0;">
                <br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;margin: 0;padding: 0;"><strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;line-height: 24px;margin: 0;padding: 0;">[$ReviewRating$] out of 5</strong><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;margin: 0;padding: 0;">[$ReviewDate$]<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;margin: 0;padding: 0;">[$ReviewerName$]</td>
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;margin: 0;padding: 0;">
                <h4 class="negHeader" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;line-height: 1.1;color: #ccc;font-size: 28px;font-weight: normal;margin: 0 0 15px;padding: 0;margin-bottom: 15px;">[$ReviewgPolarity$] Review</h4>
                <p class="" style="color: #888;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;font-weight: normal;font-size: 16px;line-height: 1.6;margin: 0 0 10px;padding: 0;margin-bottom: 10px;">[$ReviewText$]</p>
			</td>
        </tr>
    </table>
</div>