﻿<table style="padding: 0px 15px 0px 15px; width: 96%; " border="0" >
    <tbody>
        <tr>
            <td style="max-width: 50px !important;clear: both !important;margin: 0 auto;padding: 0;">
                <img src="[$SocialNetworkIcon$]" alt="Network Icon" style="vertical-align:text-top;"/>
            </td>
            <td style="display: block !important; width: 100% !important;clear: both !important;margin: 0 auto;padding: 0;">
                <div>
                    <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: bold;float: left;"><a href="[$SocialNetworkPostURL$]">[$PostDescription$]</a></div>
                    <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: bold;float: left;">[$PostCreatedDate$]</div>
                    <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: bold;float: left;"><a href="[$PictureURLOrLinkURL$]"><img src="[$PictureIconOrLinkIcon$]" height="12px" width="12px"/></a></div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 50px !important;clear: both !important;margin: 0 auto;padding: 0;">&nbsp;</td>
            <td style="display: block !important;max-width: 100% !important;clear: both !important;margin: 0 auto;padding: 0;">
                <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: bold; color: black;float: left;">Likes:</div>
                <div style="font-size: 12px; padding: 0px 0px 0px 15px; float: left;">[$LikesCount$]</div>
                <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: bold; color: black;float: left;">Comments:</div>
                <div style="font-size: 12px; padding: 0px 0px 0px 15px; float: left;">[$CommentCount$]</div>
                <div style="font-size: 12px; padding: 0px 0px 0px 15px; font-weight: bold; color: black;float: left;">Shares:</div>
                <div style="font-size: 12px; padding: 0px 0px 0px 15px; float: left;">[$SharesCount$]</div>
            </td>
        </tr>
        [$CommentRepeatingBlock$]        
    </tbody>
</table>