.copyright {
  width: 100%;
  margin-top: 16px;
  padding: 2px 0 0 0;
  background-color: #eee;
  text-align: center;
  display: block;
  color: #888;
}
.validation-summary-errors {
  color: #b00;
  font-weight: bold;
}
.approvals-list {
  width: 270px;
  font-size: .8em;
  background-color: #EEE;
}
.approvals-list .drawer-header {
  width: 100%;
  text-align: center;
  background-color: #4e4e4e;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  background-clip: border-box;
}
.approvals-list .list-item:hover {
  background-color: #eee;
}
.approvals-list .list-item a {
  text-decoration: none;
}
.approvals-list .list-item .location {
  color: #369;
  font-weight: bold;
  vertical-align: top;
}
.approvals-list .list-item .screen-name {
  margin-left: 22px;
  color: #4e4e4e;
  font-size: .9em;
  vertical-align: top;
}
.post-details .calendar {
  color: #ffc000;
  font-size: 40px;
}
.post-details .calendar:after {
  content: "\E089";
}
.post-details .title {
  font-size: 1.2em;
}
.post-details .title .syndicator {
  color: #ffc000;
  font-style: italic;
}
.post-details .date-header {
  margin: 6px 0 6px 18px;
}
.post-details .date-header .icon {
  float: left;
}
.post-details .date-header .small {
  font-size: 0.7em;
  color: #888;
  font-weight: normal;
}
.post-details .date-header .date {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}
.post-details .message {
  padding: 6px 0;
  margin: 3px 0;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: #333;
}
.post-details .details {
  font-size: 12px;
}
.post-details .details img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.post-details .details .link {
  margin: 8px;
}
.post-details .details .link img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.post-details .details .link a {
  color: #555;
}
.post-details .details .link .link-title {
  font-weight: bold;
  color: #3b5998;
}
.post-details .details .link .desc {
  margin-top: 6px;
  color: #555;
  clear: both;
}
.post-details .edit-button {
  display: block;
  margin: 0 5px;
  text-align: center;
  background-color: #5a5abe;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}
.post-details .autoapprove-button {
  display: block;
  margin: 5px;
  text-align: center;
  background-color: #ffc000;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}
.post-details .autoapprove-button .small-text {
  font-size: 0.7em;
  color: #777;
  font-weight: normal;
}
.post-details .approve-button {
  text-align: center;
  width: 47%;
  background-color: #78c64f;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}
.post-details .deny-button {
  text-align: center;
  width: 47%;
  background-color: #ba5949;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}
.n-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.facebook-icon {
  background: url("images/ico-facebook.png") no-repeat scroll 0 0;
}
.google-icon {
  background: url("images/ico-google.png") no-repeat scroll 0 0;
}
.twitter-icon {
  background: url("images/ico-twitter.png") no-repeat scroll 0 0;
}
.blogger-icon {
  background: url("images/ico-blogger.png") no-repeat scroll 0 0;
}
.youtube-icon {
  background: url("images/ico-youtube.png") no-repeat scroll 0 0;
}
.loading-image {
  background: url(images/loading_2x.gif) no-repeat center center;
  min-height: 32px;
  min-width: 32px;
}

