﻿@using SI.Services.SupportCenter.Models
@model PlatformMessageConfig

<script id="fieldsTemplate" type="text/x-kendo-template">
	<div style='margin-bottom: 3px;'>
		#if (type != "html"){#
			<label data-bind="attr: { for: name}, text: name + ':'"></label>
			<input data-bind="attr: { type: type, name: name, placeholder: name, value: value }" style='width:220px;' class='k-textbox k-input'/>		
		#} else {#
			<textarea id='#=name#' name='#=name#' data-role="editor"
                      data-tools="['bold',
                                   'italic',
                                   'underline',
                                   'strikethrough',
                                   'justifyLeft',
                                   'justifyCenter',
                                   'justifyRight',
                                   'justifyFull',
									'insertUnorderedList',
									'insertOrderedList',	
									'indent',
									'outdent',
									'createLink',
									'formatting',
									'fontName',
									'fontSize',
									'foreColor',
									'backColor',
									'viewHtml']"
                      data-bind="value: htmlValue"
                      style="width: 565px;"></textarea>
		#}#
	</div>
</script>

<script>
	
	var SCMessages = {
		justSaved: false,
		lastSavedID: 0,
		
		Save: function() {
			var fields = [];
			$("#dynamic-ui input").each(function () {
				var me = $(this);
				if (me.attr("name")) {
					var item = {
						name: me.attr("name"),
						type: "text",
						value: me.val()
					};
					fields.push(item);
				}
			});
			$("#dynamic-ui textarea").each(function () {
				var me = $(this);
				var item = {
					name: me.attr("name"),
					type: "html",
					htmlValue: me.val()
				};
				fields.push(item);
			});
			
			//console.log(fields)

			$("#ParameterDefinitions").val('{"fields": ' + JSON.stringify(fields) + '}')
			$("#formMessages").submit();
		},

		messagesBound: function(e) {
			setTimeout(function() {
				var grid = $("#MessagesGrid").data("kendoGrid");

				var row;
				if (SCMessages.lastSavedID == 0) {
					row = e.sender.tbody.find('tr:first');
				} else {
					var data = grid.dataSource.data();
					for (var idx = 0; idx < data.length; idx++) {
						var item = data[idx];
						if (item.ID == SCMessages.lastSavedID) {
							row = e.sender.tbody.find("tr[data-uid='" + item.uid + "']");
							break;
						}
					}
				}
				if (row) {
					grid.select(row);
					row.trigger('click');
				}
			}, 100);
		},

		messagesEdit: function(e) {
			var data = this.dataItem(this.select());
			SCMessages.lastSavedID = data.ID;
			$("#ID").val(data.ID);
			$("#Name").val(data.Name);

			//console.log(data);

			var uidefine = $.parseJSON(data.ParameterDefinitions);
			var viewModel = kendo.observable(uidefine);
			kendo.bind($("#dynamic-ui"), viewModel);

			$("#ActiveStart").data("kendoDatePicker").value(data.ActiveStart);
			$("#ActiveEnd").data("kendoDatePicker").value(data.ActiveEnd);
			$("#RequiresAcknowledgment").prop("checked", data.RequiresAcknowledgment);
			$("#WhoCanAcknowlege").data("kendoDropDownList").value(data.WhoCanAcknowlege);
		},
		
		submitCount: 0,
		BeginSubmitMessages: function() {
			if (SCMessages.submitCount > 0) return false;
			SCMessages.submitCount++;
			
			EditSaved = true;
		},
		
		MessageInfoSave: function (response) {
			$("#resultsMessage").html(response.message);
			$("#MessagesGrid").data("kendoGrid").dataSource.read();
			SCMessages.submitCount = 0;
			SCMessages.justSaved = true;
		}
	};

	$(function () {
		$("#PreviewMessage").click(function () {
			var url = '@Url.Action("GetTemplate", "SupportCenter", new { area = "SupportCenter"})?templateID=1';
			var window = $("#PreviewWindow").kendoWindow({
					title: "Message Preview",
					content: url,
					modal: true,
					width: 580,
					minWidth: 580,
					height: 380,
					minHeight: 380,
					actions: ["Maximize", "Close"]
				});
			
			var kendoWindow = window.data("kendoWindow");
			kendoWindow.center();
			kendoWindow.open();
		});

		$("#SaveMessage").click(SCMessages.Save);

	});

</script>

<div class="platform-message">
	
	<div class="button-bar">
		<h3>Platform Messages</h3>
	</div>
	<div class="messages-grid" >
		@(Html.Kendo().Grid<PlatformMessageConfig>()
		      .Name("MessagesGrid")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.Name).Title("Message Name");
				      columns.Bound(c => c.LastModified).Title("Last").Format("{0:M/dd/yyyy}").Width(90).HtmlAttributes(new { @class = "centered-column" });
				      columns.Bound(c => c.ActiveStart).Title("Start").Format("{0:M/dd/yyyy}").Width(90).HtmlAttributes(new { @class = "centered-column" });
				      columns.Bound(c => c.ActiveEnd).Title("End").Format("{0:M/dd/yyyy}").Width(90).HtmlAttributes(new { @class = "centered-column" });
				      
			      })

		      .DataSource(ds => ds.Ajax()
		                          .Read(read => read.Action("PlatformMessagesEditGrid", "SupportCenter"))
		                          .Model(model => model.Id(a => a.ID)).ServerOperation(false))

		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      .Selectable()
		      .Scrollable(s => s.Height("85px"))
		      .Events(e =>
			      {
				      e.DataBound("SCMessages.messagesBound");
				      e.Change("SCMessages.messagesEdit");
			      })
			  )
	</div>

	<div class="message-edit">
		<div id="dynamic-ui" class="dynamic-section">
			<div data-template="fieldsTemplate" data-bind="source: fields"></div>
		</div>
		
		@using (Ajax.BeginForm("PlatformMessages", "SupportCenter", new {area = "SupportCenter"},
		                       new AjaxOptions
			                       {
									   OnBegin = "SCMessages.BeginSubmitMessages",
									   OnSuccess = "SCMessages.MessageInfoSave",
				                       OnFailure = "SIGlobal.formSaveFailure",
				                       LoadingElementId = "LoadingIconSaveMS",
				                       LoadingElementDuration = 2000
			                       }, new {@id = "formMessages"}))
		{

			@Html.HiddenFor(m => m.ID)
			@Html.HiddenFor(m => m.ParameterDefinitions)
			@Html.HiddenFor(m => m.Name)
	  
			<div class="info">
				<div class="section">
					@Html.CheckBoxForWithLabel(m => m.RequiresAcknowledgment, "Require User Acknowledgement")
					&nbsp;
					<label for="WhoCanAcknowledge">Who can Acknowledge:</label>
					@(Html.Kendo().DropDownListFor(m => m.WhoCanAcknowlege)
					      .DataTextField("Text")
					      .DataValueField("Value")
					      .HtmlAttributes(new {style = "width: 180px;"})
					      .BindTo(new List<SelectListItem>()
						      {
							      new SelectListItem() {Selected = true, Text = "Any member of company", Value = "Any member of company"}
						      })
						  )
				</div>
				<div class="section">
					<label>Active From:</label>
					@(Html.Kendo().DatePickerFor(m => m.ActiveStart).HtmlAttributes(new {style = "width: 120px;"}))
					<label> To:</label>
					@(Html.Kendo().DatePickerFor(m => m.ActiveEnd).HtmlAttributes(new {style = "width: 120px;"}))
				</div>
			</div>
		}
		<div style="margin-top: 8px; margin-right: 10px;">
			<div style="text-align: right; float: right;">
				<span id="resultsMessage" class="update-timestamp" ></span>
				<button id="PreviewMessage" class="k-button" type="button"><span class="k-icon k-i-restore"></span> Preview Message</button>&nbsp;
				<button id="SaveMessage" class="k-button" type="button"><span class="k-icon k-update"></span> Save Message
					<span id="LoadingIconSaveMS" style="padding-left: 5px; display: none;">
						<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
					</span>
				</button>
			</div>
			<div class="fcl"></div>	
		</div>
	</div>
</div>

<div id="PreviewWindow"></div>